<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- Append below entry to configSections. Do not overwrite the full section. -->
    <section name="dataCacheClients" type="Microsoft.ApplicationServer.Caching.DataCacheClientsSection, Microsoft.ApplicationServer.Caching.Core" allowLocation="true" allowDefinition="Everywhere" />
  </configSections>
  <configProtectedData />
  <connectionStrings>
    <add name="UCosmicContext" connectionString="Data Source=LOCALHOST\SQLEXPRESS;Initial Catalog=UCosmicTest;Integrated Security=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
    <add name="UCosmicServices" connectionString="Data Source=LOCALHOST\SQLEXPRESS;Initial Catalog=UCosmicServices;Integrated Security=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="elmah.mvc.requiresAuthentication" value="true" />
    <add key="elmah.mvc.allowedRoles" value="Elmah Viewer" />
    <add key="elmah.mvc.route" value="errors/elmah" />
    <add key="elmah.mvc.disableHandler" value="false" />
    <add key="elmah.mvc.disableHandleErrorFilter" value="false" />
    <add key="DeployedTo" value="develop.ucosmic.com" />
    <add key="AzureStorageData" value="UseDevelopmentStorage=true" />
    <add key="GeoNamesUserName" value="danludwig" />
    <add key="GeoPlanetAppId" value="IQ8qmdzV34Fym0.ZGgLAT2e0t0ZR.IL9seudXbNvocaGxOgk34gtQpa7uWPDStsaWgvco5rW8Lo-" />
    <add key="SamlRealServiceProviderEntityId" value="https://develop.ucosmic.com/sign-on/saml/2" />
    <add key="SamlRealCertificateThumbprint" value="1945D599DF7F3B3D6513C87A8CDDF4CE6E0899B6" />
    <add key="SamlTestServiceProviderEntityId" value="https://develop.ucosmic.com/sign-on/saml/2" />
    <add key="SamlTestCertificateThumbprint" value="1945D599DF7F3B3D6513C87A8CDDF4CE6E0899B6" />
    <add key="ConfirmEmailUrlFormat" value="https://develop.ucosmic.com/confirm-email/{0}/{1}" />
    <add key="DefaultMailFromAddress" value="cloud@ucosmic.org" />
    <add key="DefaultMailFromDisplayName" value="UCosmic.com" />
    <add key="DefaultMailReplyToAddress" value="ucosmic@ucosmic.com" />
    <add key="DefaultMailReplyToDisplayName" value="UCosmic.com" />
    <add key="EmergencyMailAddresses" value="Dan.Ludwig@ucosmic.org" />
    <add key="ReportMailAddresses" value="corarito@usf.edu" />
    <add key="MailInterceptAddress" value="Dan.Ludwig@ucosmic.org" />
    <add key="MachineValidationAlgorithm" value="SHA1" />
    <add key="MachineValidationKey" value="50D6957AB1689E87D2A48669469912BB6AD6F1E9CB2983FD8879CC3448356DECA420F6AE81A2128867C272C3C42D3A2DBE200473B85FFF170D5CAF1508DA7F14" />
    <add key="MachineDecryptionAlgorithm" value="AES" />
    <add key="MachineDecryptionKey" value="0E59151CEEF4CB8C5A58582857A11830AB9F0D455A0C2825B0D56CF1FEE322BF" />
    <add key="LocalApiEncryptionSecret" value="19429BD133CEF2179FFB7AA800D2F57A6BF8477543271ECF6277EFADAD7B356B0E43B57C095EAE66FAD02FCDA7728BE7E3CB1A07780D0F437FCCA58D80023D5E" />
    <add key="TestMailServer" value="App_Data/mail" />
    <add key="TestMailInbox" value="content/mail" />
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory">
        <specifiedPickupDirectory pickupDirectoryLocation="App_Data/mail" />
        <network host="localhost" />
      </smtp>
      <!--<smtp deliveryMethod="Network">
        <network host="smtp.roadrunner.com" />
      </smtp>-->
    </mailSettings>
  </system.net>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="NGeoBinding" allowCookies="true" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000">
          <readerQuotas maxDepth="32" maxArrayLength="200000000" maxStringContentLength="200000000" />
        </binding>
      </webHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://api.geonames.org" binding="webHttpBinding" bindingConfiguration="NGeoBinding" contract="NGeo.GeoNames.IInvokeGeoNamesServices" behaviorConfiguration="NGeoBehavior" />
      <endpoint address="http://where.yahooapis.com/v1" binding="webHttpBinding" bindingConfiguration="NGeoBinding" contract="NGeo.Yahoo.GeoPlanet.IInvokeGeoPlanetServices" behaviorConfiguration="NGeoBehavior" />
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="NGeoBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          name="AzureDiagnostics">
          <filter type="" />
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
  <dataCacheClients></dataCacheClients>
</configuration>