@import '../../../sass/bootstrap';

#geochart_box {
    position: relative;

    .chart-bg {
        position: absolute;
        width: 100%;
        height: 500px;
        background-color: #acccfd;
        top: 0;
        left: 0;
    }

    #google_geochart {
        overflow: hidden;
    }

    .overlays {
        .data-pivoter {
            @include border-box;
            border: solid 1px #000;
            position: absolute;
            top: 5px;
            right: 5px;
            height: 20px;
            background-color: #fff;
            font-family: Arial;
            font-size: 12px;

            [type=button] {
                @include border-radius(0);
                border: 0;
                margin: 0;
                padding: 0;
                background-color: transparent;
                color: #000 !important;
                height: 18px;
                width: 70px;
                cursor: pointer;
                text-align: center;

                &.active {
                    font-weight: bold;
                }

                &:first-child {
                    border-right: solid 1px #000;
                }
            }
        }

        .places {
            li.pacific-ocean {
                left: 68px;
                top: 349px;
                $width: 44px;
                $height: 26px;
                width: $width;
                height: $height;
                img {
                    width: $width;
                    height: $height;
                }
            }
            li.gulf-of-mexico {
                left: 160px;
                top: 285px;
                $width: 39px;
                $height: 21px;
                width: $width;
                height: $height;
                img {
                    width: $width;
                    height: $height;
                }
            }
            li.caribbean-sea {
                left: 203px;
                top: 317px;
                $width: 74px;
                $height: 11px;
                width: $width;
                height: $height;
                img {
                    width: $width;
                    height: $height;
                }
            }
            li.atlantic-ocean {
                left: 240px;
                top: 265px;
                $width: 51px;
                $height: 26px;
                width: $width;
                height: $height;
                img {
                    width: $width;
                    height: $height;
                }
            }
            li.southern-ocean {
                left: 280px;
                top: 441px;
                $width: 58px;
                $height: 26px;
                width: $width;
                height: $height;
                img {
                    width: $width;
                    height: $height;
                }
            }
            li.arctic-ocean {
                left: 330px;
                top: 23px;
                $width: 41px;
                $height: 26px;
                width: $width;
                height: $height;
                img {
                    width: $width;
                    height: $height;
                }
            }
            li.indian-ocean {
                left: 469px;
                top: 390px;
                $width: 41px;
                $height: 26px;
                width: $width;
                height: $height;
                img {
                    width: $width;
                    height: $height;
                }
            }
            li.antarctica {
                left: 340px;
                bottom: 0;
                $width: 285px;
                $height: 35px;
                width: $width;
                height: $height;
                img {
                    width: $width;
                    height: $height;
                }
            }
            ul.data {
                display: none;
                li {
                    position: absolute;
                }
            }
            ul.ui {
                li {
                    position: absolute;
                    border: solid 0 #000;
                    line-height: 0;
                    > * {
                        position: absolute;
                    }
                    .hit img {
                        position: absolute;
                        border: solid 0 red; 
                    }
                }
            }
        }
    }

    &.keep-aspect-ratio-480 {
        .chart-bg {
            height: 480px;
        }

        .overlays {
            .places {
                li.gulf-of-mexico {
                    top: 270px;
                }
                li.caribbean-sea {
                    top: 296px;
                }
                li.atlantic-ocean {
                    left: 248px;
                    top: 245px;
                }
                li.southern-ocean {
                    left: 280px;
                    top: 401px;
                }
                li.indian-ocean {
                    left: 475px;
                    top: 350px;
                }
            }
        }
    }
}

.ui-tooltip.geochart {
    position: absolute;
    max-width: 300px;
    font-family: Arial;
    font-size: 13px;
    background-color: transparent;
    background-image: none;
    border-radius: 0;
    border: 0;

    .ui-tooltip-content {
        display: inline-block;
        border-radius: 0;
        border: solid 1px #ccc;
        padding: 7px;
        background-color: #fff;
        box-shadow: 1px 1px 1px 0 #999;

        .total {
            margin-top: 4px;
            padding-bottom: 1px;
        }
    }
}

a.global-view {
    display: inline-block;
    line-height: 28px;
    &:link, &:visited, &:hover,  &:active {
        text-decoration: none !important;
        color: #000 !important;
        opacity: 0.5;
    }
    &:hover {
        opacity: 0.9;
    }
}

.summary-sidebar {
    margin-top: 20px;

    #activity_type_chart_box {

        margin: 1em 0 2em;;

        .heading {
            .title {
                font-weight: bold;
            }
            .pivot-buttons {
                font-size: 12px;
                font-family: Arial;
                line-height: 20px;
                height: 20px;
                vertical-align: middle;
                a {
                    vertical-align: middle;
                }
            }
        }

        .place {
            margin-top: 4px;
            position: relative;
            z-index: 1;
            .text {
                font-size: 12px;
                font-family: Arial;
            }
        }

        #google_activity_type_chart {
            margin-top: -8px;
            height: 140px;
        }

        ul.icons {
            position: relative;
            margin-top: -12px;
            margin-left: 10px;
            li {
                width: 50px;
                float: left;
                text-align: center;
                img {
                    @include transition(opacity, 250ms);
                    width: 32px;
                    height: 32px;
                    opacity: 0.7;
                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
    }

    #activity_year_chart_box {

        margin: 1em 0 2em;

        .heading {
            .title {
                font-weight: bold;
            }
            .pivot-buttons {
                font-size: 12px;
                font-family: Arial;
                line-height: 20px;
                height: 20px;
                vertical-align: middle;
                a {
                    vertical-align: middle;
                }
            }
        }

        .place {
            margin-top: 4px;
            position: relative;
            z-index: 1;
            .text {
                font-size: 12px;
                font-family: Arial;
            }
        }
    }
}
