
@{
    var tenancy = Request.Tenancy();
    var styleDomain = tenancy != null ? tenancy.StyleDomain : "default";
    var hasStyleDomain = !string.IsNullOrWhiteSpace(styleDomain);
}
<ul class="group">
    <li class="about">
        <a href="/about/about">About</a>
    </li>

    <li class="current_modules">
        <a href="/About/current_modules">Current Modules</a>
    </li>

    <li class="future_modules">
        <a href="/About/future_modules">Future Modules</a>
    </li>

    <li class="news">
        <a href="/About/news">News</a>
    </li>

    <li class="members">
        <a href="/About/members">Members</a>
    </li>

    <li class="benefits_fees">
        <a href="/About/benefits_fees">Benefits & Fees</a>
    </li>

    <li class="join">
        <a href="/About/join">Join</a>
    </li>

    <li class="blog">
        <a href="/About/blog">Blog</a>
    </li>
</ul>