@{
    var tenancy = Request.Tenancy();
    var styleDomain = tenancy != null ? tenancy.StyleDomain : "default";
    var hasStyleDomain = !string.IsNullOrWhiteSpace(styleDomain);
}
<ul class="group">
    <li class="search">
        <a href="@Url.Action(hasStyleDomain ? MVC.Agreements.TenantIndex(styleDomain) : MVC.Agreements.Index())">Search</a>
    </li>
    @if (User.IsInAnyRole(RoleName.AgreementManagers))
    {
        <li class="new">
            <a href="@Url.Action(MVC.Agreements.New())">New</a>
        </li>
    }
    @if (ViewBag.Edit != null)
    {
        <li class="edit">
            <span>Edit</span>
        </li>
    }
    @if (ViewBag.Show != null)
    {
        <li class="view">
            <span>View</span>
        </li>
    }
    @if (User.IsInAnyRole(RoleName.AgreementSupervisor))
    {
        <li class="settings">
            <a href="@Url.Action(MVC.Agreements.Settings())">Settings</a>
        </li>
    }
</ul>
