<section id="effectiveDatesCurrentStatus">
                <header>
                    <h2>
                        Effective Dates & Current Status
                    </h2>
                </header>
                <div class="field-table w690-l190-v500">
                    <div class="field-row">
                        <div class="field-column-left">
                            <div class="field-label-top required">
                                <label>Start date</label><i>(required, public visibility)</i>
                            </div>
                            <div class="field-input-label-top">
                                <input class="hasDate" type="text" data-bind="value: startDate" placeholder="[Select a start date]"  />
                            </div>
                            <div class="field-label-description">If there is no exact start or effective date for this agreement, enter an approximate date.
                                
                            </div>
                        </div>
                        <div class="field-column-right">
                            <div class="field-label-top required">
                                <label>
                                    Expiration date
                                </label>
                                <i>(required, protected visibility)</i>
                            </div>
                            <div class="field-input-label-top">
                                <input class="hasDate" type="text" data-bind="value: expDate" placeholder="[Select an expiration date]"  />
                            </div>
                            <div class="field-label-description">The expiration date may determine when you are notified to review this agreement.
                                
                            </div>
                            <div class="field-label-description" id="helpExpDate" style="cursor: pointer; width: 100%; color: blue">
                                Why is this required 
                                    <img src="~/images/icons/help/question-mark-24-blue.png" style="width: 16px; position: relative; top: -4px" alt="Help with expiration date" />
                            </div>
                            <div>
                                <label><input style="margin-top: 10px;"  type="checkbox" data-bind="value: isEstimated" />This expiration date is estimated (agreement should be reviewed by this date)</label>
                            </div>
                        </div>
                    </div>
                    <div class="field-row">
                        <div class="field-column-left">
                            <div class="field-label-top required">
                                <label>Auto renew</label>
                                <i>(protected visibility)</i>
                            </div>
                            <div>
                                <label><input name="autoRenew" type="radio" value="1" data-bind="checked: autoRenew"/>This agreement is auto-renewable.</label><br/>
                                <label><input name="autoRenew" type="radio" value="0" data-bind="checked: autoRenew"/>This agreement is not auto-renewable.</label><br/>
                                <label><input name="autoRenew" type="radio" value="2" data-bind="checked: autoRenew"/>Auto renew is unknown or open ended.</label> 
                            </div>
                        </div>
                        <div class="field-column-right">
                            <div class="field-label-top required">
                                <label>Current Status</label>
                                <i>(required, public visibility)</i>
                            </div>
                            <div class="field-input-label-top">
                                <input id="statusOptions" type="text" placeholder="[None]" 
                                       data-bind="value: statusOptionSelected, valueUpdate: 'afterkeydown', jqObservableElement: '$statusOptions'" />
                            </div>
                            <div data-bind="visible: isCustomStatusAllowed" class="field-label-description">
                                Select from the drop-down list of pre-existing agreement status or enter a custom one in the text box above.
                                
                            </div>
                            <div data-bind=" visible: !isCustomStatusAllowed()" class="field-label-description">
                                Select from the drop-down list of pre-existing agreement status.
                                
                            </div>
                        </div>
                    </div>
                </div>
            </section>