<nav class="side">
    <ul>
        <li class="current" id="nav_participants">
            <a href="#" class="group" data-bind="click: scrollBody.goToSection.bind($data, 'participants')">
                <div class="arrow"></div>
                <span class="text">Participants</span>
            </a>
        </li>
        <li id="nav_basic_info">
            <a href="#" class="group" data-bind="click: scrollBody.goToSection.bind($data, 'basic_info')">
                <div class="arrow"></div>
                <span class="text">Basic Info</span>
            </a>
        </li>
        <li  id="nav_effective_dates_current_status">
            <a href="#" class="group" data-bind="click: scrollBody.goToSection.bind($data, 'effective_dates_current_status')">
                <div class="arrow"></div>
                <span class="text">Dates &amp; Status</span>
            </a>
        </li>
        <li id="nav_contacts">
            <a href="#" class="group" data-bind="click: scrollBody.goToSection.bind($data, 'contacts')">
                <div class="arrow"></div>
                <span class="text">Contacts</span>
            </a>
        </li>
        <li id="nav_file_attachments">
            <a href="#" class="group" data-bind="click: scrollBody.goToSection.bind($data, 'file_attachments')">
                <div class="arrow"></div>
                <span class="text">File Attachments</span>
            </a>
        </li>
        <li id="nav_overall_visibility">
            <a href="#" class="group" data-bind="click: scrollBody.goToSection.bind($data, 'overall_visibility')">
                <div class="arrow"></div>
                <span class="text">Visibility</span>
            </a>
        </li>
    </ul>
</nav>
