<section id="overall_visibility">
    <header>
        <h2>
            Overall Visibility
        </h2>
    </header>
    <div class="field-table w690-l190-v500">
        <div class="field-row">
            <div class="field-input-label-top">
                <label style="display: block;"><input name="overallVisibility" value="Public" type="radio" class="radio" data-bind="checked: visibility" /><strong>Public:</strong> Limits viewing to the general public</label>
                <label style="display: block;"><input name="overallVisibility" value="Protected" type="radio" class="radio" data-bind="checked: visibility"/><strong>Protected:</strong> Limits viewing to your University/Institution community members</label>
                <label style="display: block;"><input name="overallVisibility" value="Private" type="radio" class="radio" data-bind="checked: visibility"/><strong>Private:</strong> Limits viewing to UCosmic® administrators only</label>
            </div>
            <div class="field-label-description">Select one of the options above to control the overall visibility of this entire agreement. For example, you can use these options to show / hide the agreement to / from the public in search results.</div>
        </div>
    </div>
</section>