<section id="participants">
    <header>
        <h2>
            Participants
        </h2>
    </header>
    <div>
        <ul data-bind="foreach: participants">
            <li data-bind="element: 'participantEl'">
                <div class="typed-item">
                    <a title="Remove this participant" data-bind="click: $root.removeParticipant"><i class="red minus on-right"></i></a>
                    <div class="type">
                        <span data-bind="visible: isOwner">Home</span>
                        <span data-bind="visible: !isOwner()">Partner</span>
                    </div>
                    <div class="item">
                        <div>
                            <strong data-bind="text: establishmentTranslatedName"></strong>
                            <span data-bind="visible: $root.officialNameDoesNotMatchTranslation">(<span data-bind="    text: establishmentOfficialName"></span>)</span>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <footer>
        <a data-bind="click: addParticipant" class="button">
            <i class="green plus"></i>
            <span class="text">Add a participant</span>
        </a>
        <span class="validationMessage" style="display: none;" id="participants_error_msg"><span data-bind="text: participantsErrorMsg, visible: participantsShowErrorMsg"></span></span>
        <span class="validationMessage" style="display: none;" data-bind="text: editParticipantsErrorMsg, visible: editParticipantsShowErrorMsg"></span>
    </footer>
</section>