<section id="overallVisibility">
                <header>
                    <h2>
                        Overall Visibility
                    </h2>
                </header>
                <div class="field-table w690-l190-v500">
                    <div class="field-row">
                        <div class="field-input-label-top">
                            <label><input name="overallVisibility" type="radio" class="radio" data-bind="checked: visibility" /><strong>Public:</strong> anyone on the Internet to find this agreement.</label><br/>
                            <label><input name="overallVisibility" type="radio" class="radio" data-bind="checked: visibility"/><strong>Protected:</strong> Hide this agreement from the public, but allow my employees and students to find it.</label><br/>
                            <label><input name="overallVisibility" type="radio" class="radio" data-bind="checked: visibility"/><strong>Private:</strong> Allow only UCosmic administrators to find this agreement.</label>
                        </div>
                        <div class="field-label-description">Select one of the options above to control the overall visibility of this entire agreement. For example, you can use these options to show / hide the agreement to / from the public in search results.</div>
                    </div>
                </div>
            </section>