<section id="contacts">
    <header>
        <h2>
            Contacts
        </h2>
    </header>

    <div >
        <ul data-bind="foreach: contacts">
            <li>
                <div class="typed-item2">
                    <a title="Remove this contact" data-bind="click: $root.removeContact"><i class="red minus on-right"></i></a>
                    <a title="Edit this contact" data-bind="click: $root.editAContact"><i class="edit on-right"></i></a>
                                
                    <div class="item">
                        <div>
                            <strong data-bind="text: type() + ': '"></strong><span data-bind="text: displayName() + ', '"></span>
                            <a data-bind="attr: {href: 'mailto:' + emailAddress()}, text: emailAddress"></a>
                            <br/>
                            <table>
                                <tr>
                                    <td data-bind="visible: title() != undefined && title() != ''" >
                                        <span data-bind="text: title" ></span>, 
                                    </td>
                                    <td>
                                        <ul data-bind="foreach: phones"style="margin-left: 10px">
                                            <li  class="phoneList">
                                                <span data-bind="text: type() ? type() + ': ' + value(): '[None]: ' + value()"></span>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <footer id="addAContact">
        <a href="" data-bind="click: addAContact" class="button">
            <i class="green plus"></i>
            <span class="text">Add a contact</span>
        </a>
    </footer>
    <div id="addContactDialog">
        <div class="field-table w690-l190-v500" id="addContact">
            <div class="field-row">
                <div class="field-column-left">
                    <div class="field-label-top required">
                        <label>Contact type</label>
                        <i>(required, public visibility)</i>
                    </div>
                    <div class="field-input-label-top">
                        <input id="contactTypeOptions" type="text" placeholder="[None]" 
                               data-bind="value: contactTypeOptionSelected, valueUpdate: 'afterkeydown', jqObservableElement: '$contactTypeOptions'" />
                    </div>
                    <div data-bind="visible: isCustomContactTypeAllowed" class="field-label-description">
                        Select from the drop-down list of pre-existing agreement contactType or enter a custom one in the text box above.
                    </div>
                    <div data-bind=" visible: !isCustomContactTypeAllowed()" class="field-label-description">
                        Select from the drop-down list of pre-existing agreement contactType.
                    </div>
                </div>
                <div class="field-column-right">
                    <div class="field-label-top required">
                        <label>Email address</label>
                        <i>(required, public visibility)</i>
                        <i><strong style="color: blue">(searchable)</strong></i>
                    </div>
                    <div class="field-input-label-top">
                        <input id="contactEmail" type="text" data-bind="value: contactEmail" />
                    </div>
                </div>
            </div>
            <div class="field-row">
                <div class="field-column-left">
                    <div class="field-label-top">
                        <label>Salutation</label>
                    </div>
                    <div class="field-input-label-top" >
                        <input id="contactSalutation" type="text" placeholder="[None]" 
                               data-bind="value: contactSalutationSelected, valueUpdate: 'afterkeydown', jqObservableElement: '$$contactSalutation'" />
                    </div>
                </div>
                <div class="field-column-right">
                    <div class="field-label-top required">
                        <label>First name</label>
                        <i><strong style="color: blue">(searchable)</strong></i>
                    </div>
                    <div class="field-input-label-top">
                        <input id="contactFirstName" type="text" data-bind="value: contactFirstName" />
                    </div>
                </div>
            </div>
            <div class="field-row">
                <div class="field-column-left">
                    <div class="field-label-top">
                        <label>Middle name</label>
                    </div>
                    <div class="field-input-label-top">
                        <input id="contactMiddleName" type="text" data-bind="value: contactMiddleName" />
                    </div>
                </div>
                <div class="field-column-right">
                    <div class="field-label-top required">
                        <label>Last name</label>
                        <i><strong style="color: blue">(searchable)</strong></i>
                    </div>
                    <div class="field-input-label-top">
                        <input id="contactLastName" type="text" data-bind="value: contactLastName" />
                    </div>
                </div>
            </div>
            <div class="field-row">
                <div class="field-column-left">
                    <div class="field-label-top">
                        <label>Suffix</label>
                    </div>
                    <div class="field-input-label-top">
                        <input id="contactSuffix" type="text" placeholder="[None]" 
                               data-bind="value: contactSuffixSelected, valueUpdate: 'afterkeydown', jqObservableElement: '$$contactSuffix'" />
                    </div>
                </div>
                <div class="field-column-right">
                    <div class="field-label-top">
                        <label>Job title</label>
                    </div>
                    <div class="field-input-label-top">
                        <input type="text" data-bind="value: contactJobTitle" />
                    </div>
                </div>
            </div>
            <ul data-bind="foreach: contactPhones" style="margin-top: 40px; margin-bottom: 16px">
                <li>
                    <div class="field-row" style="margin-bottom: 5px">
                        <div class="field-column-left">
                            <div class="field-label-top" data-bind="visible: ($index() == 0)">
                                <label>Phones</label>
                            </div>
                            <div class="field-input-label-top">
                                <input class="phoneNumbers" type="text" data-bind="value: value" />
                            </div>
                            <div style="color: red; visibility: hidden;" data-bind="attr: { id: 'phoneNumberValidate' + id }" class="field-label-description">
                                Phone number is required.
                            </div>
                        </div>
                        <div class="field-column-right">
                            <div class="field-label-top" data-bind="visible: ($index() == 0)">
                                <label>Phone types</label>
                            </div>
                            <div class="field-input-label-top" style="width: 395px">
                                <input class="phoneTypes" type="text" placeholder="[None]" 
                                       data-bind="value: type, valueUpdate: 'afterkeydown', attr: { id: 'phoneTypes' + $index }" />
                            </div>
                            <a title="Remove this phone" data-bind="click: $root.removePhone"><i class="red minus on-right"></i></a>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="field-row">
                <div class="field-column-left">
                    <div class="field-label-top">
                        <label>New phone</label>
                    </div>
                    <div class="field-input-label-top"  style="width: 400px">
                        <input type="text" data-bind="value: contactPhoneTextValue" />
                    </div>
                    <a title="add phone" data-bind="click: addPhone" class="addLink on-right"><i class="green plus"></i></a>
                </div>
            </div>
            <footer>
                <a href="" data-bind="click: addContact, visible: !contactsIsEdit()" class="button" style="float: left">
                    <i class="green plus"></i>
                    <span class="text">Add contact</span>
                </a>
                <a href="" data-bind="click: editContact, visible: contactsIsEdit" class="button" style="float: left">
                    <i class="green plus"></i>
                    <span class="text">Save Changes</span>
                </a>
                <a href="" data-bind="click: clearContact, visible: !contactsIsEdit()" class="link" style="float: left; font-size: 26px; margin-right: 10px;">
                    <span class="text">Clear</span>
                </a>
                <a href="" data-bind="click: cancelContact" class="link" style="float: left; font-size: 26px">
                    <span class="text">Cancel</span>
                </a>
            </footer><br/>
        </div>
    </div>
</section>
