<nav class="side">
    <ul>
        <li class="current" id="navParticipants">
            <a href="#" class="group" data-bind="click: scrollBody.goToSection.bind($data, 'participants')">
                <div class="arrow"></div>
                <span class="text">Participants</span>
            </a>
        </li>
        <li id="navBasicInfo">
            <a href="#" class="group" data-bind="click: scrollBody.goToSection.bind($data, 'basicInfo')">
                <div class="arrow"></div>
                <span class="text">Basic Info</span>
            </a>
        </li>
        <li  id="navEffectiveDatesCurrentStatus">
            <a href="#" class="group" data-bind="click: scrollBody.goToSection.bind($data, 'effectiveDatesCurrentStatus')">
                <div class="arrow"></div>
                <span class="text">Dates &amp; Status</span>
            </a>
        </li>
        <li id="navContacts">
            <a href="#" class="group" data-bind="click: scrollBody.goToSection.bind($data, 'contacts')">
                <div class="arrow"></div>
                <span class="text">Contacts</span>
            </a>
        </li>
        <li id="navFileAttachments">
            <a href="#" class="group" data-bind="click: scrollBody.goToSection.bind($data, 'fileAttachments')">
                <div class="arrow"></div>
                <span class="text">File Attachments</span>
            </a>
        </li>
        <li id="navOverallVisibility">
            <a href="#" class="group" data-bind="click: scrollBody.goToSection.bind($data, 'overallVisibility')">
                <div class="arrow"></div>
                <span class="text">Visibility</span>
            </a>
        </li>
    </ul>
</nav>
