<nav class="side">
    <ul>
        <li class="current" id="nav_participants">
            <a href="#" class="group" >
                <span class="arrow"></span>
                <span class="text">Participants</span>
            </a>
        </li>
        <li id="nav_basic_info">
            <a href="#" class="group">
                <span class="arrow"></span>
                <span class="text">Basic Info</span>
            </a>
        </li>
        <li  id="nav_effective_dates_current_status">
            <a href="#" class="group" >
                <span class="arrow"></span>
                <span class="text">Dates &amp; Status</span>
            </a>
        </li>
        <li id="nav_contacts">
            <a href="#" class="group" >
                <span class="arrow"></span>
                <span class="text">Contacts</span>
            </a>
        </li>
        <li id="nav_file_attachments">
            <a href="#" class="group">
                <span class="arrow"></span>
                <span class="text">File Attachments</span>
            </a>
        </li>
        <li id="nav_overall_visibility">
            <a href="#" class="group">
                <span class="arrow"></span>
                <span class="text">Visibility</span>
            </a>
        </li>
    </ul>    
</nav>
