@using UCosmic.Domain.Agreements
<section id="publicView">
    <header data-bind="visible: name">
        <h2>
            <em data-bind="text: name, visible: name"></em>
        </h2>
    </header>
    <div data-bind="visible: isBound" style="display: none; font-size: 24px;">
        <div style="margin-bottom: 20px;">
            <div data-bind="text: type" style="margin-bottom: 20px;"></div>
            @*<div data-bind="html: participantsNames" style="margin-bottom: 20px;"></div> *@
            <div data-bind="foreach: participants" style="margin-bottom: 30px;">
                <div style="margin-bottom: 20px;">
                    <strong style="display: block;" data-bind="text: establishmentTranslatedName,
                        visible: (establishmentTranslatedName != null && establishmentOfficialName != establishmentTranslatedName)"></strong>
                    <span data-bind="text: '(' + establishmentOfficialName + ')',
                        visible: (establishmentTranslatedName != null && establishmentOfficialName != establishmentTranslatedName && establishmentOfficialName != null)"></span>
                    <strong style="display: block;" data-bind="text: establishmentOfficialName,
                        visible: (establishmentTranslatedName === null || establishmentOfficialName === establishmentTranslatedName)"></strong>
                
                </div>
            </div>
            <div style="font-size: 18px;">
                @if (ViewBag.AgreementVisibility == AgreementVisibility.Private)
                {
                    <span class="light-transparent badge" data-bind="text: status" style="font-size: 14px; margin: 0 4px 0 0;"></span>
                }
                <strong data-bind="text: startsOnDate"></strong>
                @if (ViewBag.AgreementVisibility != AgreementVisibility.Public)
                {
                    <span>-</span>
                    <strong data-bind="text: expiresOnDate"></strong>
                }
            </div>
            @if (ViewBag.AgreementVisibility != AgreementVisibility.Public)
            {
                <div style="font-size: 16px; margin-top: 4px;">
                    <span data-bind="visible: isAutoRenew() === true">This agreement renews automatically.</span>
                    <span data-bind="visible: isAutoRenew() === false">This agreement does not renew automatically.</span>
                    <span data-bind="visible: isAutoRenew() === undefined">This agreement is open-ended.</span>
                </div>
            }
        </div>
        <div data-bind="html: content, visible: content() != undefined" style="font-size: 20px;"></div>
        <div data-bind="visible: files.length > 0" style="padding-top: 20px;">
            <ul data-bind="foreach: files">
                <li data-bind="element: 'fileE1'">
                    <div>
                        <div class="on-left" style="padding-right: 10px;">
                            <div>
                                <a title="View this file" href="#" target="_blank" data-bind="attr: { href: '/api/agreements/' + $root.agreementId + '/files/' + id() + '/content/' }"><strong data-bind="    text: customName, visible: !isEdit()"></strong></a>
                            </div>
                        </div>
                        <a title="Download this file" data-bind="attr: { href: '/api/agreements/' + $root.agreementId + '/files/' + id() + '/download/' }"><i class="download on-left"></i></a>

                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div style="display: none">
        <span id="agreementPartners_api">@ViewBag.AgreementPartnersApi</span> @* for map *@
    </div>
</section>
