@using UCosmic.Domain.Agreements
<section id="publicView" data-bind="visible: isBound" style="display: none;">

    @* PARTICIPANTS *@
    <div data-bind="foreach: participants">
        <div style="margin-bottom: 1em;">
            <div style="font-size: 24px; font-family: Arial;">
                <strong data-bind="text: establishmentTranslatedName"></strong>
            </div>
            <div data-bind="visible: url || establishmentOfficialName" style="display: none; line-height: 20px;">
                <a data-bind="text: url, attr: { href: 'http://{0}'.format(url), target: '_blank' }"></a>
                <span data-bind="visible: establishmentOfficialName">(<span style="" data-bind="    text: establishmentOfficialName"></span>)</span>
            </div>
        </div>
    </div>

    @* AGREEMENT TYPE AS H2 *@
    <header>
        <h2 data-bind="text: type"></h2>
        <div>
            <h3 data-bind="text: name, visible: name" style="line-height: 20px; text-transform: none;"></h3>
        </div>
    </header>

    @* STATUS, DATES, & AUTORENEW *@
    <div style="margin: 1em 0;">
        <div>
            @* STATUS HAS PRIVATE VISIBILITY *@
            @if (ViewBag.AgreementVisibility == AgreementVisibility.Private)
            {
                <span class="light-transparent badge" data-bind="text: status" style="margin: 0 4px 0 0;"></span>
            }
            <span style="font-family: Arial; line-height: 22px; font-size: 18px; display: inline-block;">
                <span data-bind="text: startsOnDate"></span>
                @* EXPIRATION DATE HAS PROTECTED VISIBILITY *@
                @if (ViewBag.AgreementVisibility != AgreementVisibility.Public)
                {
                    <span>-</span>
                    <span data-bind="text: expiresOnDate"></span>
                }
            </span>
        </div>
        @* AUTORENEW HAS PROTECTED VISIBILITY *@
        @if (ViewBag.AgreementVisibility != AgreementVisibility.Public)
        {
            <div style="line-height: 24px;">
                <span data-bind="visible: isAutoRenew() == true">This agreement renews automatically.</span>
                <span data-bind="visible: isAutoRenew() == false">This agreement does not renew automatically.</span>
                <span data-bind="visible: isAutoRenew() == undefined">This agreement is open-ended.</span>
            </div>
        }
    </div>

    <div data-bind="html: content, visible: content() != undefined" style="font-size: 18px; margin-bottom: 1em;"></div>

    <div data-bind="visible: files().length > 0" style="font-size: 16px; line-height: 24px; margin-bottom: 1em;">
        <ul data-bind="foreach: files">
            <li data-bind="element: 'fileE1'">
                <div>
                    <span style="padding-right: 10px;">
                        @*<a title="View this file" href="#" target="_blank" data-bind="attr: { href: '/api/agreements/' + $root.agreementId + '/files/' + id() + '/content/' }">*@
                        <a title="View this file" href="#" target="_blank" data-bind="attr: { href: $root.fileHref($parent, $data) }">
                            <img data-bind="visible: customNameExt() == '.doc' || customNameExt() == '.docx'" src="~/images/icons/files/doc.png" height="20" style="margin-right: 4px;" />
                            <img data-bind="visible: customNameExt() == '.pdf'" src="~/images/icons/files/pdf.png" height="20" style="margin-right: 4px;" />
                            <img data-bind="visible: customNameExt() == '.ppt'" src="~/images/icons/files/ppt.png" height="20" style="margin-right: 4px;" />
                            <img data-bind="visible: customNameExt() == '.xls'" src="~/images/icons/files/xls.png" height="20" style="margin-right: 4px;" />
                            <img data-bind="visible: customNameExt() == '.xvf'" src="~/images/icons/files/unknown.png" height="20" style="margin-right: 4px;" />
                            <strong data-bind="text: customName, visible: !isEdit()"></strong>
                        </a>
                    </span>
                    @*<a title="Download this file" data-bind="attr: { href: '/api/agreements/' + $root.agreementId + '/files/' + id() + '/download/' }">*@
                    <a title="View this file" href="#" target="_blank" data-bind="attr: { href: $root.fileDownloadHref($parent, $data) }">
                        <img src="~/images/icons/download/green-down-24.png" style="width: 20px; height: 20px;" /></a>
                </div>
            </li>
        </ul>
    </div>

    @*<div data-bind="html: contacts, visible: contacts() != undefined" style="font-size: 18px;margin-bottom: 1em;">
        <ul data-bind="foreach: contacts">
            <li>
                <div class="typed-item2">
                    <a title="Remove this contact" data-bind="click: $root.removeContact"><i class="red minus on-right"></i></a>
                    <a title="Edit this contact" data-bind="click: $root.editAContact"><i class="edit on-right"></i></a>
                    <div class="item">
                        <div>
                            <div>
                                <strong data-bind="text: type() + ': '"></strong><span data-bind="text: displayName() + ', '"></span>
                                <a data-bind="attr: {href: 'mailto:' + emailAddress()}, text: emailAddress"></a>
                            </div>
                            <table>
                                <tr>
                                    <td data-bind="visible: title() != undefined && title() != ''" >
                                        <span data-bind="text: title" ></span>, 
                                    </td>
                                    <td>
                                        <ul data-bind="foreach: phones"style="margin-left: 10px">
                                            <li  class="phoneList">
                                                <span data-bind="text: type() ? type() + ': ' + value(): '[None]: ' + value()"></span>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>*@

    @if (ViewBag.AgreementVisibility == AgreementVisibility.Private)
    {
        <div data-bind="html: notes, visible: notes() != undefined" style="font-size: 18px; margin-bottom: 1em;"></div>
    }

    <div style="display: none">
        <span id="agreementPartners_api">@ViewBag.AgreementPartnersApi</span> @* for map *@
    </div>
</section>
