<nav class="side">
    <ul class="top">
        <li>
            <a href="@Url.Action(MVC.Agreements.New())" class="group" data-bind="click: gotoAddBack" id="pageViewSideBarBack">
                <div class="arrow"></div>
                <span class="text">
                    <img src="~/images/icons/plus/plus-20-green-disc.png" alt="" />
                    <span>Back</span>
                </span>
            </a>
        </li>
        <li>
            <a href="@Url.Action(MVC.Agreements.New())" class="group" data-bind="click: gotoAddEdit" id="pageViewSideBarEdit">
                <div class="arrow"></div>
                <span class="text">
                    <i class="edit on-right"></i>
                    <span>Edit</span>
                </span>
            </a>
        </li>
        
    </ul>
    @*<ul class="bottom">
        <li class="current">
            <a href="#" class="group">
                <div class="arrow"></div>
                <span class="text">Table</span>
            </a>
        </li>
        <li class="">
            <a href="#" class="group">
                <div class="arrow"></div>
                <span class="text">Map</span>
            </a>
        </li>
        <li class="">
            <a href="#" class="group">
                <div class="arrow"></div>
                <span class="text">Tree</span>
            </a>
        </li>
    </ul>*@
</nav>
