 <section id="basicInfo">
        <header>
            <h2>
                <em data-bind="text: name, visible: name"></em>
                <span data-bind="visible: name"><br/></span>
            </h2>
        </header>
        <div class="field-table w690-l190-v500">
            <div>
                <span>
                    <span data-bind="html: participantsNames"></span>
                </span>
                <span style="font-size: 14px;">
                    <span data-bind="text: type()"></span>
                    , Status is:
                    <strong style="color: blue;" data-bind="text: status"></strong><br/>
                    This agreement is 
                    <span data-bind="visible: !isAutoRenew()">not </span>
                    auto-renewable.
                    <br/>
                    <strong data-bind="text: startsOnDate() + ' - '"></strong>
                    <strong data-bind="text:  expiresOnDate"></strong>
                </span>
            </div>
        </div>
    </section>