@using UCosmic.Domain.Agreements
<section id="publicView" data-bind="visible: isBound" style="display: none;">

    @* PARTICIPANTS *@
    <div data-bind="foreach: participants">
        <div style="margin-bottom: 1em;">
            <div style="font-size: 24px; font-family: Arial;">
                <strong data-bind="text: establishmentTranslatedName"></strong>
            </div>
            <div data-bind="visible: url || establishmentOfficialName" style="display: none; line-height: 20px;">
                <a data-bind="text: url, attr: { href: 'http://{0}'.format(url), target: '_blank' }"></a>
                <span data-bind="visible: establishmentOfficialName">(<span style="" data-bind="    text: establishmentOfficialName"></span>)</span>
            </div>
        </div>
    </div>

    @* AGREEMENT TYPE AS H2 *@
    <header>
        <h2 data-bind="text: type"></h2>
        <div>
            <h3 data-bind="text: name, visible: name" style="line-height: 20px; text-transform: none;"></h3>
        </div>
    </header>

    @* STATUS, DATES, & AUTORENEW *@
    <div style="margin: 1em 0;">
        <div>
            @* STATUS HAS PRIVATE VISIBILITY *@
            @if (ViewBag.AgreementVisibility == AgreementVisibility.Private)
            {
                <span class="light-transparent badge" data-bind="text: status" style="margin: 0 4px 0 0;"></span>
            }
            <span style="font-family: Arial; line-height: 22px; font-size: 18px; display: inline-block;">
                <span data-bind="text: startsOnDate"></span>
                @* EXPIRATION DATE HAS PROTECTED VISIBILITY *@
                @if (ViewBag.AgreementVisibility != AgreementVisibility.Public)
                {
                    <span>-</span>
                    <span data-bind="text: expiresOnDate"></span>
                }
            </span>
        </div>
        @* AUTORENEW HAS PROTECTED VISIBILITY *@
        @if (ViewBag.AgreementVisibility != AgreementVisibility.Public)
        {
            <div style="line-height: 24px;">
                <span data-bind="visible: isAutoRenew() == true">This agreement renews automatically.</span>
                <span data-bind="visible: isAutoRenew() == false">This agreement does not renew automatically.</span>
                <span data-bind="visible: isAutoRenew() == undefined">This agreement is open-ended.</span>
            </div>
        }
    </div>

    <div style="display: none; font-size: 24px;">
        <div data-bind="html: content, visible: content() != undefined" style="font-size: 20px;"></div>
        <div data-bind="visible: files.length > 0" style="padding-top: 20px;">
            <ul data-bind="foreach: files">
                <li data-bind="element: 'fileE1'">
                    <div>
                        <div class="on-left" style="padding-right: 10px;">
                            <div>
                                <a title="View this file" href="#" target="_blank" data-bind="attr: { href: '/api/agreements/' + $root.agreementId + '/files/' + id() + '/content/' }"><strong data-bind="    text: customName, visible: !isEdit()"></strong></a>
                            </div>
                        </div>
                        <a title="Download this file" data-bind="attr: { href: '/api/agreements/' + $root.agreementId + '/files/' + id() + '/download/' }"><i class="download on-left"></i></a>

                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div style="display: none">
        <span id="agreementPartners_api">@ViewBag.AgreementPartnersApi</span> @* for map *@
    </div>
</section>
