<section id="agreement_types">
    <header style="margin-bottom: 0;">
        <h2>
            Agreement types
        </h2>
    </header>
    <p style="font-size: 14px">
        When working with institutional agreement data, users are required to specify the Agreement type.
        By default this field allows users to type any text, and a drop-down arrow can be used to suggest examples.
        You can override this behavior and restrict Agreement type options allowed for users in your organization.
    </p>
    <div class="field-table w690-l190-v500" style="margin-top:0;">
        <div class="field-row">
            <div class="field-column-left" style="width: initial;">
                <div class="field-label-top" style="margin-bottom: 12px">
                    <label>Agreement types</label>
                </div>
                <ul data-bind="foreach: typeOptions" style="margin-bottom: 8px">
                    <li>
                        <div class="field-input-label-top" style="margin-bottom: 8px; width: 295px">
                            <input class="phoneTypes" type="text" placeholder="[None]"
                                   data-bind="value: name, valueUpdate: 'afterkeydown', attr: { id: 'typeOption' + $index() }" />
                        </div>
                        <a title="Remove this type option" style="float:right;" data-bind="click: $root.removeTypeOption"><i class="red minus on-right"></i></a>
                    </li>
                </ul>
                <div data-bind="visible: typeOptions().length == 0" style="display: none;">None specified.</div>
            </div>
            <div class="field-column-right" style="width: initial;">
                <div style="width:330px; height:80px;">
                    <div class="field-label-top" style="margin-bottom: 12px">
                        <label>New agreement type</label>
                    </div>
                    <div class="field-input-label-top" style="width: 295px">
                        <input id="contactPhoneTextValue" type="text" data-bind="value: typeOption" />
                    </div>
                    <a title="add agreement type" data-bind="click: addTypeOption" class="addLink on-right"><i class="green plus"></i></a>
                </div>
                <div style="width:330px;">
                    <div style="margin-top:8px;">
                        <label>Should your users be allowed to enter custom values for agreement type?</label>
                    </div>
                    <div style="margin-top:8px;">
                        <label style="display: block;"><input name="autoRenew" type="radio" value="true" data-bind="checked: isCustomTypeAllowed" />Yes, allow my users to enter any text for agreement type.</label>
                        <label style="display: block; margin-top: 8px; "><input name="autoRenew" type="radio" value="false" data-bind="checked: isCustomTypeAllowed" />No, restrict my users to specific agreement types</label>
                    </div>
                </div>
            </div>
        </div>
        <div>What will users see?</div>
        <div class="field-row">
            <div class="field-label-top required" style="padding-top: 4px;">
                <label>Agreement type</label><i>(required, public visibility)</i>
            </div>
            <div class="field-input-label-top" data-bind="visible: isCustomTypeAllowed() == 'true'">
                <input id="type_options" type="text" placeholder="[None]"
                       data-bind="value: typeOptionSelected, valueUpdate: 'afterkeydown', jqObservableElement: '$typeOptions'" />
            </div>
            <div class="field-input-label-top" data-bind="visible: isCustomTypeAllowed() == 'false'" style="display: none;">
                <input id="type_options2" type="text" placeholder="[None]"
                       data-bind="value: typeOptionSelected, valueUpdate: 'afterkeydown', jqObservableElement: '$typeOptions2'" />
            </div>
            <div data-bind="visible: isCustomTypeAllowed" class="field-label-description">Select from the drop-down list of pre-existing agreement types or enter a custom one in the text box above.</div>
            <div data-bind=" visible: !isCustomTypeAllowed()" class="field-label-description">Select from the drop-down list of pre-existing agreement types.</div>
        </div>
    </div>
</section>
<section id="current_statuses">
    <header style="margin-bottom: 0;">
        <h2>
            Current Statuses
        </h2>
    </header>
    <p style="font-size: 14px">
        When working with institutional agreement data, users are required to specify the Current status.
        By default this field allows users to type any text, and a drop-down arrow can be used to suggest examples.
        You can override this behavior and restrict Current status options allowed for users in your organization.
    </p>
    <div class="field-table w690-l190-v500" style="margin-top:0;">
        <div class="field-row">
            <div class="field-column-left" style="width: initial;">
                <div class="field-label-top" style="margin-bottom: 12px">
                    <label>Agreement statuses</label>
                </div>
                <ul data-bind="foreach: statusOptions" style="margin-bottom: 8px">
                    <li>
                        <div class="field-input-label-top" style="margin-bottom: 8px; width: 295px">
                            <input class="phoneTypes" type="text" placeholder="[None]"
                                   data-bind="value: name, valueUpdate: 'afterkeydown', attr: { id: 'statusOption' + $index() }" />
                        </div>
                        <a title="Remove this status" style="float:right;" data-bind="click: $root.removeStatusOption"><i class="red minus on-right"></i></a>
                    </li>
                </ul>
                <div data-bind="visible: statusOptions().length == 0" style="display: none;">None specified.</div>
            </div>
            <div class="field-column-right" style="width: initial;">
                <div style="width:330px; height:80px;">
                    <div class="field-label-top" style="margin-bottom: 12px">
                        <label>New agreement status</label>
                    </div>
                    <div class="field-input-label-top" style="width: 295px">
                        <input id="contactPhoneTextValue" type="text" data-bind="value: statusOption" />
                    </div>
                    <a title="add agreement status" data-bind="click: addStatusOption" class="addLink on-right"><i class="green plus"></i></a>
                </div>
                <div style="width:330px;">
                    <div style="margin-top:8px;">
                        <label>Should your users be allowed to enter custom values for agreement status?</label>
                    </div>
                    <div style="margin-top:8px;">
                        <label style="display: block;"><input name="isCustomStatusAllowed" type="radio" value="true" data-bind="checked: isCustomStatusAllowed" />Yes, allow my users to enter any text for agreement status.</label>
                        <label style="display: block;"><input name="isCustomStatusAllowed" type="radio" value="false" data-bind="checked: isCustomStatusAllowed" />No, restrict my users to specific agreement status</label>
                    </div>
                </div>
            </div>
        </div>
        <div>What will users see?</div>
        <div class="field-table w690-l190-v500" style="margin-top:0;">
            <div class="field-row">
                <div class="field-label-top required">
                    <label>Current Status</label>
                    <i>(required, public visibility)</i>
                </div>
                <div class="field-input-label-top" data-bind=" visible: isCustomStatusAllowed() == 'true'">
                    <input id="status_options" type="text" placeholder="[None]"
                           data-bind="value: statusOptionSelected, valueUpdate: 'afterkeydown', jqObservableElement: '$statusOptions', visible: isCustomStatusAllowed() == 'true'" />
                </div>
                <div class="field-input-label-top" data-bind=" visible: isCustomStatusAllowed() == 'false'" style="display: none;">
                    <input id="status_options2" type="text" placeholder="[None]"
                           data-bind="value: statusOptionSelected, valueUpdate: 'afterkeydown', jqObservableElement: '$statusOptions2'" />
                </div>
                <div data-bind="visible: isCustomStatusAllowed" class="field-label-description">
                    Select from the drop-down list of pre-existing agreement status or enter a custom one in the text box above.

                </div>
                <div data-bind=" visible: !isCustomStatusAllowed()" class="field-label-description">
                    Select from the drop-down list of pre-existing agreement status.

                </div>
            </div>
        </div>
    </div>
</section>
<section id="contact_types">
    <header style="margin-bottom: 0;">
        <h2>
            Contact Types
        </h2>
    </header>
    <p style="font-size: 14px">
        When adding an institutional agreement contact, users are required to specify the Contact type.
        By default this field allows users to type any text, and a drop-down arrow can be used to suggest examples.
        You can override this behavior and restrict Contact type options allowed for users in your organization.
    </p>
    <div class="field-table w690-l190-v500" style="margin-top:0;">
        <div class="field-row">
            <div class="field-column-left" style="width: initial;">
                <div class="field-label-top" style="margin-bottom: 12px">
                    <label>Agreement contact type</label>
                </div>
                <ul data-bind="foreach: contactTypeOptions" style="margin-bottom: 8px">
                    <li>
                        <div class="field-input-label-top" style="margin-bottom: 8px; width: 295px">
                            <input class="phoneTypes" type="text" placeholder="[None]"
                                   data-bind="value: name, valueUpdate: 'afterkeydown', attr: { id: 'contactTypeOption' + $index() }" />
                        </div>
                        <a title="Remove this contact type" style="float:right;" data-bind="click: $root.removeContactTypeOption"><i class="red minus on-right"></i></a>
                    </li>
                </ul>
                <div data-bind="visible: contactTypeOptions().length == 0" style="display: none;">None specified.</div>
            </div>
            <div class="field-column-right" style="width: initial;">
                <div style="width:330px; height:80px;">
                    <div class="field-label-top" style="margin-bottom: 12px">
                        <label>New agreement contact type</label>
                    </div>
                    <div class="field-input-label-top" style="width: 295px">
                        <input id="contactPhoneTextValue" type="text" data-bind="value: contactTypeOption" />
                    </div>
                    <a title="add agreement contact type" data-bind="click: addContactTypeOption" class="addLink on-right"><i class="green plus"></i></a>
                </div>
                <div style="width:330px;">
                    <div style="margin-top:8px;">
                        <label>Should your users be allowed to enter custom values for agreement contact type?</label>
                    </div>
                    <div style="margin-top:8px;">
                        <label style="display: block;"><input name="isCustomContactTypeAllowed" type="radio" value="true" data-bind="checked: isCustomContactTypeAllowed" />Yes, allow my users to enter any text for agreement contact type.</label>
                        <label style="display: block;"><input name="isCustomContactTypeAllowed" type="radio" value="false" data-bind="checked: isCustomContactTypeAllowed" />No, restrict my users to specific agreement contact types</label>
                    </div>
                </div>
            </div>
        </div>
        <div>What will users see?</div>
        <div class="field-table w690-l190-v500" style="margin-top:0;">
            <div class="field-row">
                <div class="field-label-top required">
                    <label>Contact type</label>
                    <i>(required, public visibility)</i>
                </div>
                <div class="field-input-label-top" data-bind=" visible: isCustomContactTypeAllowed() == 'true'">
                    <input id="contactTypeOptions" type="text" placeholder="[None]"
                           data-bind="value: contactTypeOptionSelected, valueUpdate: 'afterkeydown', jqObservableElement: '$contactTypeOptions'" />
                </div>
                <div class="field-input-label-top" data-bind="visible: isCustomContactTypeAllowed() == 'false'">
                    <input id="contactTypeOptions2" type="text" placeholder="[None]"
                           data-bind="value: contactTypeOptionSelected, valueUpdate: 'afterkeydown', jqObservableElement: '$contactTypeOptions2'" />
                </div>
                <div data-bind="visible: isCustomContactTypeAllowed" class="field-label-description">
                    Select from the drop-down list of pre-existing agreement contactType or enter a custom one in the text box above.
                </div>
                <div data-bind=" visible: !isCustomContactTypeAllowed()" class="field-label-description">
                    Select from the drop-down list of pre-existing agreement contactType.
                </div>
            </div>
        </div>
    </div>
</section>
