<nav class="side">
    <ul>
        <li class="current" id="nav_agreement_types">
            <a href="#" class="group" >
                <span class="arrow"></span>
                <span class="text">Agreement Types</span>
            </a>
        </li>
        <li id="nav_current_statuses">
            <a href="#" class="group">
                <span class="arrow"></span>
                <span class="text">Current Statuses</span>
            </a>
        </li>
        <li  id="nav_contact_types">
            <a href="#" class="group" >
                <span class="arrow"></span>
                <span class="text">Contact Types</span>
            </a>
        </li>
    </ul>    
</nav>
