@{
    ViewBag.Title = "Institutional Agreement";
}
@section bib
{
    <nav class="bib hide" data-current-bib="show">
        @Html.Partial(MVC.Agreements.Views._Bib, new ViewDataDictionary { { "Show", true } })
    </nav>
}
@section scripts
{
    @Scripts.Render("~/bundles/agreementPublicView")
    <script type="text/javascript">

        var agreementSearchViewModel = new Agreements.ViewModels.PublicView();
        ko.applyBindings(agreementSearchViewModel, $('#publicView')[0]);
    </script>
}

<div class="content fixed to-top" data-current-module="agreements" id="publicView">
    <form class="group">
        <div class="from-top" style="float: left; width:500px;">
            <header>
                <h1>
                    @ViewBag.Title
                </h1>
            </header>
           @Html.Partial(MVC.Agreements.Views._PublicViewContent)
        </div>
        <div class="from-top" style="float: right; width: 450px; height: 400px; background-color: grey; margin-top: 50px;">
            <div style="height: 400px" id="map-canvas"></div>
        </div>
    </form>
</div>


