<ul class="group">
    <li class="grants">
        <a href="@Url.Action(MVC.Admin.Index())">Theming</a>
    </li>
    <li class="establishments">
        <a href="@Url.Action(MVC.Establishments.Index())">Establishments</a>
    </li>
    <li class="users">
        <a href="@Url.Action(MVC.Users.Index())">Users</a>
    </li>
</ul>
