<ul class="group">
    <li class="grants">
        <a href="@Url.Action(MVC.Admin.Index())">Theming</a>
    </li>
    @if (User.IsInAnyRole(RoleName.EstablishmentAdministrator))
    {
        <li class="establishments">
            <a href="@Url.Action(MVC.Establishments.Index())">Establishments</a>
        </li>
    }
    @if (User.IsInAnyRole(RoleName.UserManagers))
    {
        <li class="users">
            <a href="@Url.Action(MVC.Users.Index())">Users</a>
        </li>
    }
    @if (User.IsInAnyRole(RoleName.SecurityAdministrator))
    {
        <li class="home">
            <a href="@Url.Action(MVC.Home.EditHomePage())">Home Page</a>
        </li>
    }
</ul>
