@{
    ViewBag.Title = "Choose your institution";
    var tenancy = Request.Tenancy();
    var styleDomain = tenancy != null ? tenancy.StyleDomain : "default";
    var hasStyleDomain = !string.IsNullOrWhiteSpace(styleDomain) && !"default".Equals(styleDomain, StringComparison.OrdinalIgnoreCase);
}

@section bib
{
    <nav class="bib hide" data-current-bib="grants">
        @Html.Partial(MVC.Admin.Views._Bib)
    </nav>
}

<div class="fixed content" data-current-module="admin">
    @{ Html.RenderAction(MVC.Admin.TenantLogos()); }
</div>
