
<link rel="import" href="../../Polymer/bower_components/paper-dropdown/paper-dropdown.html">
<link rel="import" href="../../Polymer/bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../Polymer/bower_components/core-dropdown-menu/core-dropdown-menu.html">
<link rel="import" href="../../Polymer/bower_components/core-dropdown/core-dropdown.html">
<link rel="import" href="../../Polymer/bower_components/core-selector/core-selector.html">
<link rel="import" href="../../Polymer/bower_components/core-item/core-item.html">
<link rel="import" href="../../Polymer/bower_components/paper-item/paper-item.html">
<link rel="import" href="../../Polymer/bower_components/core-icon-button/core-icon-button.html">
<polymer-element name="is-page-locations-index" attributes="styledomain, tenantid">
    <template>
        <link href="index.css" rel="stylesheet" />
        <!--</form>-->
        <!--<paper-dropdown-menu selected="[all countries]" label="[all countries]" valueattr="label">
            <template repeat="{{country, countryI in countries}}">
                <paper-item label="{{country.name}}"></paper-item>
            </template>
        </paper-dropdown-menu>-->

        <!--<core-icon-button id="trigger" icon="menu"></core-icon-button>-->
        <!--<paper-dropdown relatedtarget="{{$.trigger}}">
            <core-menu>
                <template repeat="{{country, countryI in countries}}">
                    <paper-item>{{country.name}}</paper-item>
                </template>
            </core-menu>
        </paper-dropdown>-->
        <core-dropdown-menu label="Choose a pastry">
            <core-dropdown class="dropdown">
                <core-selector selected="{{selectedCountry}}">
                    <paper-item >[Select a Country]</paper-item>
                    <template repeat="{{country, countryI in countries}}">
                        <paper-item >{{country.name}}</paper-item>
                    </template>
                </core-selector>
            </core-dropdown>
        </core-dropdown-menu>

        <template repeat="{{activityTypeCount, activityTypeCountI in activityTypeCounts}}">
            <div>
                <b>{{activityTypeCount.typeCount}}</b>
                <a href="http://localhost:3014/{{styledomain}}/employees/table/?activityTypeIds={{activityTypeCount.typeId}}&placeIds={{selectedPlaceId}}&placeNames={{selectedPlaceName}}">{{activityTypeCount.type}}</a>
                in <b>{{activityTypeCount.locationCount}}</b> locations.
            </div>
        </template>


        <!--<core-ajax url="/api/home/section"
                   params='{"Description":"{{description}}",
                   "Links" "{{links}}" ,
                   "Title" "{{title}}" }'
                   handleas="json"
                   method="post"
                   on-core-response="{{addSectionResponse}}"
                   on-core-error="{{ajaxError}}"
                   id="ajax_addSection">
        </core-ajax>-->
        <core-ajax url="/api/countries/"
                   handleas="json" auto
                   on-core-response="{{countriesResponse}}"
                   on-core-error="{{ajaxError}}"
                   id="ajax_countries">
        </core-ajax>
        <core-ajax url="/api/faculty-staff/activity-count/{{tenantid}}/{{selectedPlaceId}}/"
                   handleas="json" auto
                   on-core-response="{{activitiesResponse}}"
                   on-core-error="{{ajaxError}}"
                   id="ajax_activities">
        </core-ajax>

    </template>
    <script src="index.js"></script>

</polymer-element>


