<div data-side-swiper="root" id="search">
    <div data-side-swiper="deck">
        <div data-side-swiper="on" class="left">
            <section id="participants">
                <header>
                    <h2>
                        Name(s)
                    </h2>
                </header>
            </section>
        </div>
    </div>
</div>
