<nav class="side">
    <ul>
        <li class="current">
            <a href="#/" class="group">
                <div class="arrow float-left"></div>
                <div class="text float-left">
                    <span>Sidebar Item #1</span>
                </div>
            </a>
        </li>
        <li>
            <a href="#/" class="group">
                <div class="arrow float-left"></div>
                <div class="text float-left">
                    <span>Sidebar Item #2</span>
                </div>
            </a>
        </li>
        <li>
            <a href="#/" class="group">
                <div class="arrow float-left"></div>
                <div class="text float-left">
                    <span>Sidebar Item #3</span>
                </div>
            </a>
        </li>
    </ul>
</nav>
