<div data-side-swiper="root" id="search">
    <div data-side-swiper="deck">
        <div data-side-swiper="on" class="left">
            <section id="participants">
                <header>
                    <h2>
                        Name(s)
                        <img src="~/styles/icons/spinner-20-blue.gif" alt="" data-bind="visible: isSpinningNames" />

                    </h2>
                </header>
                <ul class="data-items" data-bind="foreach: names">
                    <li data-bind="css: { selected: editMode }">
                        <div class="text-box when-hovered" data-bind="click: showEditor, visible: !editMode(), css: { 'force-unhoverable': $parent.editingName() }">
                            <span data-bind="text: text, css: { 'bold': isOfficialName() }" class="inline-block"></span>
                            <span class="green badge" data-bind="visible: isOfficialName" style="display: none;">Official</span>
                            <span class="blue badge" data-bind="visible: languageName, text: languageName" style="display: none;"></span>
                            <span class="red badge" data-bind="visible: isFormerName" style="display: none;">Former / Defunct</span>
                        </div>
                        <div data-bind="visible: editMode" style="display: none;">
                            <form data-bind="submit: saveEditor, validationOptions: { decorateElement: true, errorClass: 'error' }">
                                <div class="field" style="margin-top: 0;">
                                    <textarea rows="1" class="no-resize" data-bind="value: text, element: 'textElement'" data-autosize="true"></textarea>
                                </div>
                                <div class="field">
                                    <label data-bind="click: clickOfficialNameCheckbox">
                                        <input type="checkbox" data-bind="checked: isOfficialName, enable: !originalValues.isOfficialName" />
                                        Offical Name
                                    </label>
                                    &nbsp;&nbsp;&nbsp;
                                    <label>
                                        <input type="checkbox" data-bind="checked: isFormerName, enable: !isOfficialName()" />
                                        Former / Defunct Name
                                    </label>
                                </div>
                                <div class="field">
                                    <select data-bind="value: selectedLanguageCode, options: $parent.languages, optionsText: 'name', optionsValue: 'code', element: 'languagesElement', visible: $parent.languages().length > 0" style="display: none;">
                                    </select>
                                    <select data-bind="visible: $parent.languages().length < 1">
                                        <option>[Loading...]</option>
                                    </select>
                                </div>
                                <div>
                                    <input type="submit" value="Save" data-bind="enable: !isSpinning()" />
                                    &nbsp;
                                    <a href="#" data-bind="click: cancelEditor">Cancel</a>
                                    &nbsp;
                                    <img src="~/styles/icons/spinner-20-blue.gif" alt="" data-bind="visible: isSpinning" />
                                    <strong data-bind="visible: isSpinning">Saving...</strong>
                                </div>
                            </form>
                        </div>
                    </li>
                </ul>
            </section>
        </div>
    </div>
</div>
