@{
    ViewBag.Title = "Establishments";
}
@section bib
{
    <nav class="bib hide" data-current-bib="establishments">
        @Html.Partial(MVC.Admin.Views._Bib)
    </nav>
}
@section scripts {

    <script type="text/javascript" src="@Url.Content(Links.Models.EstablishmentSearchViewModel_js)"></script>

    <script type="text/javascript"> ko.applyBindings(new EstablishmentSearchViewModel(), $('[data-current-module=admin]')[0]);
    </script>

}
<div class="content fixed to-top" data-current-module="admin">
    <div data-side-swiper="root">
        <div data-side-swiper="deck">
            <div id="search" data-side-swiper="on">
                <form class="group" data-bind="submit: requestResults">
                    <div class="float-left from-top">
                        <header>
                            <h1>
                                @ViewBag.Title
                            </h1>
                        </header>
                        <div class="field" style="margin-bottom: 0;">
                            <input type="search" placeholder="Enter the establishment's name or website URL" data-bind="value: keyword, valueUpdate: 'afterkeydown search'" />
                        </div>
                        <p data-bind="visible: hasNoItems" style="display: none;">
                            There are no results that match your search terms.
                        </p>
                        <div data-side-swiper="root">
                            <div data-side-swiper="deck">
                                <div data-side-swiper="on" class="left" data-bind="element: 'itemsPage'">
                                    <p data-bind="visible: showSpinner">
                                        <strong>Loading search results...</strong>
                                    </p>
                                    <p data-bind="visible: showStatus" style="display: none;">
                                        <strong>Showing <span data-bind="text: firstNumber"></span>
                                            <span data-bind="visible: hasManyItems">- <span data-bind="text: lastNumber"></span></span>
                                            of <span data-bind="text: itemTotal"></span></strong>
                                        <span data-bind="visible: hasManyPages">(page
                                            <select class="inline" data-bind="options: pageNumbers, value: pageNumber">
                                            </select>
                                            of <span data-bind="text: pageCount"></span>)</span>
                                    </p>
                                    <div class="results" data-bind="visible: hasItems" style="display: none;">
                                        <div class="table">
                                            <table class="data">
                                                <colgroup>
                                                    <col style="width: 75%;" />
                                                    <col style="width: 25%;" />
                                                </colgroup>
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            Establishment
                                                        </th>
                                                        <th>
                                                            Country
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody data-bind="foreach: items">
                                                    <tr class="hover-hilite" data-bind="click: clickAction">
                                                        <td>
                                                            <div>
                                                                <strong data-bind="text: translatedName"></strong>
                                                            </div>
                                                            <div data-bind="visible: !officialNameMatchesTranslation()">
                                                                (<span data-bind="text: officialName"></span>)
                                                            </div>
                                                            <div data-bind="visible: websiteUrl">
                                                                <a href="#" target="_blank"
                                                                    data-bind="text: fitWebsiteUrl, attr: { href: 'http://' + websiteUrl() }, click: openWebsiteUrl"></a>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <span data-bind="text: nullDisplayCountryName"></span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <aside class="float-right from-top" data-fixed-scroll="root">
                        <div data-fixed-scroll="anchor"></div>
                        <div data-fixed-scroll="content">
                            <nav class="side">
                                <ul>
                                    <li class="static">
                                        <span class="text">Search options</span>
                                        <div class="content">
                                            <div class="field">
                                                <select class="side" data-bind="options: countries, optionsCaption: '[All countries]', optionsText: 'name', optionsValue: 'code', value: countryCode">
                                                    <option>[Loading...]</option>
                                                </select>
                                            </div>
                                            <div class="field">
                                                <select class="side" data-bind="value: orderBy">
                                                    <option value="name-asc">Sort by name A-Z</option>
                                                    <option value="name-desc">Sort by name Z-A</option>
                                                    <option value="country-asc">Sort by country A-Z</option>
                                                    <option value="country-desc">Sort by country Z-A</option>
                                                </select>
                                            </div>
                                            <div class="field">
                                                <select class="side" data-bind="value: pageSize">
                                                    <option value="10">Show 10 results per page</option>
                                                    <option value="20">Show 20 results per page</option>
                                                    <option value="50">Show 50 results per page</option>
                                                    <option value="100">Show 100 results per page</option>
                                                    <option value="@int.MaxValue">Show all results</option>
                                                </select>
                                            </div>
                                            <div class="field">
                                                <button class="link" data-bind="click: prevPage, enable: prevEnabled">&lt;&lt; Previous</button>
                                                |
                                                <button class="link" data-bind="click: nextPage, enable: nextEnabled">Next &gt;&gt;</button>
                                                <input type="hidden" value="1" data-bind="value: pageNumber" />
                                            </div>
                                        </div>
                                    </li>
                                    <li class="current">
                                        <a href="#" class="group">
                                            <div class="arrow float-left"></div>
                                            <span class="text float-left">Table</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="group">
                                            <div class="arrow float-left"></div>
                                            <span class="text float-left">List</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="#" class="group">
                                            <div class="arrow float-left"></div>
                                            <span class="text float-left">Grid</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="group">
                                            <div class="arrow float-left"></div>
                                            <span class="text float-left">Map</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="group">
                                            <div class="arrow float-left"></div>
                                            <span class="text float-left">Tree</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </aside>
                </form>
            </div>
        </div>
    </div>
</div>
