/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }
@-moz-keyframes fadeIn {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }
@keyframes fadeIn {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }
@-webkit-keyframes fadeOut {
  from {
    opacity: 1; }

  to {
    opacity: 0; } }
@-moz-keyframes fadeOut {
  from {
    opacity: 1; }

  to {
    opacity: 0; } }
@keyframes fadeOut {
  from {
    opacity: 1; }

  to {
    opacity: 0; } }
.show {
  opacity: 0;
  /* make things invisible upon start */
  -webkit-animation: fadeIn ease-in 1;
  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 500ms;
  -moz-animation-duration: 500ms;
  animation-duration: 500ms; }

.hide {
  opacity: 1;
  /* make things invisible upon start */
  -webkit-animation: fadeOut ease-in 1;
  /* call our keyframe named fadeOut, use animattion ease-in and repeat it only 1 time */
  -moz-animation: fadeOut ease-in 1;
  animation: fadeOut ease-in 1;
  -webkit-animation-fill-mode: forwards;
  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 500ms;
  -moz-animation-duration: 500ms;
  animation-duration: 500ms; }

