<ul class="group">
    <li id="bib-faculty-staff-summary" class="summary">
        <a href="#/summary">Summary</a>
    </li>
    <li id="bib-faculty-staff-search" class="search">
        <a href="#/search">Search</a>
    </li>
</ul>
