<div class="filter-sidebar">
    <div class="header">
        <span>Filter Options</span>
    </div>
    <div>
        <div class="section">
            <div class="section-header">Search For</div>
            <div style="text-align: center; font-size: medium; padding-bottom: 4px">
                <input type="radio" id="activitiesRadioButton" name="activityType" value="activities"/><span>Activities&emsp;&emsp;</span>
                <input type="radio" id="peopleRadioButton" name="activityType" value="people"/><span>People</span>
            </div>
        </div>
        <div class="section">
            <div class="section-header">Tags</div>
            <input type="text" id="tagsTextbox"/>
        </div>
        <div class="section">
            <div class="section-header">Date Range</div>
            <div>
                <label for="fromDate">From</label>
                <input id="fromDate" style="width: 100px"/>
                <label for="toDate">To</label>
                <input id="toDate" style="width: 100px"/>
            </div>
            <div style="margin-top: 4px">
                <input id="undatedActivities" type="checkbox"/>
                <span>Include undated activities</span>
            </div>
        </div>
        <div class="section">
            <div class="section-header">Country/Location</div>
            <select id="location" style="overflow-y:auto"></select>
        </div>
        <div class="section">
            <div class="section-header">Type</div>
            <div style="font-size: small">
                <ul class="data-items" data-bind="template: { name: 'activity-types-template', foreach: activityTypes() }" />
            </div>
        </div>
        <div class="section">
            <div class="section-header">Institution</div>
            <input type="text" id="institutionTextbox" style="width: 100%" />

            <div class="section-header">Campus</div>
            <select id="campusDropList" style="width: 100%"></select>

            <div class="section-header">College</div>
            <select id="collegeDropList" style="width: 100%"></select>

            <div id="departmentDiv" class="section-header">Department</div>
            <select id="departmentDropList" style="width: 100%"></select>
        </div>
    </div>
</div>

<!-- KNOCKOUT TEMPLATES -->
<script type="text/html" id="activity-types-template">
    <li>
        <input type="checkbox"/><span data-bind="text: type()"></span>
    </li>
</script>