<nav class="side">
    <ul>
        <li class="top">
            <span class="text" style="float:left;">Search For:</span>
            <div class="content" id="searchReset">
                <input type="button" class="kendoSideWidget" value="Reset" id="searchResetButton" data-bind="click: function ( item, event ) { handleReset( item, event );}"/>
            </div>
        </li>
        <li class="static">
            <div class="content">
                <div class="field" style="padding-left: 16px;">
                    <input class="side" type="radio" id="activitiesRadioButton" name="searchTypeGroup" value="activities" data-bind="checked: searchType" />
                    <span style="font-size: small"> Activities </span>
                    <input class="side"  style="margin-left: 10px;" type="radio" id="peopleRadioButton" name="searchTypeGroup" value="people" data-bind="checked: searchType" />
                    <span style="font-size: small"> People </span>
                </div>
            </div>
        </li>
        <li class="static">
            <span class="text">Country / Location</span><br/>
            <div class="content">
                <div class="field kendoSideWidget" style="clear:left;">
                    <select id="location"> </select>
                </div>
            </div>
        </li>
        <li class="static">
            <span class="text"> Type of Engagement </span> 
            <div class="content" style="display: none" data-bind="visible: activityTypes().length > 0">
                <div class="field" style="clear:left;">
                    <ul class="data-items"  style="font-size: small;width: 100%;" data-bind="template: { name: 'activity-types-template', foreach: activityTypes }" />
                </div>
                <div class="section content" data-bind="visible: searchType() == 'people'">
                    @* 
                    <span class="text"> Degrees </span>
                    <input type="text" id="degreesTextbox"  style="font-size: small;" data-bind="value: degrees" />
                    *@ 
                    <div  class="field" style="font-size: small; padding-left: 13px">
                        <input type="checkbox" data-bind="checked: degreesChecked" />&nbsp;<span  style="font-size: small"> Include degrees earned </span> 
                    </div>
                </div>
            </div>
        </li>
        <li class="static">
            <span class="text">Tags / Keywords</span>
            <div class="content">
                <div class="kendoSideWidget"> 
                    <textarea id="tagsTextbox" placeholder="Additional tags/keywords" rows="1" data-bind="value: tags"></textarea>
                </div>
            </div>
        </li>
        <li class="static">
            <span class="text">Date Range</span> 
            <div class="content">
                <div  class="field kendoSideWidget" style="text-align: right; margin-right: 50px">
                    <label for="fromDate" style="font-size: small"> From: </label> 
                    <input  class="kendoSideDate"  id="fromDate" style="height:22px; width: 120px" data-bind="value: fromDate" />
                </div>
                <div  class="field kendoSideWidget" style="text-align: right; margin-right: 50px">
                    <label for="toDate" style="font-size: small"> To: </label> 
                    <input  class="kendoSideDate"  id="toDate" style="height:22px; width: 120px" data-bind="value: toDate" />
                </div>
                <div  class="field" style="margin-top: 4px; padding-left: 16px; font-size: small">
                    <input id="undatedActivities" type="checkbox" data-bind="checked: includeUndated" />
                    <span  style="font-size: small;"> Include undated activities </span> 
                </div>
            </div>
        </li>
        <li class="static square-bottom"> <span class="text"> Institution / Campus </span> 
            <div class="content">
                @* 
            <div style="display: none" data-bind="visible: institutionId() == null">
                <div class="section-header field">
                    Institution 
                </div>
                <input type="text" id="institutionTextbox" style="width: 100%" />
            </div>
            *@ 
                <div class="field kendoSideWidget" style="display: none" data-bind="visible: institutionHasCampuses()">
                    <select class="kendoSideWidget" id="campusDropList"> </select>
                </div>
                @* 
            <div class="section-header field">
                College 
            </div>
            *@ 
                <div class="field kendoSideWidget">
                    <select class="kendoSideWidget" id="collegeDropList"> </select>
                </div>
                @* 
            <div id="departmentDiv" class="section-header field">
                Department 
            </div>
            *@ 
                <div class="field kendoSideWidget">
                    <select class="kendoSideWidget" id="departmentDropList"> </select>
                </div>
            </div>
        </li>
    </ul>
    <ul class="group bottom">
        <li id="faculty-staff-on-right-map" class="current"> 
            <a href="#" class="group" value="map" data-bind="click: function (item, event) { selectLens('map') }">
            <div class="arrow"></div>
            <span class="text"> Map </span>
            </a>
        </li>
        <li id="faculty-staff-on-right-table" class=""> 
            <a href="#" class="group" value="table" data-bind="click: function (item, event) { selectLens('table') }">
            <div class="arrow"></div>
            <span class="text"> Table </span>
            </a>
        </li>
    </ul>
</nav> 
<!-- KNOCKOUT TEMPLATES -->
<script type="text/html" id="activity-types-template">
    <li style="margin-left: 8px">
        <div class="ellipsis">
            <input type="checkbox" data-bind="checked: $data.checked" /><span data-bind="    text: $data.type()"></span>
        </div>
    </li>
</script> 
