<div class="filter-sidebar">
    <div class="header">
        <span>Filter Options</span>
    </div>
    <div>
        <div class="section">
            <div class="section-header">Search For</div>
            <div style="text-align: center; font-size: large; padding-bottom: 4px">
                <input type="radio" id="activitiesRadioButton" name="activityType" value="activities" data-bind="checked: searchType()"/><span>Activities&emsp;</span>
                <input type="radio" id="peopleRadioButton" name="activityType" value="people" data-bind="checked: searchType()"/><span>People</span>
            </div>
        </div>
        <div class="section">
            <div class="section-header">Date Range</div>
            <div style="margin-left: 4px">
                <label for="fromDate">From</label>
                <input id="fromDate" style="width: 100px"/>
                <label for="toDate">To</label>
                <input id="toDate" style="width: 100px"/>
            </div>
            <div style="margin-top: 4px; margin-left: 4px">
                <input id="undatedActivities" type="checkbox"/>
                <span>Include undated activities</span>
            </div>
        </div>
        <div class="section">
            <div class="section-header">Tags</div>
            <input type="text" id="tagsTextbox" style="height: 28px;"/>
        </div>
        <div class="section">
            <div class="section-header">Country/Location</div>
            <select id="location" style="width: 100%; overflow-y:auto"></select>
        </div>
        <div class="section" style="display: none" data-bind="visible: activityTypes().length > 0">
            <div class="section-header">Types</div>
            <div style="font-size: small">
                <ul class="data-items" data-bind="template: { name: 'activity-types-template', foreach: activityTypes }" />
            </div>
        </div>
        <div class="section">
            <div style="display: none" data-bind="visible: institutionId() == null">
                <div class="section-header">Institution</div>
                <input type="text" id="institutionTextbox" style="width: 100%" />
            </div>
            
            <div style="display: none" data-bind="visible: institutionHasCampuses()">
                <div class="section-header">Campus</div>
                <select id="campusDropList" style="width: 100%"></select>
            </div>

            <div class="section-header">College</div>
            <select id="collegeDropList" style="width: 100%"></select>

            <div id="departmentDiv" class="section-header">Department</div>
            <select id="departmentDropList" style="width: 100%"></select>
        </div>
    </div>
</div>

<!-- KNOCKOUT TEMPLATES -->
<script type="text/html" id="activity-types-template">
    <li style="margin-left: 8px">
        <input type="checkbox" value="true" checked/><span style="width: 100%" data-bind="text: $data.type"></span>
    </li>
</script>