<div class="stats-sidebar" style="">
    @*    <div class="keywords-search">
        <h1>Keyword Search</h1>
        <input type="text" id="keywords" style="width: 85%"/>
        <input type="image" src="../../images/icons/search/search-24-black.png" style="width: 24px; height: 24px" alt="Search">
    </div>*@


    <div class="stats" style="width: 100%">
        <div style="margin-top: 70px; margin-bottom: 16px">
            <div style="display: none; font-size: medium" data-bind="visible: selectedPlace() == null">
                <div class="total-count-header">Global</div>
            </div>        
            <div style="display: none; font-size: medium; margin-top: 20px; margin-bottom: 16px" data-bind="visible: selectedPlace() != null">
                <div class="total-count-header" data-bind="text: selectedPlace()"></div>
            </div>  
        </div> 
 
        <div>
            <select id="establishmentDropList" style="width: 100%; margin-bottom: 20px"></select>
        </div> 
        
        <div class="statsSideBarTitle" style="margin-bottom: 8px">
            <span>Totals:</span>
        </div> 
        
        <div style="color: black; display: inline; text-align: center">
            <div style="width: 33%; float: left" data-bind="visible: searchType() == 'activities'">
                <span>Activities</span>
            </div>
            <div style="width: 33%; float: left" data-bind="visible: searchType() == 'people'">
                <span>People</span>
            </div>
            <div style="width: 33%; float: left">
                <span>Degrees</span>
            </div>
            <div style="width: 33%; float: left" data-bind="visible: selectedPlace() == null">
                <span>Locations</span>
            </div>
            <div style="width: 33%; float: left" data-bind="visible: selectedPlace() != null">
                <span>&nbsp;</span>
            </div>
        </div>
        
        <div style="width: 100%; color: black; text-align: center; font-weight: bold">
            <div style="width: 33%; float: left">
                <span data-bind="text: totalCount()"></span>
            </div>
            <div style="width: 33%; float: left">
                <span>0</span>
            </div>
            <div style="width: 33%; float: left;" data-bind="visible: selectedPlace() == null">
                <span data-bind="text: totalPlaceCount()"></span>
            </div>
        </div>
        
        <div class="statsSideBarTitle" style="margin-top: 60px" data-bind="visible: selectedPlace() == null">
            <div data-bind="visible: searchType() == 'activities'">
                <span>Global Activity Types</span>
            </div>
            <div data-bind="visible: searchType() == 'people'">
                <span>Global People by Activity Types</span>
            </div>            
        </div>
        <div class="statsSideBarTitle" style="margin-top: 60px" data-bind="visible: selectedPlace() != null">
            <div data-bind="visible: searchType() == 'activities'">
                <span>Activity Types</span>
            </div>
            <div data-bind="visible: searchType() == 'people'">
                <span>People by Activity Types</span>
            </div>            
        </div>
        
        <div id="facultystaff-summary-barchart" style="width: 100%; height: 100px"></div>

        <div style="position: relative; top: -12px">
            <div style="margin-left:16px; width: 40px; float: left">
                <div style="width: 100%; text-align: center" title="Research or Creative Endeavor">
                    <img src="../../images/icons/nounproject/noun_project_762_idea.svg" width="32" height="32"/>
                </div>
                @*                <div style="width: 100%; text-align: center; line-height: 0.8">
                    <span style="font-size: x-small">Research or Creative Endeavor</span>
                </div>*@
            </div>   
            <div style="margin-left:14px; width: 40px; float: left">
                <div style="width: 100%; text-align: center" title="Teaching or Mentoring">
                    <img src="../../images/icons/nounproject/noun_project_14888_teacher.svg" width="32" height="32"/>
                </div>
                @*                <div style="width: 100%; text-align: center; line-height: 0.8">
                    <span style="font-size: x-small">Teaching or Mentoring</span>
                </div>*@
            </div>  
            <div style="margin-left:8px; width: 40px; float: left">
                <div style="width: 100%; text-align: center" title="Award or Honor">
                    <img src="../../images/icons/nounproject/noun_project_17372_medal.svg" width="32" height="32"/>
                </div>
                @*                <div style="width: 100%; text-align: center; line-height: 0.8">
                    <span style="font-size: x-small">Award or Honor</span>
                </div>*@
            </div>
            <div style="margin-left:12px; width: 40px; float: left">
                <div style="width: 100%; text-align: center" title="Conference Presentation or Proceeding">
                    <img src="../../images/icons/nounproject/noun_project_16986_podium.svg" width="32" height="32"/>
                </div>
                @*                <div style="width: 100%; text-align: center; line-height: 0.8">
                    <span style="font-size: x-small">Conference Presentation or Proceeding</span>
                </div>*@
            </div>                       
            <div style="margin-left:12px; width: 40px; float: left" title="Professional Development, Service or Consulting">
                <div style="width: 100%; text-align: center">
                    <img src="../../images/icons/nounproject/noun_project_401_briefcase.svg" width="28" height="28"/>
                </div>
                @*                <div style="width: 100%; text-align: center; line-height: 0.8">
                    <span style="font-size: x-small">Professional Development, Service or Consulting</span>
                </div>*@
            </div>             
            
        </div>

        
        <div class="statsSideBarTitle" style="margin-top: 60px" data-bind="visible: selectedPlace() == null">
            <div data-bind="visible: searchType() == 'activities'">
                <span>Global Activity Trend</span>
            </div>
            <div data-bind="visible: searchType() == 'people'">
                <span>Global People Trend</span>
            </div>            
        </div>
        <div class="statsSideBarTitle" style="margin-top: 60px" data-bind="visible: selectedPlace() != null">
            <div data-bind="visible: searchType() == 'activities'">
                <span>Activity Trend </span>
            </div>
            <div data-bind="visible: searchType() == 'people'">
                <span>People Trend</span>
            </div>            
        </div>

        <div id="facultystaff-summary-linechart" style="width: 100%; height: 120px"></div>

    </div>
@*    <div class="type-filters" style="display: none" data-bind="visible: (searchType() === 'activities') && (activityTypes().length > 0)">
        <div style="font-size: small">
            <ul class="data-items" data-bind="template: { name: 'activity-counts-template', foreach: activityTypes }" />
        </div>
        <div id="typeChart" style="width: 100%"></div>
    </div>*@
</div>

<!-- KNOCKOUT TEMPLATES -->
@*<script type="text/html" id="activity-counts-template">
    <li>
        <input type="checkbox" style="margin-right: 4px; margin-left: 4px" data-bind="" />
        <span style="width: 100%" data-bind="text: $data.type"></span>
    </li>
</script>*@