<div class="stats-sidebar" style="">
    @*    <div class="keywords-search">
        <h1>Keyword Search</h1>
        <input type="text" id="keywords" style="width: 85%"/>
        <input type="image" src="../../images/icons/search/search-24-black.png" style="width: 24px; height: 24px" alt="Search">
    </div>*@
    <div>
        <select id="establishmentDropList" style="width: 100%; margin-top: 64px"></select>
    </div>
    <div class="stats" style="width: 100%">
        <div style="display: none; font-size: medium; margin-bottom: 16px" data-bind="visible: searchType() == 'activities'">
            <div style="margin-top: 20px">
                <div class="total-count-header">Total Activities</div>
                <div class="total-count" data-bind="text: totalCount()"></div>
            </div>
            <div style="margin-top: 10px">
                <div class="total-count-header">Total Locations w/Activities</div>
                <div class="total-count" data-bind="text: totalPlaceCount()"></div>
            </div>
        </div>
        <div style="display: none; margin-bottom: 16px" data-bind="visible: searchType() == 'people'">
            <div style="font-size: medium; margin-bottom: 8px">
                <div>Total Staff & Faculty</div>
                <div style="font-weight: bold" data-bind=""></div>
            </div>
            <div style="font-size: 10pt;">
                <div>Total Locations with Staff & Faculty</div>
                <div style="font-weight: bold" data-bind=""></div>
            </div>
        </div>
        <div id="facultystaff-summary-barchart" style="width: 100%; height: 130px; margin-top: 20px"></div>
        <div style="">
            <div style="margin-left:12px; width: 40px; float: left">
                <div style="width: 100%; text-align: center">
                    <img src="../../images/icons/glyphs/glyphicons_375_classic_hammer.png" style="z-index: 1"/>
                </div>
                <div style="width: 100%; text-align: center; line-height: 0.8">
                    <span style="font-size: x-small">Research or Creative Endeavor</span>
                </div>
            </div>   
            <div style="margin-left:16px; width: 40px; float: left">
                <div style="width: 100%; text-align: center">
                    <img src="../../images/icons/glyphs/glyphicons_071_book.png" style="z-index: 1"/>
                </div>
                <div style="width: 100%; text-align: center; line-height: 0.8">
                    <span style="font-size: x-small">Teaching or Mentoring</span>
                </div>
            </div>  
            <div style="margin-left:14px; width: 40px; float: left">
                <div style="width: 100%; text-align: center">
                    <img src="../../images/icons/glyphs/glyphicons_072_bookmark.png" style="z-index: 1"/>
                </div>
                <div style="width: 100%; text-align: center; line-height: 0.8">
                    <span style="font-size: x-small">Award or Honor</span>
                </div>
            </div>
            <div style="margin-left:12px; width: 40px; float: left">
                <div style="width: 100%; text-align: center">
                    <img src="../../images/icons/glyphs/glyphicons_300_microphone.png" style="z-index: 1"/>
                </div>
                <div style="width: 100%; text-align: center; line-height: 0.8">
                    <span style="font-size: x-small">Conference Presentation or Proceeding</span>
                </div>
            </div>                       
            <div style="margin-left:12px; width: 40px; float: left">
                <div style="width: 100%; text-align: center">
                    <img src="../../images/icons/glyphs/glyphicons_341_briefcase.png" style="z-index: 1"/>
                </div>
                <div style="width: 100%; text-align: center; line-height: 0.8">
                    <span style="font-size: x-small">Professional Development, Service or Consulting</span>
                </div>
            </div>             
            
        </div>
        <div id="facultystaff-summary-linechart" style="width: 100%; height: 130px; margin-top: 80px"></div>
    </div>
@*    <div class="type-filters" style="display: none" data-bind="visible: (searchType() === 'activities') && (activityTypes().length > 0)">
        <div style="font-size: small">
            <ul class="data-items" data-bind="template: { name: 'activity-counts-template', foreach: activityTypes }" />
        </div>
        <div id="typeChart" style="width: 100%"></div>
    </div>*@
</div>

<!-- KNOCKOUT TEMPLATES -->
@*<script type="text/html" id="activity-counts-template">
    <li>
        <input type="checkbox" style="margin-right: 4px; margin-left: 4px" data-bind="" />
        <span style="width: 100%" data-bind="text: $data.type"></span>
    </li>
</script>*@