@{
    ViewBag.Title = "Institutional Agreement";
}

<div class="content fixed to-top" data-current-module="agreements">
    <div class="group">
        <div class="float-left from-top">
            <div data-side-swiper="root">
                <div data-side-swiper="deck">
                    <section data-side-swiper="on">
                        <form>
                            <header>
                                <h1>
                                    @ViewBag.Title
                                </h1>
                            </header>
                            <section id="participants">
                                <header>
                                    <h2>
                                        Participants
                                    </h2>
                                </header>
                                <div>
                                    <ul>
                                        <li>
                                            <div class="typed-item">
                                                <a href="#/participants/remove/6" title="Remove this participant"><i class="red minus float-right"></i></a>
                                                <div class="type">
                                                    Home
                                                </div>
                                                <div class="item">
                                                    <div>
                                                        <strong>University of South Florida</strong>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="typed-item">
                                                <a href="#/participants/remove/6" title="Remove this participant"><i class="red minus float-right"></i></a>
                                                <div class="type">
                                                    Partner
                                                </div>
                                                <div class="item">
                                                    <div>
                                                        <strong>University of Cologne</strong> (Universität zu Köln)
                                                    </div>
                                                    <div>
                                                        <a href="http://www.uni-koeln.de" target="_blank">www.uni-koeln.de</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <footer>
                                    <a href="#/participants/add" class="button">
                                        <i class="green plus"></i>
                                        <span class="text">Add a participant</span>
                                    </a>
                                </footer>
                            </section>
                            @Html.Partial(MVC.Shared.Views._SampleVerticalContent)
                        </form>
                    </section>
                    <section data-side-swiper="off">
                        Here is the next frame / slide
                        <a href="#/participants/add/cancel" class="button">
                            <i class="red closer"></i>
                            <span class="text">Cancel</span>
                        </a>
                    </section>
                </div>
            </div>
        </div>
        <aside class="float-right" data-fixed-scroll="root">
            <div data-fixed-scroll="anchor"></div>
            <div data-fixed-scroll="content">
                <nav class="side">
                    <ul>
                        <li class="current">
                            <a href="#" class="group">
                                <div class="arrow float-left"></div>
                                <span class="text float-left">Partners</span>
                            </a>
                            @*<div class="content">
<ul>
<li>Sub 1</li>
<li>Sub 2</li>
<li><a href="#sgfd">Sub 3</a></li>
<li>Sub 4</li>
</ul>
</div>*@
                        </li>
                        <li>
                            <a href="#" class="group">
                                <div class="arrow float-left"></div>
                                <span class="text float-left">Basic Info</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="#" class="group">
                                <div class="arrow float-left"></div>
                                <span class="text float-left">Dates &amp; Status</span>
                            </a>
                            <div class="content">
                                <ul>
                                    <li>Sub 1</li>
                                    <li>Sub 2</li>
                                    <li><a href="#sgfd">Sub 3</a></li>
                                    <li>Sub 4</li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="group">
                                <div class="arrow float-left"></div>
                                <span class="text float-left">Contacts</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="group">
                                <div class="arrow float-left"></div>
                                <span class="text float-left">File Attachments but this one is long and wraps</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="#" class="group">
                                <div class="arrow float-left"></div>
                                <span class="text float-left">Visibility</span>
                            </a>
                            <div class="content">
                                <ul>
                                    <li>Sub 1</li>
                                    <li>Sub 2</li>
                                    <li><a href="#sgfd">Sub 3</a></li>
                                    <li>Sub 4</li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
    </div>
</div>

@section scripts
{

    <script type="text/javascript">
        var sideSwiper = new SideSwiper({});
        $('a[href="#/participants/add"]').on('click', function () {
            sideSwiper.next();
        });
        $('a[href="#/participants/add/cancel"]').on('click', function () {
            sideSwiper.prev();
        });
    </script>

}
