@{
    ViewBag.Title = "Institutional Agreement";
}

<div class="content fixed to-top" data-current-module="agreements">
    <div class="group">
        <div class="float-left from-top">
            <h1>
                @ViewBag.Title
            </h1>
            <p>
                Implement touchy scrollbars
            </p>
            <p>
                Fluid versus fixed layout
            </p>
            <p>
                Fluid versus fixed layout
            </p>
            <p>
                Fluid versus fixed layout
            </p>
            <p>
                Fluid versus fixed layout
            </p>
            <p>
                Fluid versus fixed layout
            </p>
            <p>
                Fluid versus fixed layout
            </p>
            <p>
                Fluid versus fixed layout
            </p>
            <p>
                Fluid versus fixed layout
            </p>
            <p>
                Fluid versus fixed layout
            </p>
            <p>
                Fluid versus fixed layout
            </p>
            <p>
                Fluid versus fixed layout
            </p>
            <p>
                Fluid versus fixed layout
            </p>
            <p>
                Fluid versus fixed layout
            </p>
            <p>
                Fluid versus fixed layout
            </p>
            <p>
                Fluid versus fixed layout
            </p>
            <p>
                Fluid versus fixed layout
            </p>
            <p>
                Fluid versus fixed layout
            </p>
            <p>
                Fluid versus fixed layout
            </p>
            <p>
                Fluid versus fixed layout
            </p>
            <p>
                Fluid versus fixed layout
            </p>
            <p>
                Fluid versus fixed layout
            </p>
            <p>
                Fluid versus fixed layout
            </p>
            <p>
                Fluid versus fixed layout
            </p>
            <p>
                Fluid versus fixed layout
            </p>
            <p>
                Fluid versus fixed layout
            </p>
            <p>
                Fluid versus fixed layout
            </p>
            <p>
                Fluid versus fixed layout
            </p>
            <p>
                Fluid versus fixed layout
            </p>
            <p>
                Fluid versus fixed layout
            </p>
            <p>
                Fluid versus fixed layout
            </p>
            <p>
                Fluid versus fixed layout
            </p>
            <p>
                Fluid versus fixed layout
            </p>
            <p>
                Fluid versus fixed layout
            </p>
            <p>
                Fluid versus fixed layout
            </p>
            <p>
                Fluid versus fixed layout
            </p>
            <p>
                Fluid versus fixed layout
            </p>
            <p>
                Fluid versus fixed layout
            </p>
            <p>
                Fluid versus fixed layout
            </p>
            <p>
                Fluid versus fixed layout
            </p>
            <p>
                Fluid versus fixed layout
            </p>
            <p>
                Fluid versus fixed layout
            </p>
            <p>
                Fluid versus fixed layout
            </p>
            <p>
                Fluid versus fixed layout
            </p>
            <p>
                Fluid versus fixed layout
            </p>
            <p>
                Fluid versus fixed layout
            </p>
            <p>
                Fluid versus fixed layout
            </p>
            <p>
                Fluid versus fixed layout
            </p>
            <p>
                Fluid versus fixed layout
            </p>
            <p>
                Fluid versus fixed layout
            </p>
            <p>
                Fluid versus fixed layout
            </p>
            <p>
                Fluid versus fixed layout
            </p>
            <p>
                Fluid versus fixed layout
            </p>
            <p>
                Fluid versus fixed layout
            </p>
            <p>
                Fluid versus fixed layout
            </p>
        </div>
        <div class="float-right" data-fixed-scroll="container">
            <div data-fixed-scroll="anchor"></div>
            <div data-fixed-scroll="content">
                <nav class="side">
                    <ul>
                        <li class="xcurrent">
                            <a href="#" class="group">
                                <div class="arrow float-left"></div>
                                <span class="text float-left">Partners</span>
                            </a>
                            <div class="content">
                                <ul>
                                    <li>Sub 1</li>
                                    <li>Sub 2</li>
                                    <li><a href="#sgfd">Sub 3</a></li>
                                    <li>Sub 4</li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="group">
                                <div class="arrow float-left"></div>
                                <span class="text float-left">Basic Info</span>
                            </a>
                        </li>
                        <li class="xcurrent">
                            <a href="#" class="group">
                                <div class="arrow float-left"></div>
                                <span class="text float-left">Dates &amp; Status</span>
                            </a>
                            <div class="content">
                                <ul>
                                    <li>Sub 1</li>
                                    <li>Sub 2</li>
                                    <li><a href="#sgfd">Sub 3</a></li>
                                    <li>Sub 4</li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="group">
                                <div class="arrow float-left"></div>
                                <span class="text float-left">Contacts</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="group">
                                <div class="arrow float-left"></div>
                                <span class="text float-left">File Attachments but this one is long and wraps</span>
                            </a>
                        </li>
                        <li class="current">
                            <a href="#" class="group">
                                <div class="arrow float-left"></div>
                                <span class="text float-left">Visibility</span>
                            </a>
                            <div class="content">
                                <ul>
                                    <li>Sub 1</li>
                                    <li>Sub 2</li>
                                    <li><a href="#sgfd">Sub 3</a></li>
                                    <li>Sub 4</li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
