@{
    ViewBag.Title = "Personal Info";
}

@section scripts
{
  @Scripts.Render("~/bundles/employees")
  
  <script type="text/javascript">
    
    $(function() {
      var viewModel = new ViewModels.Employee.PersonalInfo();
      ko.applyBindings(viewModel);
      //viewModel.sammy.run();
    });
    
  </script>
}

<div>
<!-- work-in-progress
    <br/>
    <br/>
    First name: <input type="text" style="width: 300px" data-bind="value: firstName"/>
    <br/>
    <br/>
    Last name: <input type="text" style="width: 300px" data-bind="value: lastName"/>
    <br/>
    <br/>
    Faculty rank: <input type="text" style="width: 300px" data-bind="value: facultyRank"/>
    <br/>
    <br/>
    Working title: <input type="text" style="width: 300px" data-bind="value: workingTitle"/>
    <br/>
    <br/>
    Gender: <select style="width: 200px" data-bind="options: genderOptions"/>
    <br/>
    <br/>
    Email: <input type="text" style="width: 300px" data-bind="value: primaryEmail"/>
    <br/>
    <br/>
    Alternate Email: <input type="text" style="width: 300px" data-bind="value: secondaryEmail"/>
    <br/>
    <br/>
    Campus: <input type="text" style="width: 300px" data-bind="value: campus"/>
    <br/>
    <br/>
    College: <input type="text" style="width: 300px" data-bind="value: college"/>
    <br/>
    <br/>
    Department: <input type="text" style="width: 300px" data-bind="value: department"/>
    <br/>
    <br/>
    Administative Appointments: <input type="text" style="width: 300px" data-bind="value: administrativeAppointments"/>
    <br/>
    <br/>
    Picture: <input type="text" style="width: 300px" data-bind="value: picture"/>
-->
</div>