.home, .agreements, .employees, .alumni, .students, .reps, .travel, .corporate, .press, .admin { color: #000; }
.grants, .establishments, .users { color: #000; }
.confirm-destroy-marker-dialog {color: #000;}
.world-report, .country-report, .org-report {color: #000;}