@{
    ViewBag.Title = "Home";
    var tenancy = Request.Tenancy();
    var styleDomain = tenancy != null ? tenancy.StyleDomain : "default";
    var hasStyleDomain = !string.IsNullOrWhiteSpace(styleDomain) && !"default".Equals(styleDomain, StringComparison.OrdinalIgnoreCase);
}

@section bib { }

<div class="fixed content" data-current-module="home">
    @if (!hasStyleDomain)
    {
        <header>
            <h1>Choose your institution</h1>
        </header>
        Html.RenderAction(MVC.Admin.TenantLogos(false));
    }
    else
    {
        <hr style="height: 10px; border: 0;" />
        <div class="group">
            <div class="on-left">
                <img alt="" src="~/images/icons/agreements/folder-contract-icon.png" style="height: 160px;" />
            </div>
            <div class="on-left" style="margin-left: 20px;">
                <header>
                    <h2>Agreements</h2>
                </header>
                <p style="margin-bottom: 5px;">
                    The Agreements tab at the top of every page is your gateway to:
                </p>
                <ul style="list-style-type: disc; margin-left: 20px; ">
                    <li style="line-height: 30px;">
                        <a href="@(Url.Action(MVC.Agreements.TenantIndex(styleDomain)))#/map/">Visualizing our international agreement partners</a>
                    </li>
                    <li style="line-height: 30px;">
                        <a href="@(Url.Action(MVC.Agreements.TenantIndex(styleDomain)))#/table/">Searching our agreement database</a>
                    </li>
                </ul>
            </div>
        </div>
        <hr style="height: 20px; border: 0;" />
        <div class="group">
            <div class="on-left">
                <img alt="" src="~/images/icons/user/male-and-female-256.png" style="height: 160px;" />
            </div>
            <div class="on-left" style="margin-left: 20px;">
                <header>
                    <h2>Faculty &amp; Staff</h2>
                </header>
                <p style="margin-bottom: 5px;">
                    The Faculty &amp; Staff tab at the top of every page is your gateway to:
                </p>
                <ul style="list-style-type: disc; margin-left: 20px; ">
                    <li style="line-height: 30px;">
                        <a href="@(Url.Action(MVC.Employees.TenantIndex(styleDomain)))">Viewing a global snapshot of international activity</a>
                    </li>
                    <li style="line-height: 30px;">
                        <a href="@(Url.Action(MVC.Employees.Table(styleDomain, null)))">Searching our activity database</a>
                    </li>
                    <li style="line-height: 30px;">
                        <a href="@(Url.Action(MVC.Employees.DegreesTable(styleDomain, null)))">Searching our formal education database</a>
                    </li>
                </ul>
            </div>
        </div>
    }
</div>
@*@section scripts
    {
        <script type="text/javascript">
            function initMap() {
                var mapOptions = {
                    center: new google.maps.LatLng(20, 0),
                    zoom: 2,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                };
                var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
            }

            $(function() {
                $('#init_dialog').dialog({
                    position: {
                        my: 'top+20',
                        at: 'top',
                        of: '#map_canvas'
                    },
                    closeOnEscape: false,
                    open: function() {
                        $('a.ui-dialog-titlebar-close').hide();
                    },
                    dialogClass: 'jquery-ui',
                    width: 'auto',
                    resizable: false,
                    modal: true
                });
                initMap();
            });
        </script>
    }
    <div class="flush content" data-current-module="home">
        <div id="map_canvas" style="width: 100%; height: 700px;"></div>
        <div id="init_dialog" title="Where do you want to go?" style="display: none;">
            <strong>
                View country report for:<br/>
            </strong>
            <select style="min-width: 500px; margin-top: 2px;">
                <option>[Select a Country]</option>
            </select>
            <br/><br/>
            <strong>
                View institution report for:<br/>
            </strong>
            <input type="text" style="min-width: 500px; margin-top: 2px;" placeholder="[Enter institution name]" />
            <br/><br/>
            <strong>
                View worldwide information for:<br/>
            </strong>
            <select style="min-width: 500px; margin-top: 2px;">
                <option>[Select Module]</option>
            </select>
            <br/><br/>
        </div>
    </div>*@
