<nav class="side">
    <ul>
        <li class="current">
            <a href="#" class="group">
                <div class="arrow"></div>
                <span class="text">Configure</span>
            </a>
        </li>
        <li>
            <a href="#" class="group">
                <div class="arrow"></div>
                <span class="text">Application</span>
            </a>
        </li>
        <li class="">
            <a href="#" class="group">
                <div class="arrow"></div>
                <span class="text">Welcome Message</span>
            </a>
        </li>
        <li>
            <a href="#" class="group">
                <div class="arrow"></div>
                <span class="text">Notifications</span>
            </a>
        </li>
    </ul>
</nav>
