/* layout banner stylesheet */

body {
    > nav.my {
        @include border-box;
        width: 100%;
        min-width: $tube-outer-width - 12px;
        padding: 6px 0 1px 12px;
        background-color: $nav-my-bg-color;
        > .content {
            @include border-box;
            width: $tube-inner-width;
            > .left {
                float: left;
            }
            > .right {
                float: right;
                a:first-child {
                    border-left: solid 1px $nav-my-link-border-color;
                }
                a:last-child {
                    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
                        border-right: 0px none !important;
                    }
                    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
                        border-right: 0px none !important;
                    }
                }
            }
            input {
                width: 200px;
                padding: 4px 8px;
                @include font-height(12px, 1.25);
            }
            a {
                display: inline-block;
                @include border-box;
                border-right: solid 1px $nav-my-link-border-color;
                padding: 4px 12px;
                @include font-height(14px, 1);
                font-weight: bold;
                color: $nav-my-link-color;
                &:hover {
                    background-color: $nav-my-link-hover-bg-color;
                    color: $nav-my-link-hover-text-color;
                    text-decoration: none;
                }
                &.email {
                    padding-left: 0;
                    color: $nav-my-email-link-color;
                    text-decoration: none;
                    cursor: default;
                    &:hover {
                        background-color: transparent;
                    }
                }
                &.user-voice {
                    background-image: $user-voice-24-filled;
                    background-position: 8px -1px;
                    background-repeat: no-repeat;
                    padding-left: 40px;
                }

            }
        }
    }
    > nav.modules {
        padding: 2px 0 0 0;
        background: $nav-modules-bg-color;
        @include inset-box-shadow(0, $nav-modules-inset-shadow-y, 0, 0, $nav-modules-inset-shadow-color);
        &.hide {
            visibility: hidden;
        }
        > ul {
            > li {
                float: left;
                > a {
                    display: inline-block;
                    @include border-box;
                    margin: 4px 2px 0 0;
                    @include border-radii(8px, 8px, 0, 0);
                    padding: 6px 8px;
                    height: 28px;
                    @media only screen and(max-width: 1024px) {
                        @include font-height(14px, 16px);
                    }
                    background-color: $nav-modules-bg-lighter;
                    @include font-ms;
                    color: $nav-modules-text-color;
                    text-decoration: none;
                    @include text-shadow($nav-modules-text-shadow-x, $nav-modules-text-shadow-y, $nav-modules-text-shadow-blur, $nav-modules-text-shadow-color);
                    @include inset-box-shadow($nav-modules-inset-shadow-x, $nav-modules-inset-shadow-y, $nav-modules-inset-shadow-blur, $nav-modules-inset-shadow-spread, $nav-modules-inset-shadow-color);
                    @include transition(all, 500ms);
                }
                &:first-child a {
                    margin-left: 4px;
                }
                &:hover a {
                    background-color: $nav-module-bg-color;
                    @include no-box-shadow;
                }
                &.current a {
                    @include transition-none;
                    @include no-box-shadow;
                    padding: 8px;
                    margin-top: 0;
                    height: 32px;
                    background-color: $nav-module-bg-color;
                    color: $nav-modules-current-text-color;
                    font-weight: bold;
                    cursor: default;
                }
            }
        }
    }
    > header {
        position: relative;
        z-index: 1;
        @include border-box;
        width: 100%;
        background: $banner-outer-bg;
        > .content {
            @include border-box;
            min-width: $tube-outer-width;
            height: $banner-height;
            background-image: url($banner-logo);
            background-color: $banner-bg-color;
            background-repeat: no-repeat;
            background-position: bottom left;
            > .flasher {
                @include border-box;
                display: inline-block;
                border: $flasher-border;
                @include border-radius(12px);
                margin-top: 15px;
                margin-left: 15px;
                max-width: 700px;
                @media only screen and (max-width : 320px) {
                    max-width: 310px;
                }
                @media only screen and (min-width : 321px) {
                    max-width: 480px;
                }
                @media only screen and (min-device-width : 768px) {
                    max-width: 700px;
                }
                @include font-height(15px, 23px);
                @include font-ms;
                font-weight: bold;
                background: $flasher-bg-color;
                &.hide {
                    visibility: hidden;
                }
                > a {
                    @include border-box;
                    display: block;
                    padding: 12px 16px;
                    color: $flasher-text-color;
                    p {
                        @include border-box;
                        /* paragraph width is flasher width minus 70 px to allow for closer image and padding */
                        max-width: 630px;
                        @media only screen and (max-width : 320px) {
                            max-width: 240px;
                        }
                        @media only screen and (min-width : 321px) {
                            max-width: 410px;
                        }
                        @media only screen and (min-device-width : 768px) {
                            max-width: 630px;
                        }
                        @include text-shadow(1px, 1px, 1px, rgba(33, 33, 33, .2));
                        .dismissal {
                            font-weight: normal;
                        }
                    }
                    i {
                        background: $flasher-close-icon;
                        margin-left: 8px;
                        width: 24px;
                        height: 24px;
                    }
                }
            }
        }
    }
    > nav.bib {
        position: relative;
        padding: 0 0 2px 0;
        @include border-box;
        @include ie-box-shadow;
        background-color: $nav-bib-bg-color;
        > ul {
            @include border-box;
            width: $tube-outer-width - 4px;
            margin: 0 0 0 4px;
            > li {
                float: left;
                > a {
                    display: inline-block;
                    @include border-box;
                    margin: 0 2px 0 0;
                    @include border-radii(0, 0, 8px, 8px);
                    @include font-height(16px, 1);
                    @media only screen and(max-width: 1024px) {
                        @include font-height(14px, 16px);
                    }
                    padding: 10px 16px 8px;
                    color: $nav-bib-link-text-color;
                    text-decoration: none;
                }
                &:hover a {
                    color: $nav-bib-link-hover-text-color;
                    background-color: $nav-bib-link-hover-bg-color;
                    @include ie-box-shadow;
                }
                &.current a {
                    padding: 9px 16px 9px;
                    background-color: $nav-bib-current-bg-color;
                    background-image: none;
                    color: $nav-bib-current-text-color;
                    font-weight: bold;
                    cursor: default;
                }
            }
        }
    }
}
