/* main layout stylesheet */

html {
    @include border-box;
    /* needed to do full height footer*/
    height: 100%;
    > body {
        @include border-box;
        /* position & min-height needed to do full height footer*/
        position: relative;
        min-height: 100%;
        min-width: $tube-outer-width;
        @include font-arial;
        color: #333;
    }
}

@import 'layout-banner';
@import 'layout-content';
body {
    #main {
        /* look out for footer height */
        @include border-box;
        min-width: $tube-outer-width;
        @include ie-box-shadow;
        > .content {
            @include border-box;
            padding-bottom: $footer-height + 20px;
            @include font-ms;
            &.to-top {
                padding-top: 0 !important;
            }
            &.fixed {
                @include border-box;
                width: $tube-outer-width;
                padding-left: $tube-outer-width - $tube-inner-width;
                padding-top: $tube-outer-width - $tube-inner-width;
                .group {
                    .float-left.from-top {
                        padding-top: $tube-outer-width - $tube-inner-width;
                        @include border-box;
                        width: 690px;
                    }
                    .float-right.from-top {
                        @include border-box;
                        width: 260px;
                        display: block;
                    }
                }
                [data-side-swiper=root] {
                    position: relative;
                    overflow: hidden;
                    > [data-side-swiper=deck] {
                        width: 10000px;
                        > [data-side-swiper=off], [data-side-swiper=on] {
                            position: relative;
                            float: left;
                            width: 960px;
                            margin-right: 20px
                        }
                    }
                }
                [data-fixed-scroll=root] {
                    [data-fixed-scroll=content] {
                        margin-top: $tube-outer-width - $tube-inner-width;
                        background-color: transparent;
                        > [data-side-swiper=off], [data-side-swiper=on] {
                            width: 260px;
                        }
                    }
                }
                nav.side {
                    > ul {
                        > li {
                            margin-bottom: 1px;
                            &:first-child > a > .text {
                                @include border-radii(8px, 8px, 0, 0);
                            }
                            &:first-child.current > a > .text {
                                @include border-radii(0, 8px, 0, 0);
                            }
                            &:last-child > a > .text {
                                @include border-radii(0, 0, 8px, 8px);
                            }
                            &:last-child.current > a > .text {
                                @include border-radii(0, 0, 8px, 0);
                            }
                            &:last-child.current > .content {
                                @include border-radii(0, 0, 8px, 8px);
                            }
                            > a {
                                display: block;
                                text-decoration: none;
                                > .arrow {
                                    display: inline-block;
                                    border: solid 15px transparent;
                                    border-left: none;
                                }
                                > .text {
                                }
                            }
                            > a > .text, > .text {
                                display: inline-block;
                                @include border-box;
                                width: 245px;
                                padding: 5px 8px 5px 8px;
                                @include font-height(16px, 20px);
                                font-weight: bold;
                                color: $sidebar-default-text-color;
                                background-color: $sidebar-default-bg-color;
                            }
                            > .text {
                                margin-left: 15px;
                            }
                            &:hover > a > .arrow {
                                @include transition(all, 250ms);
                                border-left: none;
                            }
                            &:hover > a > .text {
                                @include transition(all, 250ms);
                                background-color: $sidebar-hover-bg-color;
                                color: $sidebar-hover-text-color;
                            }
                            &.current > a > .arrow {
                                border-right-color: $sidebar-current-bg-color;
                                cursor: default;
                            }
                            &.current > a > .text {
                                background-color: $sidebar-current-bg-color;
                                color: $sidebar-current-text-color;
                                cursor: default;
                            }
                            > .content {
                                line-height: 20px;
                                display: none;
                                a {
                                    color: $sidebar-content-text-color;
                                    text-decoration: underline;
                                    &:hover {
                                        text-decoration: none;
                                    }
                                }
                            }
                            &.current > .content {
                                @include border-box;
                                display: block;
                                margin-left: 15px;
                                margin-top: -8px;
                                padding: 8px 12px 12px 12px;
                                background-color: $sidebar-current-bg-color;
                                color: $sidebar-content-text-color;
                            }
                            &.static > .content {
                                display: block;
                                margin-left: 15px;
                                padding: 0 7px 8px 8px;
                                background-color: $sidebar-default-bg-color;
                                color: $sidebar-default-text-color;
                                a {
                                    color: $sidebar-default-text-color;
                                }
                            }
                        }
                    }
                }
            }
            &.fluid {
                @include border-box;
                width: 100%;
                padding: 0;
            }
            header {
                $temp-vertical-align: text-top;
                margin: 16px 0;
                vertical-align: $temp-vertical-align;
                &:first-child {
                    margin-top: 0 !important;
                }
                .breadcrumb-arrows {
                    vertical-align: $temp-vertical-align;
                    display: inline-block;
                    line-height: 30px;
                    font-size: 12px;
                    @include font-ms;
                }
                a {
                    text-decoration: underline;
                    .breadcrumb-arrows {
                        text-decoration: none;
                    }
                    &:hover .breadcrumb-arrows {
                        text-decoration: none;                    
                    }
                }
                h1, h2, h3, h4, h5, h6 {
                    display: inline-block;
                    font-family: Arial;
                    vertical-align: $temp-vertical-align;
                    line-height: 30px;
                }
                h1 {
                    font-size: 24px;
                    text-transform: uppercase;
                    color: $heading-text-color;
                    a {
                        color: $heading-text-color;
                    }
                }
                h2 {
                    font-size: 22px;
                    color: #333;
                    font-weight: bold;
                    a {
                        color: #333;
                    }
                }
            }
            p {
                @include font-height(16px, 1.5);
                margin: 1em 0;
            }
            a, a:visited {
                color: $main-link-color;
                text-decoration: underline;
            }
            a:hover {
                text-decoration: none;
            }
            a[target=_blank], a[target=_blank]:visited {
                color: $external-link-color;
            }
        }
    }
}
@import 'layout-footer';
