@{
    ViewBag.Title = "Api Test";
}

@section scripts
{

    <script type="text/javascript">

        function TempUpload() {
            var self = this;

            this.uploads = ko.observableArray();

            $('#agreement_files').kendoUpload({
                multiple: true,
                showFileList: false,
                localization: {
                    select: 'Choose temporary files to upload...'
                },
                async: {
                    saveUrl: App.Routes.WebApi.Uploads.post(),
                    removeUrl: '/somepaththatdoesnotexistatleastyet'
                },
                select: function (e) {
                    for (var i = 0; i < e.files.length; i++) {
                        var file = e.files[i];
                        self.uploads.push({
                            extension: file.extension,
                            name: file.name,
                            size: file.size
                        });
                        var info = 'selected file ' + file.name;
                        console.log(info);
                        alert(info);
                    }
                },
                upload: function (e) {
                    //e.preventDefault();
                    var info = 'uploading of one file is about to begin asynchronously';
                    console.log(info);
                    alert(info);
                },
                success: function (e) {
                    var info = 'there was success uploading: ' + e.files[0].name + ' is temporarily stored under GUID ' + e.response;
                    alert(info);
                    console.log(info);
                },
                error: function (e) {
                    alert('there was an error uploading');
                },
                complete: function (e) {
                    alert('uploading of all files is complete');
                    console.log('upload of all files is complete');
                }
            });
        };

        function ViewModel() {
            var self = this;

            this.tempUpload = new TempUpload();
            this.agreementSettings = {
                urlString: 'App.Routes.WebApi.Agreements.Settings.get()',
                result: ko.observable(),
                invoke: function () {
                    $.ajax({
                        url: eval(this.urlString),
                        type: 'GET'
                    })
                        .done(function (result) {
                            //if (result) alert('done: result = ' + result);
                            //else alert('done: NO RESULT (' + result + ')');
                            self.agreementSettings.result(JSON.stringify(result, undefined, 4));
                            //$('#agreementSettingsGet').text(JSON.stringify(result, undefined, 4));
                        })
                        .fail(function (xhr) {
                            alert('fail: status = ' + xhr.status + ' ' + xhr.statusText + '; message = "' + xhr.responseText + '"');
                        });
                },
                clear: function () {
                    self.agreementSettings.result(undefined);
                }
            };
        };

        ko.applyBindings(new ViewModel(), $('[data-current-module=admin]')[0]);
    </script>

}

<div class="content fixed" data-current-module="admin">
    <header>
        <h1>@ViewBag.Title</h1>
    </header>
    <section data-bind="with: tempUpload, visible: tempUpload" style="display: none;">
        <header>
            <h2>Temporary File Upload</h2>
        </header>
        <div>
            <form enctype="multipart/form-data">
                <div>
                    <input id="agreement_files" type="file" name="files[]" />
                </div>
                <ul data-bind="foreach: uploads">
                    <li>
                        <div style="width: 500px; border: solid 1px #666; position: relative; margin-top: 4px;">
                            <span style="position: absolute; display: inline-block; padding: 4px;" data-bind="text: name"></span>
                            <div style="height: 28px; background-color: #bdebbd; width: 30%;">
                            </div>
                        </div>
                    </li>
                </ul>
            </form>
        </div>
        <div>
        </div>
    </section>
    <section data-bind="with: agreementSettings, visible: agreementSettings" style="display: none;">
        <header>
            <h2>Agreement Settings</h2>
        </header>
        <div>
            <code data-bind="text: urlString"></code>=&gt; <span class="url-string">&quot;<span data-bind="    text: eval(urlString)"></span>&quot;</span>
        </div>
        <div style="margin: 16px 0;">
            <input type="button" value="Invoke" data-bind="click: invoke" />
            <input type="button" value="Clear" data-bind="click: clear, visible: result" />
        </div>
        <div>
            <strong data-bind="visible: result">Result:</strong>
            <pre data-bind="text: result"></pre>
        </div>
    </section>
</div>

@section styles
{
    <style type="text/css">
        code, pre {
            font-family: 'Courier New', monospace;
        }

        .url-string {
            font-weight: bold;
            color: #c00;
        }

        .k-upload-button {
            max-width: 500px;
        }
    </style>
}
