@{
    ViewBag.Title = "Api Test";
}

@section scripts
{

    <script type="text/javascript">

        $.get(App.Routes.WebApi.Agreements.UmbrellaOptions.get(2)).done(function(results) {
            //alert('have results');
        });

        $('#agreement_post_button').click(function () {
            $.post(App.Routes.WebApi.Agreements.post(), {
                participants: [
                    { establishmentId: 66, isOwner: true },
                    { establishmentId: 1, isOwner: false }
                ],
                umbrellaId: 2,
                type: 'Institutional Agreement',
                name: 'FIPSE Brazil',
                content: '<p>Here is my agreement content</p>',
                notes: 'Here are my agreement notes',
                startsOn: '6/5/2008',
                expiresOn: '6/4/2013',
                isExpirationEstimated: true,
                isAutoRenew: false,
                status: 'Pending',
                visibility: 'Protected'
            })
            .done(function (responseText, statusText, xhr) {
                var location = xhr.getResponseHeader('location');
                var agreementId = parseInt(location.substring(location.lastIndexOf('/') + 1));
                var info = 'post of uploaded file resulted in new agreement id ' + agreementId;
                console.log(info);
                alert(info);
            });
        });

        window.countGraphicValue = ko.observable(-1);
        window.countGraphicOpacity = ko.observable(1);
        setInterval(function () {
            window.countGraphicValue(window.countGraphicValue() + 1);
            if (window.countGraphicValue() > 1299) {
                window.countGraphicValue(0);
                window.countGraphicOpacity(window.countGraphicOpacity() - 0.1);
                if (window.countGraphicOpacity() < 0.1)
                    window.countGraphicOpacity(1);
            }
            $('#placemark_graphic').attr('src', '/api/graphics/circle?side=24&opacity=' + window.countGraphicOpacity() + '&text=' + window.countGraphicValue());
        }, 50);

        function TempUpload() {
            var self = this;

            this.uploads = ko.observableArray();

            $('#post_agreement_upload_button').click(function () {
                var guid = $('#post_agreement_upload_guid').val();
                $.post('/api/agreements/6/files', {
                    uploadGuid: guid,
                    originalName: 'originalName.pdf',
                    customName: 'customName',
                    visibility: 'Private'
                }).done(function (responseText, statusText, xhr) {
                    var location = xhr.getResponseHeader('location');
                    var fileId = parseInt(location.substring(location.lastIndexOf('/') + 1));
                    var info = 'post of uploaded file resulted in new agreement id ' + fileId;
                    console.log(info);
                });
            });

            $('#agreement_files').kendoUpload({
                multiple: true,
                showFileList: false,
                localization: {
                    select: 'Choose temporary files to upload...'
                },
                async: {
                    //saveUrl: '/api/agreements/6/files'
                    saveUrl: App.Routes.WebApi.Uploads.post()//,
                    //removeUrl: '/somepaththatdoesnotexistatleastyet'
                },
                select: function (e) {
                    for (var i = 0; i < e.files.length; i++) {
                        var file = e.files[i];
                        self.uploads.push({
                            extension: file.extension,
                            name: file.name,
                            size: file.size,
                            percentComplete: ko.observable(1),
                            isFinished: false
                        });
                        var info = 'selected file ' + file.name;
                        console.log(info);
                        //alert(info);
                    }
                },
                upload: function (e) {
                    // validate here and prevent if extensions are not allowed
                    //e.preventDefault();
                    e.data = {
                        //uploadGuid: '4fc91d48-62b8-42ec-99b1-06816774ac93',
                        originalName: 'originalName.pdf',
                        customName: 'customName',
                        visibility: 'Private'
                    };
                    var info = 'uploading of one file is about to begin asynchronously';
                    console.log(info);
                    //alert(info);
                },
                progress: function (e) {
                    var info = 'progress for ' + e.files[0].name + ' ' + e.percentComplete + '% complete';
                    console.log(info);
                    //alert(info);
                    var criteria = e.files[0];
                    criteria.isFinished = false;
                    var upload = self.getUpload(criteria);
                    if (!upload) return;
                    upload.percentComplete(e.percentComplete);
                    if (e.percentComplete == 100) {
                        upload.isFinished = true;
                    }
                },
                success: function (e) {
                    var info = 'there was success uploading: ' + e.files[0].name + ' is temporarily stored under GUID ' + e.response.guid;
                    //alert(info);
                    console.log(info);
                    var criteria = e.files[0];
                    criteria.isFinished = false;
                    var upload = self.getUpload(criteria);
                    if (!upload) return;
                    upload.percentComplete(100);
                    upload.percentComplete(e.percentComplete);
                    if (e.percentComplete == 100) {
                        upload.isFinished = true;
                    }
                },
                error: function (e) {
                    alert('there was an error uploading ' + e.files[0].name);
                },
                complete: function () {
                    //alert('uploading of all files is complete');
                    console.log('upload of all files is complete');
                }
            });

            this.getUpload = function (criteria) {
                var uploads = self.uploads();
                for (var i = 0; i < uploads.length; i++) {
                    var upload = uploads[i];
                    if (upload.name === criteria.name && upload.size === criteria.size) {
                        if (typeof (criteria.isFinished) === 'undefined' || upload.isFinished === criteria.isFinished) {
                            return upload;
                        }
                    }
                }
                return null;
            };
        }

        ;

        function ViewModel() {
            var self = this;

            this.tempUpload = new TempUpload();
            this.agreementSettings = {
                urlString: 'App.Routes.WebApi.Agreements.Settings.get()',
                result: ko.observable(),
                invoke: function () {
                    $.ajax({
                        url: eval(this.urlString),
                        type: 'GET'
                    })
                        .done(function (result) {
                            //if (result) alert('done: result = ' + result);
                            //else alert('done: NO RESULT (' + result + ')');
                            self.agreementSettings.result(JSON.stringify(result, undefined, 4));
                            //$('#agreementSettingsGet').text(JSON.stringify(result, undefined, 4));
                        })
                        .fail(function (xhr) {
                            alert('fail: status = ' + xhr.status + ' ' + xhr.statusText + '; message = "' + xhr.responseText + '"');
                        });
                },
                clear: function () {
                    self.agreementSettings.result(undefined);
                }
            };
        }

        ;

        ko.applyBindings(new ViewModel(), $('[data-current-module=admin]')[0]);
    </script>

}

<div class="content fixed" data-current-module="admin">
    <header>
        <h1>@ViewBag.Title</h1>
    </header>
    <section>
        <header>
            <h2>Agreement POST</h2>
        </header>
        <div>
            <input id="agreement_post_button" type="button" value="POST test agreement" />
        </div>
    </section>
    <section data-bind="visible: tempUpload" style="display: none;">
        <header>
            <h2>Temporary File Upload</h2>
        </header>
        <div>
            <form enctype="multipart/form-data">
                <div>
                    <input id="agreement_files" type="file" name="fileMedium" />
                </div>
                <ul data-bind="foreach: tempUpload.uploads">
                    <li>
                        <div class="group">
                            <div class="on-left" style="width: 500px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;">
                                <div style="border: solid 1px #666; position: relative; margin-top: 4px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;">
                                    <div style="height: 28px; overflow: hidden; position: absolute; display: block; width: 100%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; line-height: 28px; padding: 0 4px;">
                                        <div class="group">
                                            <div class="on-left">
                                                <span data-bind="text: name"></span>
                                            </div>
                                            <div class="on-right" style="-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 4px 0 4px 4px;">
                                                <img style="vertical-align: top;" alt="" src="~/images/icons/spinner/spinner-20-blue.gif" data-bind="visible: percentComplete() < 100" />
                                            </div>
                                        </div>
                                    </div>
                                    <div style="height: 28px; background-color: #bdebbd; width: 1%; -moz-transition: width 1s; -o-transition: width 1s; -webkit-transition: width 1s; transition: width 1s;"
                                        data-bind="style: { 'width': percentComplete() + '%' }">
                                    </div>
                                </div>
                            </div>
                            <div class="on-left">
                                @*<div style="padding: 7px;">
                                    <a href="#/cancel/" data-bind="visible: percentComplete() < 100"><img alt="Cancel upload" src="~/images/icons/closer/closer-20-red-disc.png" /></a>
                                    <a href="#/delete/" data-bind="visible: percentComplete() >= 100"><img alt="Delete file" src="~/images/icons/minus/minus-20-red.png" /></a>
                                </div>*@
                            </div>
                        </div>
                    </li>
                </ul>
                <div style="margin-top: 16px;">
                    <select id="post_agreement_upload_guid">
                        <option value="4158BC28-D8A8-4F3E-A9EE-539FBE7FEF39">Uploaded DOCX file</option>
                        <option value="D33CE26E-DA81-4966-8AD1-8FAF14E7A4B8">Uploaded WMV file</option>
                        <option value="DA78D228-B774-49BE-AB22-47EFB99003F8">Uploaded XLS file</option>
                        <option value="2CA0ED34-635E-4199-801E-B95F2F5AB27B">Uploaded PPT file</option>
                    </select>
                    <input id="post_agreement_upload_button" type="button" value="Post Without File Upload" />
                </div>
            </form>
        </div>
        <div>
        </div>
    </section>
    <section>
        <header>
            <h2>Placemark Drawing</h2>
        </header>
        <div>
            <div style="background-color: #999; padding: 10px;">
                <img id="placemark_graphic" alt="" src="@Url.HttpRouteUrl(null, new { controller = "Graphics", action = "GetCircle", Side = 24, Text = 0, })" style="border: solid 1px transparent;" />
                <span>Opacity: </span><span data-bind="text: window.countGraphicOpacity"></span>
            </div>
        </div>
    </section>
    <section data-bind="with: agreementSettings, visible: agreementSettings" style="display: none;">
        <header>
            <h2>Agreement Settings</h2>
        </header>
        <div>
            <code data-bind="text: urlString"></code>=&gt; <span class="url-string">&quot;<span data-bind="    text: eval(urlString)"></span>&quot;</span>
        </div>
        <div style="margin: 16px 0;">
            <input type="button" value="Invoke" data-bind="click: invoke" />
            <input type="button" value="Clear" data-bind="click: clear, visible: result" />
        </div>
        <div>
            <strong data-bind="visible: result">Result:</strong>
            <pre data-bind="text: result"></pre>
        </div>
    </section>
</div>

@section styles
{
    <style type="text/css">
        code, pre {
            font-family: 'Courier New', monospace;
        }

        .url-string {
            font-weight: bold;
            color: #c00;
        }

        .k-upload-button {
            max-width: 500px;
        }
    </style>
}
