<ul class="group">
    <li id="bib-faculty-staff-summary" class="summary">
        <a href="#">Summary</a>
    </li>
    <li id="bib-faculty-staff-search" class="search">
        <a href="/facultystaff/#/search">Search</a>
    </li>
    <li id="bib-faculty-staff-expert" class="expert">
        <a href="/facultystaff/#/expert">Find an Expert</a>
    </li>
</ul>
