<span>Search options</span>
<div>
    <div>
        <label for="tagsTextbox">Tags</label>
        <input type="text" id="tagsTextbox" style="width: 80%"/>
        <div>
            <span>Activities</span><input type="radio" id="activitiesRadioButton"/>
            <span>People</span><input type="radio" id="people"/>
        </div>
        <div>
                <label for="fromDate" class="required-field">From</label>
                <select id="fromDate" data-bind="value: from"></select>
                <label for="toDate" class="non-required-field" style="width: 30px">To</label>
                <select id="toDate" data-bind="value: to"></select>
        </div>
    </div>
</div>
