@{
    ViewBag.Title = "Faculty & Staff";
}

<div class="content fixed to-top" data-current-module="employees">
    <div class="group">
        <div class="on-left from-top">
            <header>
                <h1>
                    @ViewBag.Title
                </h1>
            </header>
        </div>
    </div>
</div>
