@{
    ViewBag.Title = "Faculty & Staff";
}

<div class="fixed content" data-current-module="employees">
    <header>
        <h1>Choose your institution</h1>
    </header>
    @{ Html.RenderAction(MVC.Admin.TenantLogos(false)); }
</div>
