@{
    ViewBag.Title = "Search Faculty & Staff";
}
@section bib
{
    <nav class="bib hide" data-current-bib="search">
        @Html.Partial(MVC.Employees.Views._Bib)
    </nav>
}

@section scripts
{
    <script type='text/javascript' src='https://www.google.com/jsapi'></script>
    <script type='text/javascript'>
        google.load( 'visualization', '1', { 'packages': ['geochart'] } );
        google.setOnLoadCallback( drawRegionsMap );

        function drawRegionsMap() {

            var countryData = new Array();
            countryData.push(['Country', 'Activities']);

            $.ajax( {
                type: "GET",
                async: false,
                url: App.Routes.WebApi.Activities.CountryCounts.get(),
                success: function ( data, textStatus, jqXHR ) {
                    for ( var i = 0; i < data.length; i += 1 ) {                      
                        countryData.push([data[i].officialName, data[i].count]);
                    }
                },
                error: function(jqXhr, textStatus, errorThrown) {
                    debugger;
                },
                dataType: 'json'
            } );

            var countryData = google.visualization.arrayToDataTable( countryData );

            var options = {};

            var chart = new google.visualization.GeoChart( document.getElementById( 'chart' ) );
            chart.draw( countryData, options );
        };

        //function ViewModel() {
        //    var self = this;
        //};       
        //ko.applyBindings(new ViewModel(), $('[data-current-module=agreements]')[0]);
    </script>

}

<div class="content fixed to-top" data-current-module="employees">
    <div class="on-left from-top">
        <header>
            <h1>
                @ViewBag.Title
            </h1>
        </header>
        <div id="chart" style="width: 700px; height: 500px;"></div>
    </div>
    <div class="on-right from-top">
        <div class="">
            @Html.Partial(MVC.Employees.Views._SearchSideBar)
        </div>
    </div>
</div>
