@{
    ViewBag.Title = "Professional Engagement Summary";
}

@section scripts
{

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

    <script type="text/javascript" src="~/scripts/oss/linq.js"></script>

    <script type="text/javascript" src="~/scripts/google/GeoChart.js"></script>

    <script type="text/javascript" src="~/scripts/viewmodels/employees/Server.js"></script>

    <script type="text/javascript" src="~/scripts/viewmodels/employees/Summary.js"></script>

    <script type="text/javascript">
        // Google API needs to be called outside of JQuery ready()
        Employees.ViewModels.Summary.loadGoogleVisualization().done(function () {
            var viewModel = new Employees.ViewModels.Summary({
                geoChartElementId: 'google_geochart',
                tenantDomain: '@ViewBag.EmployeesDomain',

            });
            ko.applyBindings(viewModel, $('[data-current-module=employees]')[0]);
        });
    </script>

}

<div class="content fixed to-top" data-current-module="employees">
    <div class="group">
        <div class="on-left from-top">
            <header>
                <h1>
                    @ViewBag.Title
                </h1>
            </header>

            <div class="group" style="height: 30px;">
                <div class="on-left">
                </div>
                <div class="on-right">
                    <div data-bind="visible: geoChartSpinner.isVisible">
                        <img src="~/images/icons/spinner/spinner-20-blue.gif" alt="" />
                        <strong>Loading geographic summary...</strong>
                    </div>
                </div>
            </div>

            @* GOOGLE CHART *@
            <div style="position: relative;">
                <div id="google_geochart" style="width: 100%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; height: 500px;">
                </div>

                @* ADDITIONAL CHART LABELS (BODIES OF WATER & ANTARCTICA) *@
                <div data-bind="visible: isGeoChartReady" style="display: none;">
                    <div data-bind="with: pacificOceanSwapper" style="position: absolute; top: 349px; left: 68px;">
                        <div data-bind="event: { mouseover: mouseover, mouseout: mouseout }">
                            <img data-bind="visible: isUp" src="~/images/geochart/up/pacific-ocean.png" alt="Pacific Ocean" />
                            <img data-bind="visible: isHover" src="~/images/geochart/hot/pacific-ocean.png" alt="Pacific Ocean" style="display: none;" />
                        </div>
                    </div>
                    <div data-bind="with: gulfOfMexicoSwapper" style="position: absolute; top: 287px; left: 160px;">
                        <div data-bind="event: { mouseover: mouseover, mouseout: mouseout }">
                            <img data-bind="visible: isUp" src="~/images/geochart/up/gulf-of-mexico.png" alt="Gulf of Mexico" />
                            <img data-bind="visible: isHover" src="~/images/geochart/hot/gulf-of-mexico.png" alt="Gulf of Mexico" style="display: none;" />
                        </div>
                    </div>
                    <div data-bind="with: caribbeanSeaSwapper" style="position: absolute; top: 311px; left: 205px;">
                        <div data-bind="event: { mouseover: mouseover, mouseout: mouseout }">
                            <img data-bind="visible: isUp" src="~/images/geochart/up/caribbean-sea.png" alt="Caribbean Sea" />
                            <img data-bind="visible: isHover" src="~/images/geochart/hot/caribbean-sea.png" alt="Caribbean Sea" style="display: none;" />
                        </div>
                    </div>
                    <div data-bind="with: atlanticOceanSwapper" style="position: absolute; top: 265px; left: 240px;">
                        <div data-bind="event: { mouseover: mouseover, mouseout: mouseout }">
                            <img data-bind="visible: isUp" src="~/images/geochart/up/atlantic-ocean.png" alt="Atlantic Ocean" />
                            <img data-bind="visible: isHover" src="~/images/geochart/hot/atlantic-ocean.png" alt="Atlantic Ocean" style="display: none;" />
                        </div>
                    </div>
                    <div data-bind="with: southernOceanSwapper" style="position: absolute; top: 441px; left: 280px;">
                        <div data-bind="event: { mouseover: mouseover, mouseout: mouseout }">
                            <img data-bind="visible: isUp" src="~/images/geochart/up/southern-ocean.png" alt="Southern Ocean" />
                            <img data-bind="visible: isHover" src="~/images/geochart/hot/southern-ocean.png" alt="Southern Ocean" style="display: none;" />
                        </div>
                    </div>
                    <div data-bind="with: arcticOceanSwapper" style="position: absolute; top: 23px; left: 330px;">
                        <div data-bind="event: { mouseover: mouseover, mouseout: mouseout }">
                            <img data-bind="visible: isUp" src="~/images/geochart/up/arctic-ocean.png" alt="Arctic Ocean" />
                            <img data-bind="visible: isHover" src="~/images/geochart/hot/arctic-ocean.png" alt="Arctic Ocean" style="display: none;" />
                        </div>
                    </div>
                    <div data-bind="with: indianOceanSwapper" style="position: absolute; top: 390px; left: 469px;">
                        <div data-bind="event: { mouseover: mouseover, mouseout: mouseout }">
                            <img data-bind="visible: isUp" src="~/images/geochart/up/indian-ocean.png" alt="Indian Ocean" />
                            <img data-bind="visible: isHover" src="~/images/geochart/hot/indian-ocean.png" alt="Indian Ocean" style="display: none;" />
                        </div>
                    </div>
                    <div data-bind="with: antarcticaSwapper" style="position: absolute; bottom: 0; left: 340px;">
                        <div data-bind="event: { mouseover: mouseover, mouseout: mouseout }">
                            <img data-bind="visible: isUp" src="~/images/geochart/up/antarctica.png" alt="Antarctica" />
                            <img data-bind="visible: isHover" src="~/images/geochart/hot/antarctica.png" alt="Antarctica" style="display: none;" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <aside class="on-right from-top">
        </aside>
    </div>
</div>
