/* layout content stylesheet */

body {
    #main {
        /* look out for footer height */
        @include border-box;
        min-width: $tube-outer-width;
        @include ie-box-shadow;
        > .content {
            @include border-box;
            padding-bottom: $footer-height + 20px;
            @include font-ms;
            &.to-top {
                padding-top: 0 !important;
            }
            &.fixed {
                @include border-box;
                width: $tube-outer-width;
                padding-left: $tube-outer-width - $tube-inner-width;
                padding-top: $tube-outer-width - $tube-inner-width;
                .group {
                    .float-left.from-top {
                        padding-top: $tube-outer-width - $tube-inner-width;
                        @include border-box;
                        width: 690px;
                    }
                    .float-right.from-top {
                        @include border-box;
                        width: 260px;
                        display: block;
                    }
                }
                [data-side-swiper=root] {
                    position: relative;
                    overflow: hidden;
                    > [data-side-swiper=deck] {
                        width: 10000px;
                        > [data-side-swiper=off], [data-side-swiper=on] {
                            position: relative;
                            float: left;
                            width: 960px;
                            margin-right: 20px;
                        }
                        > [data-side-swiper=off].left, [data-side-swiper=on].left {
                            width: 690px;
                        }
                    }
                }
                [data-fixed-scroll=root] {
                    [data-fixed-scroll=content] {
                        margin-top: $tube-outer-width - $tube-inner-width;
                        background-color: transparent;
                        > [data-side-swiper=off], [data-side-swiper=on] {
                            width: 260px;
                        }
                    }
                }
                nav.side {
                    > ul {
                        > li {
                            margin-bottom: 1px;
                            &:first-child > a > .text {
                                @include border-radius(8px 8px 0 0);
                            }
                            &:first-child.current > a > .text {
                                @include border-radius(0 8px 0 0);
                            }
                            &:last-child > a > .text {
                                @include border-radius(0 0 8px 8px);
                            }
                            &:last-child.current > a > .text {
                                @include border-radius(0 0 8px 0);
                            }
                            &:last-child.current > .content {
                                @include border-radius(0 0 8px 8px);
                            }
                            > a {
                                display: block;
                                text-decoration: none;
                                > .arrow {
                                    display: inline-block;
                                    border: solid 15px transparent;
                                    border-left: none;
                                }
                                > .text {
                                    > img {
                                        vertical-align: top;
                                    }
                                }
                            }
                            > a > .text, > .text {
                                display: inline-block;
                                @include border-box;
                                width: 245px;
                                padding: 5px 8px 5px 8px;
                                @include font-height(16px, 20px);
                                font-weight: bold;
                                color: $sidebar-default-text-color;
                                background-color: $sidebar-default-bg-color;
                            }
                            > .text {
                                margin-left: 15px;
                            }
                            &:hover > a > .arrow {
                                @include transition(all, 250ms);
                                border-left: none;
                            }
                            &:hover > a > .text {
                                @include transition(all, 250ms);
                                background-color: $sidebar-hover-bg-color;
                                color: $sidebar-hover-text-color;
                            }
                            &.current > a > .arrow {
                                border-right-color: $sidebar-current-bg-color;
                                cursor: default;
                            }
                            &.current > a > .text {
                                background-color: $sidebar-current-bg-color;
                                color: $sidebar-current-text-color;
                                cursor: default;
                            }
                            > .content {
                                line-height: 20px;
                                display: none;
                                a {
                                    color: $sidebar-content-text-color;
                                    text-decoration: underline;
                                    &:hover {
                                        text-decoration: none;
                                    }
                                }
                            }
                            &.current > .content {
                                @include border-box;
                                display: block;
                                margin-left: 15px;
                                margin-top: -8px;
                                padding: 8px 12px 12px 12px;
                                background-color: $sidebar-current-bg-color;
                                color: $sidebar-content-text-color;
                            }
                            &.static > .content {
                                display: block;
                                margin-left: 15px;
                                padding: 0 7px 8px 8px;
                                background-color: $sidebar-default-bg-color;
                                color: $sidebar-default-text-color;
                                a, button.link, input[type=submit].link, input[type=reset].link, input[type=button].link {
                                    color: $sidebar-default-text-color;
                                    &[disabled] {
                                        color: #999;
                                    }
                                }
                            }
                        }
                        &.top {
                            > li {
                                &:last-child > a > .text {
                                    @include border-radius(0);
                                }
                                &:last-child.current > a > .text {
                                    @include border-radius(0);
                                }
                                &:last-child.current > .content {
                                    @include border-radius(0);
                                }
                            }
                        }
                        &.bottom {
                            > li {
                                &:first-child > a > .text {
                                    @include border-radius(0);
                                }
                                &:first-child.current > a > .text {
                                    @include border-radius(0);
                                }
                            }
                        }
                    }
                }
            }
            &.fluid {
                @include border-box;
                width: 100%;
                padding: 0;
            }
            a, a:visited {
                color: $main-link-color;
                text-decoration: underline;
            }
            a:hover {
                text-decoration: none;
            }
            a[target=_blank], a[target=_blank]:visited {
                color: $external-link-color;
            }
            p {
                @include font-height(16px, 1.5);
                margin: 1em 0;
            }
            header {
                $temp-vertical-align: text-top;
                margin: 16px 0;
                vertical-align: $temp-vertical-align;
                &:first-child {
                    margin-top: 0 !important;
                }
                .breadcrumb-arrows {
                    vertical-align: $temp-vertical-align;
                    display: inline-block;
                    line-height: 30px;
                    font-size: 12px;
                    @include font-ms;
                }
                a {
                    text-decoration: none;
                    &:visited {
                        text-decoration: none;
                    }
                    .breadcrumb-arrows {
                        text-decoration: none;
                    }
                    h1, h2, h3, h4, h5, h6 {
                        text-decoration: underline;
                    }
                    &:hover {
                        .breadcrumb-arrows {
                            text-decoration: none;
                        }
                        h1, h2, h3, h4, h5, h6 {
                            text-decoration: none;
                        }
                    }
                }
                h1, h2, h3, h4, h5, h6 {
                    display: inline-block;
                    font-family: Arial;
                    vertical-align: $temp-vertical-align;
                    line-height: 30px;
                }
                h1 {
                    font-size: 24px;
                    text-transform: uppercase;
                    color: $heading-text-color;
                    a {
                        color: $heading-text-color;
                    }
                }
                h2 {
                    font-size: 22px;
                    color: #333;
                    font-weight: bold;
                    a {
                        color: #333;
                    }
                }
            }
            table.data {
                width: 100%;
                margin: 16px 0;
                th {
                    border: solid 1px #fff;
                    padding: 4px 8px;
                    vertical-align: text-top;
                    text-align: left;
                    background-color: $table-header-bg-color;
                    color: $table-header-text-color;
                    font-weight: bold;
                }
                td {
                    border: solid 1px #fff;
                    padding: 4px;
                    vertical-align: text-top;
                }
                tbody {
                    tr {
                        &:nth-child(even) {
                            td {
                                background-color: $table-row-even-bg-color;
                            }
                        }
                        &.hover-hilite:hover {
                            * {
                                cursor: pointer;
                            }
                            td {
                                background-color: $row-hilite-bg-color;
                            }
                        }
                    }
                }
            }
            ul.data, ol.data {
                > li {
                    &.hover-hilite:hover {
                        background-color: $row-hilite-bg-color;
                        * {
                            cursor: pointer;
                        }
                    }
                    > div {
                        @include border-box;
                        margin-bottom: 1em;
                        border: solid 1px #555;
                        padding: 16px;
                        @include border-radius(8px);
                        > .float-right {
                            margin-left: 5px;
                        }
                    }
                }
            }
            ul.data-items, ol.data-items {
                > li {
                    margin-bottom: 4px;
                }
            }
        }
    }
    .ui-dialog {
        border: 0;
        padding: 0;
        max-width: 730px;
        @include font-ms;
        @include font-height(16px, 20px);
        background-color: transparent;
        .ui-dialog-titlebar {
            border: 0;
            @include border-radius(8px 8px 0 0);
            .ui-dialog-title {
                cursor: move;
            }
            .ui-dialog-titlebar-close {
                padding: 0;
                width: 24px;
                height: 24px;
                top: 5px;
                right: 10px;
                margin: 0;
                @include opacity(.5);
                .ui-icon {
                    width: 24px;
                    height: 24px;
                    background-image: url('../../icons/closer-24-dark.png');
                    background-position: 0 0;
                }
                &.ui-state-hover {
                    border: 0;
                    background: transparent;
                    @include opacity(1);
                }
            }
        }
        .ui-dialog-content {
            background-color: #fff;
            p {
                @include font-height(16px, 1.5);
                margin: 1em 0;
            }
            p:first-child {
                margin-top: 0;
            }
        }
        .ui-dialog-buttonpane {
            margin-top: 0;
            border: 0;
            @include border-radius(0 0 8px 8px);
            padding-top: 8px;
            padding-left: 16px;
            padding-bottom: 16px;
            .ui-dialog-buttonset {
                float: none;
                padding-left: 0;
                button {
                    outline: none;
                    margin: 0 12px 0 0;
                    border: 0;
                    @include border-radius(4px);
                    padding: 6px 12px;
                    @include font-arial;
                    color: $button-text-color;
                    background: $button-bg-color;
                    .ui-button-text {
                        padding: 0;
                        line-height: normal;
                    }
                }
            }
        }
    }
    .ui-widget-overlay {
        background: #000 url('../../../images/ui-bg_flat_black_40x100.png') 50% 50% repeat-x;
        @include opacity(.6);
    }
    .badge {
        display: inline-block;
        @include font-height(12px, 16px);
        margin: 0 0 0 4px;
        @include border-radius(4px);
        padding: 2px 6px;
        text-transform: uppercase;
        vertical-align: top;
        @include text-shadow;
        &.green {
            background-color: #090;
            color: #fff;
        }
        &.red {
            background-color: #c00;
            color: #fff;
        }
        &.blue {
            background-color: #33f;
            color: #fff;
        }
    }
    .inline-block {
        display: inline-block;
    }
    .bold {
        font-weight: bold;
    }
}
