/* uc.edu */

$nav-modules-current-text-color: #eee;
$nav-modules-text-color: #fff;
$nav-modules-text-shadow-x: 0;
$nav-modules-text-shadow-y: 2px;
$nav-modules-text-shadow-blur: 3px;
$nav-modules-text-shadow-color: #000;

$nav-modules-inset-shadow-x: 0;
$nav-modules-inset-shadow-y: -1px;
$nav-modules-inset-shadow-blur: 2px;
$nav-modules-inset-shadow-spread: 0;
$nav-modules-inset-shadow-color: rgba(33, 33, 33, 0.5);

$nav-modules-default-opacity: .8;
$nav-modules-hover-opacity: .9;
$nav-modules-current-opacity: 1;

$banner-height: 100px;
$banner-bg-color: #000;
$nav-modules-bg-color: #fff;
$nav-module-bg-color: $banner-bg-color;
$nav-modules-bg-lighter: #333;

$flasher-border: solid 2px #e00122;
$flasher-bg-color: rgba(255, 255, 255, .9);
$flasher-bg-color-ie: #eee;
$flasher-text-color: #333;
$flasher-close-icon: $closer-dark-24;

$nav-bib-bg-color: #e00122;
$nav-bib-link-default-color: #eee;
$nav-bib-link-hover-color: #cb0120;
$nav-bib-current-bg-color: #000;
$nav-bib-current-text-color: #eee;
