<ul class="group">
    <li class="world-report">
        <a href="#">Worldwide Relationships</a>
    </li>
    <li class="country-report">
        <a href="#">Relationships by Country</a>
    </li>
    <li class="org-report">
        <a href="#">Relationships by Institution</a>
    </li>
    <li class="my">
        @{
            var tenancy = Request.Tenancy();
            var customProfileTitle = (tenancy != null && !string.IsNullOrWhiteSpace(tenancy.CustomProfileTitle))
                ? tenancy.CustomProfileTitle : "My UCosmic Profile";
        }
        <a href="@Url.Action(MVC.People.Me())">@customProfileTitle</a>
    </li>
</ul>
