<ul class="group">
    <li class="world-report">
        <a href="#">Worldwide Relationships</a>
    </li>
    <li class="country-report">
        <a href="#">Relationships by Country</a>
    </li>
    <li class="org-report">
        <a href="#">Relationships by Institution</a>
    </li>
    <li class="my">
        <a href="@Url.Action(MVC.MyProfile.Index())">My USF World Profile</a>
    </li>
</ul>
