@{
    ViewBag.Title = "Faculty & Staff";
}
<div class="fixed content" data-current-module="employees">
    <header>
        <h1>@ViewBag.Title</h1>
    </header>
    <p>
        This alpha placeholder page has no content.
    </p>
</div>
