@{
    ViewBag.Title = "Travel";
}
<div class="fixed content" data-current-module="travel">
    <header>
        <h1>@ViewBag.Title</h1>
    </header>
    <p>
        This alpha placeholder page has no content.
    </p>
</div>
