@{
    var tenancy = Request.Tenancy();
    var styleDomain = tenancy != null ? tenancy.StyleDomain : "default";
    var hasStyleDomain = !string.IsNullOrWhiteSpace(styleDomain);
}
<ul class="group">
    <li class="map">
        <a href="/Summary/Map">Map</a>
    </li>

    <li class="report">
        <a href="/Summary/Report">Report</a>
    </li>
    
</ul>
