
@*<script src="../../../../scripts/app/app.js"></script>
<script src="../../../../scripts/viewmodels/places/Utils.js"></script>
<script src="../../../../scripts/google/Map.js"></script>*@

<script src="https://maps.googleapis.com/maps/api/js?v=3.12&sensor=false&libraries=visualization&key=AIzaSyDxThwv2R2eKTH_c9O8fxksZ7fI8XTfgXs" type="text/javascript"> </script>
<link rel="import" href="~/components/pages/Summary/map/map.html">
@{
    ViewBag.Title = "Summary - Map";
    var tenancy = Request.Tenancy();
    var styleDomain = tenancy != null ? tenancy.StyleDomain : "default";
    var tenantId = tenancy != null ? tenancy.TenantId : 0;
    var hasStyleDomain = !string.IsNullOrWhiteSpace(styleDomain) && !"default".Equals(styleDomain, StringComparison.OrdinalIgnoreCase);
}
@section bib
{
    <nav class="bib hide" data-current-bib="map">
        @Html.Partial(MVC.Summary.Views._Bib)
    </nav>
}

<div class="fixed content" data-current-module="summary">

    <is-page-summary-map style_domain="@styleDomain" tenant_id="@tenantId"></is-page-summary-map>
</div>
