/* napier brand values */

$napier-brand-red: #c03;
$napier-brand-blue: #005daa;

$uwm-logo-gold: #ffc20e;
$uwm-brand-gold: #ffbd00;
$uwm-brand-black: #000000;
$uwm-accent-charcoal: #494949;
$uwm-accent-lime: #98c646;
$uwm-accent-purple: #694d88;
$uwm-accent-terracotta: #d06d34;
$uwm-accent-green: #5f9a38;
$uwm-accent-slate: #474d52;
