body > nav.modules > ul > li > a {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    font-family: Arial;
}

body > nav.modules > ul > li:hover a {
    -ms-filter: 'none';
}

body > nav.modules > ul > li.current a {
    padding: 10px 8px 6px;
}

body > header {
    > .flasher {
        background-color: #bfbfe5;
    }
}
