<link rel="import" href="../../Polymer/bower_components/paper-input/paper-input-decorator.html">
<link rel="import" href="../../Polymer/bower_components/core-input/core-input.html">
<core-style id="autoDDL">
    .items-inner-container {
    background-color: {{first}};
    padding: 5px;
    border-radius: 5px
    }
</core-style>
<polymer-element name="is-auto-ddl" attributes="url,selected,selectedid,list,backgroundcolor,highlightcolor">
    <template>
        <link href="autoDDL.css" rel="stylesheet" />
        <core-style ref="autoDDL"></core-style>
        <div style="margin-left:20px;" layout vertical>
            <paper-input-decorator style="padding-bottom: 2px;" floatinglabel layout vertical label="Type and choose an establishment">
                <input is="core-input" on-keyup="{{listSearch}}" id="selectedInput" on-blur="{{leaveSearch}}" on-keydown="{{selectedKeyPress}}" value="{{selected}}">
            </paper-input-decorator>
            <div id="itemsContainer" style="height:0; z-index:10;">
                <template if="{{list.length > 0}}">
                    <div id="itemsInnerContainer" class="items-inner-container" on-mouseout="{{selectHoverLeave2}}">
                        <template repeat="{{item, itemI in list}}">
                            <div on-click="{{select}}" on-mouseover="{{selectHover}}" on-mouseout="{{selectHoverLeave}}" data-id="{{item._id}}" class="list-item">
                                {{item.text}}
                            </div>
                        </template>
                    </div>
                </template>
            </div>
        </div>

        <core-ajax url="{{url}}"
                   handleas="json"
                   on-core-response="{{response}}"
                   on-core-error="{{error}}"
                   id="ajax_list">
        </core-ajax>

    </template>
    <script src="autoDDL.js"></script>

</polymer-element>


