<link rel="import" href="../../Polymer/bower_components/paper-input/paper-input-decorator.html">
<link rel="import" href="../../Polymer/bower_components/core-input/core-input.html">
<link rel="import" href="../../Polymer/bower_components/paper-item/paper-item.html">
<core-style id="autoDDL">
    .items-inner-container {
    background-color: {{first}};
    padding: 5px;
    border-radius: 5px;
    max-height: 200px;
    overflow-y: scroll;

    }
</core-style>
<polymer-element name="is-auto-ddl" attributes="url,selected,selectedid,list,backgroundcolor,highlightcolor,place_holder_text">
    <template>
        <link href="autoDDL.css" rel="stylesheet" />
        <core-style ref="autoDDL"></core-style>
        <div style="margin-left:20px;" layout vertical tabindex="-1">
            <paper-input-decorator style="padding-bottom: 2px;" floatinglabel layout vertical label="{{place_holder_text}}">
                <input is="core-input" on-keyup="{{listSearch}}" on-blur="{{leaveSearch}}" on-focus="{{fire_search}}" id="selectedInput" on-keydown="{{selectedKeyPress}}" value="{{selected}}">
            </paper-input-decorator>
            <div id="itemsContainer" style="height:0; z-index:10;">
                <template if="{{list.length > 0}}">
                    <div id="itemsInnerContainer" class="items-inner-container" on-mouseout="{{selectHoverLeave2}}">
                        <template repeat="{{item, itemI in list}}">
                            <paper-item on-click="{{select}}" on-mouseover="{{selectHover}}" tabindex="-1" on-mouseout="{{selectHoverLeave}}" data-id="{{item._id}}" class="list-item">
                                {{item.text}}

                            </paper-item>
                        </template>
                    </div>
                </template>
            </div>
        </div>

        <core-ajax url="{{url}}"
                   handleas="json"
                   on-core-response="{{response}}"
                   on-core-error="{{error}}"
                   id="ajax_list">
        </core-ajax>

    </template>
    <script src="autoDDL.js"></script>

</polymer-element>


