@using UCosmic.Web.Mvc.Models
@{
    ViewBag.Title = "Student Mobility Snapshot";
    var tenancy = Request.Tenancy();
    var styleDomain = tenancy != null ? tenancy.StyleDomain : "default";
    var tenantId = tenancy != null ? tenancy.TenantId : 0;
    var hasStyleDomain = !string.IsNullOrWhiteSpace(styleDomain) && !"default".Equals(styleDomain, StringComparison.OrdinalIgnoreCase);
}
@section bib
{
    <nav class="bib" data-current-bib="report">
        @Html.Partial(MVC.Students.Views._Bib, new StudentsBibNavModel { })
    </nav>
}
@section styles
{
    <link rel="stylesheet" type="text/css" href="~/styles/sass/sheets/employees/summary.css" />
}

<div class="content fixed" data-current-module="students">
    <form onsubmit="remove_tenant_data(event); return false;">
        <div class="input_container">
            <label for="tennant">tennant</label>
            <input type="number" id="tennant" max="100000" min="1" required>
        </div>
        @*<div class="input_container">
            <label for="player_2">Player 2 input</label>
            <input type="number" id="player_2" max="1000000000" min="1" required>
        </div>*@
        <input type="submit" value="Delete tennant values" >

        <div id="error_message" style="display: none;">Inputs incorrect.</div>
    </form>
    <script>
        var my_fire = new Firebase("https://UCosmic.firebaseio.com/Members/");
        var firebase_token = '@ViewBag.firebase_token';
        if (firebase_token) {
            my_fire.authWithCustomToken(firebase_token, function (error, authData) {
                if (error) {
                    console.log("Login Failed!", error);
                } else {
                    console.log("Login Succeeded!", authData);
                    create_student_imports();
                }
            });
        }
        function remove_tenant_data(event) {
            var tennant = event.target.elements.tennant;
            my_fire.child(tennant.value).child('Mobilities').remove();
            my_fire.child(tennant.value).child('Students').remove();
        }
    </script>
</div>
