<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AspNetWebApi.Core" version="4.0.20710.0" targetFramework="net40" />
  <package id="elmah.corelibrary" version="1.2.2" targetFramework="net40" />
  <package id="EntityFramework" version="5.0.0" targetFramework="net40" />
  <package id="FluentValidation" version="3.4.6.0" targetFramework="net40" />
  <package id="Lucene.Net" version="3.0.3" targetFramework="net40" />
  <package id="Lucene.Net.Store.Azure" version="2.0.4937.26631" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebApi.Client" version="4.0.30506.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebApi.Core" version="4.0.20710.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="4.0.20710.0" targetFramework="net40" />
  <package id="Microsoft.Data.Edm" version="5.6.0" targetFramework="net40" />
  <package id="Microsoft.Data.OData" version="5.6.0" targetFramework="net40" />
  <package id="Microsoft.Data.Services.Client" version="5.6.0" targetFramework="net40" />
  <package id="Microsoft.Net.Http" version="2.0.20710.0" targetFramework="net40" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net40" />
  <package id="Microsoft.WindowsAzure.Caching" version="2.4.0.0" targetFramework="net40" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="2.0.3" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="5.0.6" targetFramework="net40" />
  <package id="NGeo" version="1.9.0.0" targetFramework="net40" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net40" />
  <package id="SimpleInjector" version="2.6.0-beta1" targetFramework="net40" />
  <package id="SimpleInjector.Extensions.LifetimeScoping" version="1.6.0.12319" targetFramework="net40" />
  <package id="SimpleInjector.Integration.Web" version="2.6.0-beta1" targetFramework="net40" />
  <package id="SimpleInjector.Integration.Web.Mvc" version="2.6.0-beta1" targetFramework="net40" />
  <package id="System.Spatial" version="5.6.0" targetFramework="net40" />
  <package id="WindowsAzure.Storage" version="4.2.1" targetFramework="net40" />
</packages>