/* default */

$nav-modules-current-text-color: #333;
$nav-modules-text-color: #333;
$nav-modules-text-shadow-x: 1px;
$nav-modules-text-shadow-y: 1px;
$nav-modules-text-shadow-blur: 3px;
$nav-modules-text-shadow-color: rgba(99, 99, 99, .5);

$nav-modules-inset-shadow-x: 0;
$nav-modules-inset-shadow-y: -1px;
$nav-modules-inset-shadow-blur: 5px;
$nav-modules-inset-shadow-spread: 0;
$nav-modules-inset-shadow-color: rgba(33, 33, 33, 0.2);

$nav-modules-default-opacity: .9;
$nav-modules-hover-opacity: .95;
$nav-modules-current-opacity: 1;

$banner-bg-color: #fff;
$nav-modules-bg-color: $suny-brand-blue;
$nav-module-bg-color: #fff;
$nav-modules-bg-lighter: #eee;

$flasher-bg-color: rgba(11, 11, 11, .8);
$flasher-bg-color-ie: #353535;
$flasher-text-color: #eee;
$flasher-close-icon: $closer-white-24;
