<div id="map_tools" class="map-tools">
    <div class="marker">
        <img src="~/images/icons/maps/tools-marker-add.png" alt="Add a placemarker" title="Add a placemarker" class="add-button" />
        <img src="~/images/icons/maps/tools-marker-remove.png" alt="Remove placemarker" title="Remove placemarker" class="remove-button" />
        <img src="~/images/icons/maps/tools-marker-drag.png" class="drag-icon" data-anchor="10,10" data-offset="0,43" />
        <div class="confirm-destroy-marker-dialog" title="Please confirm your intent" style="display: none;">
            <div>
                <p>
                    Are you sure you want to remove this placemark?
                </p>
            </div>
        </div>
    </div>
</div>
