/* uwi brand values */

$uwi-brand-green: #1f7e5c;
$uwi-brand-peach: #ed6a60;
$uwi-accent-mona-ruby: #c30046;
$uwi-accent-cavehill-yellow: #f7c54e;
$uwi-accent-sta-blue: #3075bf;
$uwi-accent-open-orange: #ef9430;
