/* umn.edu variable values */

$nav-my-bg-color: $umn-brand-gold;
$nav-my-link-border-color: $umn-brand-maroon;
$nav-my-link-color: $umn-brand-maroon;
$nav-my-link-hover-bg-color: $umn-brand-maroon;
$nav-my-link-hover-text-color: $umn-brand-gold;
$nav-my-email-link-color: #000;

$nav-modules-current-text-color: #eee;
$nav-modules-text-color: #fff;
$nav-modules-text-shadow-x: 0;
$nav-modules-text-shadow-y: 2px;
$nav-modules-text-shadow-blur: 3px;
$nav-modules-text-shadow-color: #000;

$nav-modules-inset-shadow-x: 0;
$nav-modules-inset-shadow-y: -1px;
$nav-modules-inset-shadow-blur: 2px;
$nav-modules-inset-shadow-spread: 0;
$nav-modules-inset-shadow-color: rgba(33, 33, 33, 0.5);

$nav-modules-default-opacity: .8;
$nav-modules-hover-opacity: .9;
$nav-modules-current-opacity: 1;

$banner-height: 100px;
$banner-outer-bg: url(banner-bg.png);
$banner-bg-color: transparent;
$nav-modules-bg-color: $umn-brand-gold;
$nav-module-bg-color: $umn-brand-maroon;
$nav-modules-bg-lighter: $umn-brand-maroon-darker;

$flasher-border: 0px none;
$flasher-bg-color: rgba(11, 11, 11, .8);
$flasher-bg-color-ie: #111;
$flasher-text-color: #eee;
$flasher-close-icon: $closer-white-24;

$nav-bib-bg-color: $umn-brand-gold;
$nav-bib-link-text-color: $umn-brand-maroon;
$nav-bib-link-hover-text-color: $umn-brand-gold;
$nav-bib-link-hover-bg-color: $umn-brand-maroon;
$nav-bib-current-bg-color: $umn-brand-maroon-darker;
$nav-bib-current-text-color: $umn-brand-gold;

$footer-bg-color: $umn-brand-maroon;
$footer-text-color: $umn-brand-gold;
$footer-link-text-color: $umn-brand-gold;
$footer-link-border-color: $umn-brand-gold;

$heading-text-color: $umn-brand-maroon;
$external-link-color: #00c;
$main-link-color: #00c;
$typed-item-bg-color: $umn-brand-maroon;
$typed-item-text-color: $umn-brand-gold;

$sidebar-default-bg-color: #ddd;
$sidebar-default-text-color: $umn-brand-maroon;
$sidebar-hover-bg-color: $umn-brand-gold;
$sidebar-hover-text-color: $umn-brand-maroon;
$sidebar-current-bg-color: $umn-brand-maroon;
$sidebar-current-text-color: $umn-brand-gold;
$sidebar-content-text-color: #fff;
