/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }
@-moz-keyframes fadeIn {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }
@keyframes fadeIn {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }
@-webkit-keyframes fadeOut {
  from {
    opacity: 1; }

  to {
    opacity: 0; } }
@-moz-keyframes fadeOut {
  from {
    opacity: 1; }

  to {
    opacity: 0; } }
@keyframes fadeOut {
  from {
    opacity: 1; }

  to {
    opacity: 0; } }
#pop_text_container_alert {
  -moz-opacity: 0.95;
  opacity: 0.95;
  padding: 0 5px 5px 5px;
  width: 300px;
  position: fixed;
  overflow: visible;
  text-align: center;
  z-index: 100;
  position: fixed;
  opacity: 90%; }

.rounded10px {
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px; }

.success {
  border: 5px solid #406A60;
  background-color: #7EC296; }

.info {
  border: 5px solid #43949A;
  background-color: #82D4D9; }

.notify {
  border: 5px solid #C58721;
  background-color: #FFCB70; }

.warning {
  border: 5px solid #993C3C;
  background-color: #DF7E7E; }

