@{
    ViewBag.Title = "Access Grants";
}
<div class="fixed content" data-current-module="admin">
    <header>
        <h1>@ViewBag.Title</h1>
    </header>
</div>
@section bib
{
    <nav class="bib hide" data-current-bib="grants">
        @Html.Partial(MVC.Admin.Views._Bib)
    </nav>
}
