@{
    ViewBag.Title = "Home";
}
<div class="fixed content" data-current-module="home">
    <h1>
        This is the view
    </h1>
    <p>
        This is content in the view.
    </p>
    <p>
        This is content in the view.
    </p>
    <p>
        This is content in the view.
    </p>
    <p>
        This is content in the view.
    </p>
    <p>
        This is content in the view.
    </p>
    <p>
        This is content in the view.
    </p>
    <p>
        This is content in the view.
    </p>
    <p>
        This is content in the view.
    </p>
    <p>
        This is content in the view.
    </p>
    <p>
        This is content in the view.
    </p>
    <p>
        This is content in the view.
    </p>
    <p>
        This is content in the view.
    </p>
    <p>
        This is content in the view.
    </p>
    <p>
        This is content in the view.
    </p>
    <p>
        This is content in the view.
    </p>
    <p>
        This is content in the view.
    </p>
    <p>
        This is content in the view.
    </p>
    <p>
        This is content in the view.
    </p>
    <p>
        This is content in the view.
    </p>
    <p>
        This is content in the view.
    </p>
    <p>
        This is content in the view.
    </p>
    <p>
        This is content in the view.
    </p>
    <p>
        This is content in the view.
    </p>
    <p>
        This is content in the view.
    </p>
    <p>
        This is content in the view.
    </p>
    <p>
        This is content in the view.
    </p>
    <p>
        This is content in the view.
    </p>
    <p>
        This is content in the view.
    </p>
    <p>
        This is content in the view.
    </p>
    <p>
        This is content in the view.
    </p>
    <p>
        This is content in the view.
    </p>
    <p>
        This is content in the view.
    </p>
    <p>
        This is content in the view.
    </p>
    <p>
        This is content in the view.
    </p>
    <p>
        This is content in the view.
    </p>
    <p>
        This is content in the view.
    </p>
    <p>
        This is content in the view.
    </p>
    <p>
        This is content in the view.
    </p>
    <p>
        This is content in the view.
    </p>
    <p>
        This is content in the view.
    </p>
    <p>
        This is content in the view.
    </p>
    <p>
        This is content in the view.
    </p>
    <p>
        This is content in the view.
    </p>
    <p>
        This is content in the view.
    </p>
    <p>
        This is content in the view.
    </p>
    <p>
        This is content in the view.
    </p>
    <p>
        This is content in the view.
    </p>
    <p>
        This is content in the view.
    </p>
    <p>
        This is content in the view.
    </p>
    <p>
        This is content in the view.
    </p>
    <p>
        This is content in the view.
    </p>
    <p>
        This is content in the view.
    </p>
    <p>
        This is content in the view.
    </p>
    <p>
        This is content in the view.
    </p>
    <p>
        This is content in the view.
    </p>
    <p>
        This is content in the view.
    </p>
    <p>
        This is content in the view.
    </p>
    <p>
        This is content in the view.
    </p>
    <p>
        This is content in the view.
    </p>
    <p>
        This is content in the view.
    </p>
    <p>
        This is content in the view.
    </p>
    <p>
        This is content in the view.
    </p>
    <p>
        This is content in the view.
    </p>
    <p>
        This is last paragraph in the view.
    </p>

</div>
