
@{
    var tenancy = Request.Tenancy();
    var styleDomain = tenancy != null ? tenancy.StyleDomain : "default";
    var hasStyleDomain = !string.IsNullOrWhiteSpace(styleDomain);
}
<ul class="group">
    @if (User.IsInAnyRole(RoleName.InstitutionalStudentSupervisor))
    {
        <li class="settings">
            <a href="/Students/New">Settings</a>
        </li>
    }

    <li class="report">
        <a href="/Students/Table">Report</a>
    </li>

    <li class="map">
        <a href="/Students/Map">Map</a>
    </li>
</ul>