@using UCosmic.Web.Mvc.Models
@{
    ViewBag.Title = "Student Settings & Import";
    var tenancy = Request.Tenancy();
    var styleDomain = tenancy != null ? tenancy.StyleDomain : "default";
    var tenantId = tenancy != null ? tenancy.TenantId : 0;
    var hasStyleDomain = !string.IsNullOrWhiteSpace(styleDomain) && !"default".Equals(styleDomain, StringComparison.OrdinalIgnoreCase);
}
@section bib
{
    <nav class="bib" data-current-bib="settings">
    @Html.Partial(MVC.Students.Views._Bib, new StudentsBibNavModel { })
</nav>
}
<link rel="import" href="~/components/pages/Student/New/new.html">
<div class="fixed content" data-current-module="students">

    <is-page-student-new id="new_student_page" styledomain="@styleDomain" tenant_id="@tenantId" firebase_token="@ViewBag.firebase_token"></is-page-student-new>
    <hr />
    
</div>
