input[type="email"], input[type="number"], input[type="password"], input[type="search"],
input[type="tel"], input[type="text"], input[type="url"], input[type="color"],
input[type="date"], input[type="datetime"], input[type="datetime-local"],
input[type="month"], input[type="time"], input[type="week"], textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  font-size: 15px;
  line-height: 1.2;
  border: solid 1px #aaa;
  border-right-color: #ddd;
  border-bottom-color: #ddd;
  /* @include border-radius(3px); */
  padding: 8px;
  -moz-outline: none;
  outline: none;
  /* background-color: #eee; */
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
  cursor: text; }
  input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus,
  input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus,
  input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus,
  input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, textarea:focus {
    /* background: #ffe; */ }
  input[type="email"].placeholder, input[type="number"].placeholder, input[type="password"].placeholder, input[type="search"].placeholder,
  input[type="tel"].placeholder, input[type="text"].placeholder, input[type="url"].placeholder, input[type="color"].placeholder,
  input[type="date"].placeholder, input[type="datetime"].placeholder, input[type="datetime-local"].placeholder,
  input[type="month"].placeholder, input[type="time"].placeholder, input[type="week"].placeholder, textarea.placeholder {
    color: #999; }

