@import 'bootstrap';

html {
    @include border-box;
    /* needed to do full height footer*/
    height: 100%;
    > body {
        @include border-box;
        /* position & min-height needed to do full height footer*/
        position: relative;
        min-height: 100%;
        @include font-arial;
        color: #333;
    }
}

body {
    > nav.modules {
        padding: 10px 0 0 0;
        > ul {
            > li {
                float: left;
                > a {
                    display: inline-block;
                    @include border-box;
                    margin: 4px 4px 0 0;
                    @include border-radii(4px, 4px, 0, 0);
                    padding: 6px 8px;
                    height: 28px;
                    background: $suny-blue;
                    @include opacity(.75);
                    @include linear-bg-gradient(-90deg, $suny-blue-lighter, 0%, $suny-blue, 25%);
                    @include font-ms;
                    color: $suny-blue-contrast;
                    text-decoration: none;
                    @include text-shadow(0, 2px, 3px, #000);
                    @include inset-box-shadow(0, -1px, 2px, 0, rgba(33, 33, 33, 0.5));
                    @include transition(opacity, 500ms);
                }
                &:first-child a {
                    margin-left: 4px;
                }
                &:hover a {
                    @include opacity(.9);
                }
                &.current a {
                    @include transition-none;
                    @include no-box-shadow;
                    @include opacity(1);
                    padding: 8px;
                    margin-top: 0;
                    height: 32px;
                    font-weight: bold;
                    cursor: default;
                }
            }
        }
    }
    > header {
        @include border-box;
        min-width: $outer-width;

        > *:first-child {
            @include border-box;
            padding: $outer-width - $inner-width;
            @include font-height(16px, 2);
            text-align: center;
            background: $suny-blue;
            color: #ccc;
            a {
                color: #ba0;
            }
        }
    }
}

body #main {
    /* look out for footer height */
    @include border-box;
    min-width: $outer-width;

    > .content {
        @include border-box;
        padding-bottom: $height-of-border + 20px;

        &.fixed {
            @include border-box;
            width: $inner-width;
            padding-left: $outer-width - $inner-width;
        }

        &.fluid {
            @include border-box;
            width: 100%;
            padding: 0;
        }
    }
}

body > footer {
    position: absolute;
    bottom: 0;
    height: $height-of-border;
    padding: 0;
    width: 100%;
    background: #333;
    /* z-index: -1; */
    > *:first-child {
        @include border-box;
        background: #111;
        height: 100%;
        color: #ddd;
        /* @include font-height(11px, 20px);
        @include font-ms; */
    }
}
