<section id="activities">
    <header>
        <form action="@Url.Action(MVC.Activities.Create())" method="POST" style="display: inline-block;">
            <h2>
                <span>Activities</span>
                <input type="image" src="~/images/icons/plus/plus-24-green.png" alt="Add a new activity" title="Add a new activity" style="cursor: pointer; vertical-align: text-bottom;" />
            </h2>
        </form>
    </header>
    <table class="data">
        <tbody data-bind="template: { name: 'activities-template', foreach: items }">
        </tbody>
    </table>
</section>

<!-- DIALOGS -->
<div id="confirmActivityDeleteDialog" title="Please confirm your intent" class="dialog">
    <div>
        Are you sure you want to delete this activity?
    </div>
    <div class="spinner" style="visibility: hidden; margin-top: 8px;">
        <img src="@Url.Content("~/images/icons/spinner/spinner-20-blue.gif")" alt="" />
        <strong>Deleting...</strong>
    </div>
</div>
<div id="activityBeingEditedDialog" title="Concurrency conflict" class="dialog">
    <p>This activity cannot be edited right now because it is being edited by someone else.</p>
    <p>Please try again in a few minutes. If you continue to receive this message, please use the Feedback &amp; Support link on this page to report it.</p>
</div>

<!-- KNOCKOUT TEMPLATES -->

<script type="text/html" id="activities-documents-template">
    <div style="width: 150px; font-size: small; text-align: center; float: left">
        <div>
            <img data-bind="attr: { src: proxyImageSource }" src="@Url.Content("~/images/transparent.png")" alt=""/>
        </div>
        <div class="ellipsis"><span data-bind="text: title"></span></div>
    </div>
</script>

<script type="text/html" id="activities-types-template">
    <img img data-bind="attr: { src: '/api/my/employee-module-settings/icon/' + $root.getActivityTypeIconName(typeId()), title: $root.getActivityTypeToolTip(typeId()) }"
        src="" title="" width="32" height="32" />
</script>

<script type="text/html" id="activities-template">
    <tr class="hover-hilite">
        <!-- Description -->
        <td>
            <a href="#" data-bind="attr: { href: $parent.editActivityUrl(id()) }"
               style="display: inline-block; text-decoration: inherit; color: inherit;">
                <div>
                    <span  class="ellipsis"style="font-size: large; font-weight: bold; vertical-align: middle; max-width: 700px; display: inline-block;" data-bind="text: values.title()"></span>
                    <span class="red badge" style="display: inline; vertical-align: middle" data-bind="visible: modeText().toLowerCase() == 'draft'">Draft</span>
                    <span class="green badge" style="display: inline; vertical-align: middle" data-bind="visible: modeText().toLowerCase() == 'public'">Published</span>
                </div>
                <div data-bind="text: $parent.activityTypesFormatted(values.types())">
                </div>
                <div style="margin-bottom: 4px">
                    <span style="font-size: small" data-bind="text: $parent.activityDatesFormatted(values.startsOn(), values.endsOn(), values.onGoing(), values.dateFormat())"></span>
                    <span style="font-size: small" data-bind="text: $parent.activityLocationsFormatted(values.locations())"></span>
                </div>
                <div class="data-items" data-bind="template: { name: 'activities-documents-template', foreach: values.documents }"></div>
            </a>
        </td>
        <!-- Activity Types -->
        <td style="text-align: center; vertical-align: middle">
            <div class="data-items" data-bind="template: { name: 'activities-types-template', foreach: values.types }"></div>
        </td>
        <!-- Remove Button -->
        <td style="text-align: center; vertical-align: middle">
            <a href="#" title="Delete this activity" data-bind="click: function (item, e) { $parent.deleteActivity(item, e, $parent); }, clickBubble: false">
                <img src="@Links.images.icons.minus.minus_24_red_png" alt="Delete this activity" />
            </a>
        </td>
    </tr>
</script>

