<section id="activities">
    <header>
        <h2>
            <span>Activities</span>
            <a href="#" title="Add a new activity" data-bind="click: function (data, event) { newActivity(data, event); }">
                <img src="~/images/icons/plus/plus-24-green.png" alt="Add a new activity" />
            </a>
        </h2>
    </header>
    <table class="data">
        <tbody data-bind="template: { name: 'activities-template', foreach: items }">
        </tbody>
    </table>
</section>

<!-- DIALOGS -->
<div id="confirmActivityDeleteDialog" title="Please confirm your intent" style="display: none">
    <div style="text-align: center; font-weight: bold">Are you sure you want to delete this activity?</div>
</div>

<!-- KNOCKOUT TEMPLATES -->
<script type="text/html" id="activities-documents-template">
    <div style="width: 150px; font-size: small; text-align: center; float:left">
        <div><img data-bind="attr: { src: proxyImageSource, width: proxyWidth, height: proxyHeight }"></div>
        <div class="ellipsis"><span data-bind="text: title"></span></div>
    </div>
</script>

<script type="text/html" id="activities-template">
    <tr class="hover-hilite"
        data-bind="click: function (item, event) { $parent.editActivity(item, event, id()); }, attr: { href: App.Routes.Mvc.My.Profile.activityEdit(id()) }">
        <!-- Description -->
        <td class="ellipsis">
            <div style="height: 30px">
                <span style="font-size: large; font-weight: bold; vertical-align: middle" data-bind="text: values.title()"></span>
                <!-- <span style="font-size: large; font-weight: bold; vertical-align: middle" data-bind="text: formattedTypes"></span>  -->
                <span class="red badge" style="display: inline; vertical-align: middle" data-bind="visible: modeText().toLowerCase() == 'draft'">Draft</span>
            </div>
            <div class="ellipsis">
                <span data-bind="text: $parent.activityTypesFormatted(values.types())"></span>
            </div>
            <div class="ellipsis" style="margin-bottom: 4px">
                <span style="font-size: small" data-bind="text: $parent.activityDatesFormatted(values.startsOn(), values.endsOn())"></span>
                <span style="font-size: small" data-bind="text: $parent.activityLocationsFormatted(values.locations())"></span>
            </div>
            <div class="data-items" data-bind="template: { name: 'activities-documents-template', foreach: values.documents }">
            </div>
        </td>
        <!-- Remove Button -->
        <td style="text-align: center; vertical-align: middle">
            <a href="#" title="Remove activity" data-bind="click: function (data, event) { $parent.deleteActivity(data, event, $parent); }, clickBubble: false">
                <img src="../../images/icons/minus/minus-24-red.png" alt="Remove activity" />
            </a>
        </td>
    </tr>
</script>

