<section id="degrees">
    <header>
        <h2>
            <span>Degrees</span>
            <a href="#" title="Add a new degree" data-bind="click: function (data, event) { newEducation(data, event); }">
                <img src="~/images/icons/plus/plus-24-green.png" alt="Add a new degree" />
            </a>
        </h2>
    </header>
    <table class="data">
        <tbody data-bind="template: { name: 'degrees-template', foreach: items }">
        </tbody>
    </table>
</section>

<!-- DIALOGS -->
<div id="confirmDegreeDeleteDialog" title="Please confirm your intent" class="dialog">
    <div style="text-align: center; font-weight: bold">Are you sure you want to delete this degree?</div>
</div>

<!-- KNOCKOUT TEMPLATES -->
<script type="text/html" id="degrees-template">
    <tr class="hover-hilite"  
        data-bind="click: function (item, event) { $parent.editEducation(item, event, id()); }, attr: { href: App.Routes.Mvc.My.Profile.degreeEdit(id()) }">
        <!-- Description -->
        <td>
            <div style="height: 30px">
                <span style="font-size: large; font-weight: bold; vertical-align: middle" data-bind="text: title()"></span>
            </div>
            <div style="height: 30px">
                <span style="vertical-align: middle" data-bind="text: formattedInfo()"></span>
            </div>
        </td>
        <!-- Remove Button -->
        <td style="text-align: center; vertical-align: middle">
            <a href="#" title="Remove degree" data-bind="click: function (data, event) { $parent.deleteEducation(data, event, $parent); }, clickBubble: false">
                <img src="../../images/icons/minus/minus-24-red.png" alt="Remove degree" />
            </a>
        </td>
    </tr>
</script>

