<section id="international-affiliations">
    <header>
        <h2>
            <span>International Affiliations</span>
            <a href="@Url.Action(MVC.MyProfile.NewInternationalAffiliation())" title="Add a new affiliation">
                <img src="~/images/icons/plus/plus-24-green.png" alt="Add a new affiliation" />
            </a>
        </h2>
    </header>
    <table class="data">
        <tbody data-bind="template: { name: 'international-affiliations-template', foreach: items }">
        </tbody>
    </table>
</section>

<!-- DIALOGS -->
<div id="confirmInternationalAffiliationDeleteDialog" title="Please confirm your intent" class="dialog">
    <div style="text-align: center; font-weight: bold">Are you sure you want to delete this affiliation?</div>
</div>

<!-- KNOCKOUT TEMPLATES -->

<script type="text/html" id="international-affiliations-template">
    <tr class="hover-hilite">
        <td>
            <a href="#" data-bind="attr: { href: $parent.editUrl(id()) }" style="display: block; color: inherit; text-decoration: inherit">
                <!-- INSTITUTION AND COUNTRY -->
                <div style="height: 30px">
                    <span style="font-size: large; font-weight: bold" data-bind="text: institution()"></span>
                    <span>, </span>
                    <span style="font-size: large" data-bind="text: $parent.formatLocations(locations())"></span>
                </div>
                <!-- POSITION -->
                <div style="height: 30px">
                    <span data-bind="text: position()"></span>
                    <span data-bind="text: $parent.formatDates(from(), to(), onGoing())"></span>
                </div>
            </a>
        </td>
        <!-- 'Remove' BUTTON -->
        <td style="text-align: center; vertical-align: middle">
            <a href="#" title="Remove affiliation" data-bind="click: function (data, event) { $parent.deleteAffiliation(data, event, $parent); }, clickBubble: false">
                <img src="@Links.images.icons.minus.minus_24_red_png" alt="Remove affiliation" />
            </a>
        </td>
    </tr>
</script>

