<section id="language-expertises">
    <header>
        <h2>
            <span>Language Expertise</span>
            <a href="#" title="Add a new expertise" data-bind="click: function (data, event) { newExpertise(data, event); }">
                <img src="~/images/icons/plus/plus-24-green.png" alt="Add a new expertise" />
            </a>
        </h2>
    </header>
    <span>Not implemented</span>
    <!--<table class="data">
        <tbody data-bind="template: { name: 'language-expertises-template', foreach: items }">
        </tbody>
    </table>-->
</section>

<!-- DIALOGS -->
<div id="confirmLanguageDeleteDialog" title="Please confirm your intent" style="display: none">
    <div style="text-align: center; font-weight: bold">Are you sure you want to delete this expertise?</div>
</div>

<!-- KNOCKOUT TEMPLATES -->
<script type="text/html" id="language-expertises-template">
    <tr class="hover-hilite"  
        data-bind="click: function (item, event) { $parent.editExpertise(item, event, id()); }, attr: { href: App.Routes.Mvc.My.Profile.languageExpertiseEdit(id()) }">
        <!-- Description -->
        <td>
            <div style="height: 30px">
                <span style="font-size: large; font-weight: bold; vertical-align: middle" data-bind="text: officialName()"></span>
            </div>
        </td>
        <!-- Remove Button -->
        <td style="text-align: center; vertical-align: middle">
            <a href="#" title="Remove activity" data-bind="click: function (data, event) { $parent.deleteExpertise(data, event, $parent); }, clickBubble: false">
                <img src="../../images/icons/minus/minus-24-red.png" alt="Remove expertise" />
            </a>
        </td>
    </tr>
</script>

