@{
    var viewingUser = Session.UserImpersonating() ?? User;
}
<form enctype="multipart/form-data" data-bind="submit: saveInfo, validationOptions: { decorateElement: true, errorClass: 'error' }">
    <div class="field-table w870-l300-v570">
        <div class="field-row">
            <div class="field-label" style="padding-top: 0;">
                @* ReSharper disable Html.PathError *@
                <img src="~/api/my/profile/photo?maxSide=128" alt="" data-bind="attr: { src: photoSrc }" />
                @* ReSharper restore Html.PathError *@
            </div>
            <div class="field-input">
                <div>
                    <input type="file" name="photo" data-bind="jqObservableElement: '$photo'" />
                </div>
                <div style="padding-left: 4px;">
                    <div data-bind="visible: hasPhoto" style="display: none; padding-top: 4px;">
                        <input type="button" value="Delete my photo" data-bind="click: startDeletingPhoto, attr: { disabled: photoDeleteSpinner.isVisible } " />
                        <img data-bind="visible: photoDeleteSpinner.isVisible" src="~/images/icons/spinner/spinner-20-blue.gif" alt="" style="display: none;" />
                    </div>
                    <div data-bind="jqElement: '$confirmPurgeDialog'" title="Please confirm your intent" style="display: none;">
                        <div>
                            <p>
                                Are you sure you want to delete your profile photo?
                            </p>
                        </div>
                    </div>
                    <div data-bind="visible: isPhotoExtensionInvalid" style="display: none;">
                        <span class="validationMessage">The file extension &quot;<span data-bind="text: photoFileExtension"></span>&quot; 
                            is either an invalid or unallowed image file. Please choose a file with a .jpg, .jpeg, .gif, or .png extension (case insensitive).</span>
                    </div>
                    <div data-bind="visible: isPhotoTooManyBytes" style="display: none;">
                        <span class="validationMessage">The photo &quot;<span data-bind="text: photoFileName"></span>&quot; 
                            is too large. Please choose a photo that is less than 1 megabyte in size.</span>
                    </div>
                    <div data-bind="visible: isPhotoFailureUnexpected" style="display: none;">
                        <span class="validationMessage">UCosmic experienced an unexpected error managing your photo, please try again. 
                            If you continue to experience this issue, please use the Feedback &amp; Support link on this page to report it.
                        </span>
                    </div>
                    <div data-bind="visible: photoUploadSpinner.isVisible" style="padding-top: 4px; display: none;">
                        <img src="~/images/icons/spinner/spinner-20-blue.gif" alt="" />
                        <strong>Uploading...</strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="field-row above-unlabeled-row">
            <div class="field-label">
                <label>Display name</label>
            </div>
            <div class="field-input">
                <input type="text" data-bind="value: displayName, valueUpdate: 'afterkeydown', attr: { disabled: isDisplayNameDerived }" />
            </div>
        </div>
        <div class="field-row">
            <div class="field-unlabeled-input">
                <label>
                    <input type="checkbox" data-bind="checked: isDisplayNameDerived" />
                    Automatically generate my display name based on the fields below.
                </label>
            </div>
        </div>
        <div class="field-row">
            <div class="field-label">
                <label>Salutation</label>
            </div>
            <div class="field-input">
                <input type="text" placeholder="[None]"
                    data-bind="value: salutation, valueUpdate: 'afterkeydown', jqObservableElement: '$nameSalutation'" />
            </div>
        </div>
        <div class="field-row">
            <div class="field-label">
                <label>First Name</label>
            </div>
            <div class="field-input">
                <input type="text" placeholder="[Please enter your first name here]"
                    data-bind="value: firstName, valueUpdate: 'afterkeydown'" />
            </div>
        </div>
        <div class="field-row">
            <div class="field-label">
                <label>Middle Name or Initial</label>
            </div>
            <div class="field-input">
                <input type="text" placeholder="[None]"
                    data-bind="value: middleName, valueUpdate: 'afterkeydown'" />
            </div>
        </div>
        <div class="field-row">
            <div class="field-label">
                <label>Last Name</label>
            </div>
            <div class="field-input">
                <input type="text" placeholder="[Please enter your last name here]"
                    data-bind="value: lastName, valueUpdate: 'afterkeydown'" />
            </div>
        </div>
        <div class="field-row">
            <div class="field-label">
                <label>Suffix</label>
            </div>
            <div class="field-input">
                <input type="text" placeholder="[None]"
                    data-bind="value: suffix, valueUpdate: 'afterkeydown', jqObservableElement: '$nameSuffix'" />
            </div>
        </div>
        <div class="field-row" data-bind="visible: isFacultyRankEditable" style="display: none;">
            <div class="field-label">
                <label>Faculty Rank</label>
            </div>
            <div class="field-input">
                <select data-bind="options: facultyRanks, optionsText: 'rank', optionsValue: 'id', value: facultyRankId, optionsCaption: '[Unknown]', jqObservableElement: '$facultyRanks'">
                </select>
            </div>
        </div>
        <div class="field-row">
            <div class="field-label">
                <label>My Preferred Title is</label>
            </div>
            <div class="field-input">
                <textarea rows="2" data-bind="value: jobTitles, valueUpdate: 'afterkeydown'"></textarea>
            </div>
        </div>
        <div class="field-row">
            <div class="field-label">
                <label>Administrative Appointments</label>
            </div>
            <div class="field-input">
                <textarea rows="2" data-bind="value: administrativeAppointments, valueUpdate: 'afterkeydown'"></textarea>
            </div>
        </div>
        @if (viewingUser.IsInRole(RoleName.EmployeeProfileManager))
        {
            <div class="field-row">
                <div class="field-label">
                    <label>Gender</label>
                </div>
                <div class="field-input for-checkables">
                    <label>
                        <input type="radio" name="genderGroup" value="@UCosmic.Domain.People.PersonGender.Male" data-bind="checked: gender" />
                        <span>Male</span>
                    </label>
                    &nbsp;&nbsp;&nbsp;
                    <label>
                        <input type="radio" name="genderGroup" value="@UCosmic.Domain.People.PersonGender.Female" data-bind="checked: gender" />
                        <span>Female</span>
                    </label>
                    &nbsp;&nbsp;&nbsp;
                    <label>
                        <input type="radio" name="genderGroup" value="@UCosmic.Domain.People.PersonGender.NonDisclosed" data-bind="checked: gender" />
                        <span>Undisclosed</span>
                    </label>
                </div>
            </div>
            <div class="field-row">
                <div class="field-unlabeled-input">
                    <label>
                        <input type="checkbox" data-bind="checked: isActive" />
                        This profile is currently active.
                    </label>
                    <span style="float: right"><a href="#">Request my profile be deleted</a></span>
                </div>
            </div>
        }
        <div class="field-row">
            <div class="field-unlabeled-input">
                <input type="submit" value="Save" data-bind="attr: { disabled: saveSpinner.isVisible }" />
                &nbsp;&nbsp;&nbsp;
                <a href="#/cancel-profile-edit/" data-bind="click: cancelEditing">Cancel</a>
                &nbsp;&nbsp;&nbsp;
                <img src="~/images/icons/spinner/spinner-20-blue.gif" alt="" data-bind="visible: saveSpinner.isVisible" style="display: none;" />
                <strong data-bind="visible: saveSpinner.isVisible" style="display: none;">Saving...</strong>
            </div>
        </div>
    </div>
</form>
