@using UCosmic.Domain.People

<form id="myprofilepersonalinfo" data-bind="submit: saveInfo">
    <div class="field-table w690-l250-v440">
        <div class="field-row">
            <div class="field-label" style="padding-top: 0;">
                <img src="~/images/samples/sample-photo-128.jpg" alt="" />
            </div>
            <div class="field-input">
                <input type="file" name="photo" data-bind="jqObservableElement: '$photo'" />
            </div>
        </div>
        <div class="field-row above-unlabeled-row">
            <div class="field-label">
                <label>Display name</label>
            </div>
            <div class="field-input">
                <input type="text" data-bind="value: displayName, valueUpdate: 'afterkeydown', attr: { disabled: isDisplayNameDerived }" />
            </div>
        </div>
        <div class="field-row">
            <div class="field-unlabeled-input">
                <label>
                    <input type="checkbox" data-bind="checked: isDisplayNameDerived" />
                    Automatically generate my display name based on the fields below.
                </label>
            </div>
        </div>
        <div class="field-row">
            <div class="field-label">
                <label>Salutation</label>
            </div>
            <div class="field-input">
                <input type="text" data-bind="value: salutation, valueUpdate: 'afterkeydown', jqObservableElement: '$nameSalutation'" />
            </div>
        </div>
        <div class="field-row">
            <div class="field-label">
                <label>First name</label>
            </div>
            <div class="field-input">
                <input type="text" data-bind="value: firstName, valueUpdate: 'afterkeydown'" />
            </div>
        </div>
        <div class="field-row">
            <div class="field-label">
                <label>Middle name</label>
            </div>
            <div class="field-input">
                <input type="text" data-bind="value: middleName, valueUpdate: 'afterkeydown'" />
            </div>
        </div>
        <div class="field-row">
            <div class="field-label">
                <label>Last name</label>
            </div>
            <div class="field-input">
                <input type="text" data-bind="value: lastName, valueUpdate: 'afterkeydown'" />
            </div>
        </div>
        <div class="field-row">
            <div class="field-label">
                <label>Suffix</label>
            </div>
            <div class="field-input">
                <input type="text" data-bind="value: suffix, valueUpdate: 'afterkeydown', jqObservableElement: '$nameSuffix'" />
            </div>
        </div>
        <div class="field-row">
            <div class="field-label">
                <label>Faculty rank</label>
            </div>
            <div class="field-input">
                <select data-bind="options: facultyRanks, optionsText: 'rank', optionsValue: 'id', value: facultyRankId, optionsCaption: '[Unknown]', jqObservableElement: '$facultyRanks'">
                </select>
            </div>
        </div>
        <div class="field-row">
            <div class="field-label">
                <label>My Preferred Title is</label>
            </div>
            <div class="field-input">
                <textarea rows="2" data-bind="value: jobTitles"></textarea>
            </div>
        </div>
        <div class="field-row">
            <div class="field-label">
                <label>Administrative Appointments</label>
            </div>
            <div class="field-input">
                <textarea rows="2" data-bind="value: administrativeAppointments"></textarea>
            </div>
        </div>
        @if (User.IsInRole(RoleName.EmployeeProfileManager))
        {
            <div class="field-row">
                <div class="field-label">
                    <label>Gender</label>
                </div>
                <div class="field-input for-checkables">
                    <label>
                        <input type="radio" name="genderGroup" value="@PersonGender.Male" data-bind="checked: gender" />
                        <span>Male</span>
                    </label>
                    &nbsp;&nbsp;&nbsp;
                                                    <label>
                                                        <input type="radio" name="genderGroup" value="@PersonGender.Female" data-bind="checked: gender" />
                                                        <span>Female</span>
                                                    </label>
                    &nbsp;&nbsp;&nbsp;
                                                    <label>
                                                        <input type="radio" name="genderGroup" value="@PersonGender.NonDisclosed" data-bind="checked: gender" />
                                                        <span>Undisclosed</span>
                                                    </label>
                </div>
            </div>
            <div class="field-row">
                <div class="field-unlabeled-input">
                    <label>
                        <input type="checkbox" data-bind="checked: isActive" />
                        This profile is currently active.
                    </label>
                </div>
            </div>
                                        }
        <div class="field-row">
            <div class="field-unlabeled-input">
                <input type="submit" value="Save" />
            </div>
        </div>
    </div>
</form>
