@model UCosmic.Web.Mvc.Models.ActivityModel

@{
    ViewBag.Title = "My International Activity";
}

@section styles
{
}

@section scripts
{
    @Scripts.Render("~/bundles/activity")

    <script type="text/javascript">

        $(function() {
            var activityId = @Model.ActivityId;
            var activityViewModel = new ViewModels.Activities.Activity(activityId);
            activityViewModel.load()
                .done(function () {
                    activityViewModel.setupWidgets("fromDatePicker"
                                                   ,"toDatePicker"
                                                   ,"countrySelector"
                                                   ,"uploadFile"
                                                   ,"newTag");
                    
                    activityViewModel.setupValidation();

                    ko.applyBindings(activityViewModel, $("#activity-edit")[0]);

                    /* KendoUI Bug? - Can't seem to preload values unless I do this. */
                    var countrySelector = $("#countrySelector").data("kendoMultiSelect");
                    countrySelector.value(activityViewModel.selectedLocations());

                    var datePicker = $("#fromDatePicker").data("kendoDatePicker");
                    datePicker.value(activityViewModel.values.startsOn());

                    datePicker = $("#toDatePicker").data("kendoDatePicker");
                    datePicker.value(activityViewModel.values.endsOn());
                })
                .fail(function (jqXhr, textStatus, errorThrown) {
                    alert(textStatus + "|" + errorThrown);
                });
        });

    </script>
}

@section bib
{
    <nav class="bib hide" data-current-bib="my">
        @Html.Partial(MVC.Home.Views._Bib)
    </nav>
}

<div class="content fixed to-top" data-current-module="home">
	<div data-side-swiper="root">
		<div data-side-swiper="deck">
			<div data-side-swiper="on">
				<div class="group">
					<div class="on-left from-top" style="width: 100%;">
						<header>
						    <h1>@ViewBag.Title</h1>
                            <span class="red badge" style="display: inline; vertical-align: middle" data-bind="visible: modeText().toLowerCase() == 'draft'">Draft</span>
							<span class="on-right"><input type="button" value="Guide Me"/></span>
						</header>
						<div id="activity-edit" style="margin-bottom: 38px">
							<table class="activity">
								<tbody>
									<tr>
										<!-- TITLE -->
										<td class="required-field-name">Title</td>
										<td>
										    <textarea rows="1" style="width: 750px; white-space: nowrap; overflow: hidden" placeholder="[Enter Title]" data-bind="value: values.title"></textarea>
                                            <!--<label class="required-field">*</label>-->
										    <!-- <img src="~/images/icons/help/question-mark-24-blue.png" alt="Help" class="help-icon" data-bind="click: function (data, event) { help(data, event, null); }"/> -->
										</td>
									</tr>
									<!-- COUNTRY -->
									<tr>
										<td class="required-field-name">Country/Location</td>
									    <td>
									        <select id="countrySelector" style="width: 750px; overflow-y:auto" data-bind="selectedOptions: selectedLocations"></select>
									    </td>
									</tr>
									<!-- TYPE -->
									<tr>
										<td class="required-field-name">Types</td>
									    <td>
									        <ul class="data-items" data-bind="template: { name: 'activity-types-template', foreach: activityTypes() }" />
									    </td>
									</tr>
									<!-- FROM and TO DATES -->
								    <tr>
								        <td class="field-name">On/From</td>
								        <td>
								            <input id="fromDatePicker" style="height: 30px; vertical-align: middle" data-bind="value: values.startsOn"/>
								            &nbsp;&nbsp;To&nbsp;
								            <input id="toDatePicker" style="height: 30px; vertical-align: middle" data-bind="value: values.endsOn"/>
								            <!-- <img src="~/images/icons/help/question-mark-24-blue.png" alt="Help" class="help-icon" data-bind="click: function (data, event) { help(data, event, null); }"/> -->
								        </td>
								    </tr>
								    <!-- FUNDING -->
								    <tr>
								        <td class="field-name">Funding</td>
								        <td>
								            <input type="checkbox" style="margin-right: 4px; margin-left: 4px" data-bind="checked: values.wasExternallyFunded"/>
								            <span>External</span>
								            <input type="checkbox" style="margin-right: 4px; margin-left: 4px" data-bind="checked: values.wasInternallyFunded"/>
                                            <span>Internal</span>
								        </td>
								    </tr>
								</tbody>
							</table>
							<!-- DESCRIPTION -->
							<div style="margin-bottom: inherit">
								<header style="margin-bottom: 4px">
									<h2>Description</h2>
									<!-- <img src="~/images/icons/help/question-mark-24-blue.png" alt="Help" style="width: 16px; height: 16px; float: right; margin-bottom: 3px"/> -->
								</header>
								<textarea id="tinymce"></textarea>
							</div>
							<!-- TAGS -->
							<div style="margin-bottom: 32px">
							    <header style="margin-bottom: 10px">
							        <h2>
							            <span>Tags</span>
							            <img src="~/images/icons/plus/plus-24-green.png" alt="Add new tag" data-bind="click: function () { this.addingTag(true); }"/>
							        </h2>
							    </header>
							    <div data-bind="visible: addingTag" style="width: 100%; margin-bottom: 16px">
							        <input id="newTag" style="width: 400px; white-space: nowrap; overflow: hidden" data-bind="value: newTag"/>
							        <input type="button" class="" value="Add" data-bind="click: function (item, event) { this.addTag(item, event); }"/>
							        <input type="button" class="" value="Done" data-bind="click: function () { this.addingTag(false); }"/>
							    </div>
							    <div style="width: 100%; line-height: 150%; margin-bottom: inherit" data-bind="template: { name: 'tags-template', foreach: values.tags() }"></div>
                            </div>

							<!-- DOCUMENTS -->
						    <div style="width: 100%; margin-bottom: inherit">
						        <header>
						            <h2>
						                <span>Documents</span>
						                <img src="~/images/icons/plus/plus-24-green.png" alt="Add a new document" data-bind="click: function () { this.uploadingDocument(true); }"/>
						            </h2>
						        </header>
						        <div data-bind="visible: uploadingDocument" style="margin-bottom: 16px">
						            <input type="file" name="uploadFile" id="uploadFile"/>
                                </div>
						        <div>
						            <table class="data">
						                <thead>
						                    <tr>
						                        <th style="width: 10%; text-align: center">Preview</th>
						                        <th style="width: 60%">Title</th>
						                        <th style="width: 10%; text-align: center">Type</th>
						                        <th style="width: 10%; text-align: center">Size</th>
                                                <th style="width: 5%; text-align: center">Hide</th>
						                        <th style="width: 5%"></th>
						                    </tr>
						                </thead>
						                <tbody data-bind="template: { name: 'activity-document-template', foreach: values.documents }"></tbody>
						            </table>
						        </div>
						    </div>
                            
						    <!-- BUTTONS -->
						    <div style="margin-bottom: 32px">
						        <span>
						            <input type="button" value="Save as Draft" data-bind="click: function (item, event) { save(item, event, 'Draft'); }"/>
						            <input type="button" value="Save as Final" data-bind="click: function (item, event) { save(item, event, 'Final'); }"/>
						            <input type="button" value="Cancel" style="float: right" data-bind="click: function (item, event) { cancel(item, event); }"/>
						        </span>
						    </div>
                            
						    <div style="margin-bottom: 32px">
						        <a href="#">Request my profile be deleted</a>
						    </div>

						    <!-- LAST UPDATED -->
							<div style="width: 33%; height: 1.5em; border-top: 1px; border-style: solid">
								<span style="font-size:smaller; color:slategray">Last updated <label id="last-updated-date">00/00/0000</label> by <label id="last-updated-name">John Doe</label></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- KNOCKOUT TEMPLATES -->
<script type="text/html" id="activity-types-template">
    <li>
        <input type="checkbox" style="margin-right: 4px; margin-left: 4px" data-bind="checked: checked"/><span data-bind="text: type()"></span>
    </li>
</script>

<script type="text/html" id="tags-template">
    &emsp;
    <span style="white-space: nowrap">
        <span data-bind="text: text()"></span>
        <img src="../../images/icons/minus/minus-20-red.png" alt="Delete Tag" data-bind="click: function (item, event) { $parent.removeTag(item, event, null); }"/>
    </span>
</script>

<script type="text/html" id="activity-document-template">
    <tr class="hover-hilite" style="white-space: normal">
        <!-- Preview -->
        <td style="text-align: center">
            <img data-bind="attr: { src: proxyImageSource, width: proxyWidth, height: proxyHeight }">
        </td>
        <!-- Title -->
        <td>
            <span data-bind="text: title"></span>
        </td>
        <!-- Type -->
        <td style="text-align: center">
            <span data-bind="text: extension"></span>
        </td>
        <!-- Size -->
        <td style="text-align: center">
            <span data-bind="text: size"></span>
        </td>
        <!-- Visible -->
        <td style="text-align: center">
            <input type="checkbox" data-bind="checked: !visible"/>
        </td>
        <!-- Remove Button -->
        <td style="text-align: center; vertical-align: middle">
            <a href="#" title="Remove document" data-bind="click: function (item, event) { $parent.deleteDocument(item, event, 0); }, clickBubble: false">
                <img src="../../images/icons/minus/minus-24-red.png" alt="Remove document" />
            </a>
        </td>
    </tr>
</script>
