 @model UCosmic.Web.Mvc.Models.DegreeModel

@{
    ViewBag.Title = "My Degree Outside the US";
}

@section styles
{
}

@section scripts
{
    @Scripts.Render("~/bundles/degree")

    <script type="text/javascript">
        $(function() {
            var degreeId = @Model.DegreeId;
            var degreeViewModel = new ViewModels.Degrees.Degree(degreeId);
            degreeViewModel.load()
                .done(function() {
                    degreeViewModel.setupWidgets("institution");
                    degreeViewModel.setupValidation();
                    ko.applyBindings(degreeViewModel, $("#degree-edit")[0]);

                    ///* KendoUI Bug? - Can't seem to preload values unless I do this. */
                    //var countrySelector = $("#countrySelector").data("kendoMultiSelect");
                    //countrySelector.value(degreeViewModel.selectedLocations());
                })
                .fail(function(jqXhr, textStatus, errorThrown) {
                    alert(textStatus + "|" + errorThrown);
                });
        });

    </script>
}

@section bib
{
    <nav class="bib hide" data-current-bib="my">
        @Html.Partial(MVC.Home.Views._Bib)
    </nav>
}

<div class="content fixed to-top" data-current-module="home">
    <div data-side-swiper="root">
        <div data-side-swiper="deck">
            <div data-side-swiper="on">
                <div class="group">
                    <div id="degree-edit" class="on-left from-top" style="width: 100%;">
				        
                        <header>
                            <h1>@ViewBag.Title</h1>
                        </header>

                        <div style="margin-bottom: 38px">
                            <!-- TITLE -->
                            <div style="margin-bottom: 8px">
                                <span>
                                    <label for="title" style="width: 120px; display:inline-block; text-align: right">Title</label>
                                    <input type="text" id="title" style="width: 400px; margin-right: 8px" data-bind="value: title" />
                                </span>
                            </div>

                            <!-- YEAR AWARDED -->
                            <div style="margin-bottom: 8px">
                                <span>
                                    <label for="yearAwarded" style="width: 120px; display:inline-block; text-align: right">Year Awarded</label>
                                    <input type="text" id="yearAwarded" style="width: 60px; margin-right: 8px" data-bind="value: yearAwarded" />
                                </span>
                            </div>

                            <!-- INSTITUTION -->
                            <div style="margin-bottom: 14px">
                                <span>
                                    <label for="institution" style="width: 120px; display:inline-block; text-align: right">Institution</label>
                                    <input type="text" id="institution" style="width: 800px; height: 32px" data-bind="value: institutionOfficialName" />
                                </span>
                            </div>

                            <!-- INSTITUTION COUNTRY -->
                            <div style="margin-bottom: 8px">
                                <span style="padding-left: 124px" data-bind="text: institutionCountryOfficialName()"></span>
                            </div>
                        </div>
                            
                        <!-- BUTTONS -->
                        <div style="margin-bottom: 32px" data-bind="template: { name: 'buttons-template'}"></div>

                        <!-- LAST UPDATED -->
                        <div style="width: 50%; height: 1.5em; border-top: 1px; border-style: solid">
                            <span style="font-size:smaller; color:slategray">
                                <span>Last updated</span>
                                <label id="last-updated-date" data-bind="text: (whenLastUpdated() != null) ? moment(whenLastUpdated()).toDate('MM/DD/YY') : ''"></label>
                                <span> by </span>
                                <label id="last-updated-name" data-bind="text: whoLastUpdated()"></label>
                            </span>
                        </div>
                    </div>                      
                </div>
            </div>
        </div>
    </div>
</div>

                  
<!-- JQUERY DIALOGS -->
<div id="cancelConfirmDialog" class="dialog" title="Confirm Cancel">
    <div>By cancelling, you will lose all changes.</div>
    <div style="font-weight: bold">Are you sure you want to Cancel editing this degree?</div>
</div>

<div id="degreeBeingEditedDialog" class="dialog" title="Error Renaming Document">
    <div>The degree cannot be edited at this time because it is in use by:</div>
    <div id="editingUserName" style="text-align: center"></div>
    <a id="editingUserEmail" style="text-align: center"></a>
</div>


<!-- KNOCKOUT TEMPLATES -->
<script type="text/html" id="buttons-template">
    <span>
        <input type="button" value="Save" data-bind="click: function (item, event) { save(item, event, 'Save'); }, clickBubble: false"/>
        <input type="button" value="Guide Me" style="margin-left: 50px"/>
        <input type="button" value="Cancel" style="float: right" data-bind="click: function (item, event) { cancel(item, event); }, clickBubble: false"/>
    </span>
</script>