@{
    ViewBag.Title = "My International Affiliation";
}

@section styles
{
    <style>
    .non-required-field
    {
        width: 120px;
        display:inline-block;
        text-align: right;
        vertical-align: inherit;
    }        
    .required-field
    {
        width: 120px;
        display:inline-block;
        text-align: right;
        vertical-align: inherit;
    }
    .required-field::after {
        content: "*";
        font-size: large;
        vertical-align: text-top;
        color: red;
    }
    </style>
}

@section scripts
{
    @Scripts.Render("~/bundles/internationalAffiliation")

    <script type="text/javascript">
        $(function() {
            var affiliationViewModel = new ViewModels.InternationalAffiliations.InternationalAffiliation(@ViewBag.AffiliationId);
            affiliationViewModel.load()
                .done(function() {

                    affiliationViewModel.setupWidgets("location");
                    
                    ko.applyBindings( affiliationViewModel, $( "#international-affiliation-edit" )[0] );

                    var locationSelector = $( "#location" ).data( "kendoMultiSelect" );
                    locationSelector.setDataSource( new kendo.data.DataSource({
                        serverFiltering: true,
                        transport: {
                            read: function(options) {
                                $.ajax({
                                    url: App.Routes.WebApi.Places.get(),
                                    
                                    /*
                                        Bug - There's a bug in KendoUI Multiselect whereby the datasource.read()
                                        gets called as soon as the widget gets focus.  This is bad as the Place
                                        service will respond with all the Places in the DB since there is no 
                                        filter being provided.  Our workaround is to trap the empty filter
                                        and send a special character for the service to ignore.  Also,
                                        If options.success() is not actually call, the widget stops functioning
                                        altogether.
                                    */
                                    data: {
                                        keyword: ((options.data.filter != null) &&
                                            (options.data.filter.filters != null) &&
                                            (options.data.filter.filters.length > 0) &&
                                            (options.data.filter.filters[0].value != null)) ?
                                            options.data.filter.filters[0].value : "~"
                                    },
                                    success: function(results) {
                                        options.success(results);
                                    }
                                });
                            }
                        }
                    } ) );

                    affiliationViewModel.setupValidation();
                    affiliationViewModel.setupSubscriptions();
                })
            .fail(function(jqXhr, textStatus, errorThrown) {
            alert(textStatus + "|" + errorThrown);
        });
        });

    </script>
}

@section bib
{
    <nav class="bib hide" data-current-bib="my">
        @Html.Partial(MVC.Home.Views._Bib)
    </nav>
}

<div class="content fixed to-top" data-current-module="home">
    <div data-side-swiper="root">
        <div data-side-swiper="deck">
            <div data-side-swiper="on">
                <div class="group">
                    <div id="international-affiliation-edit" class="on-left from-top" style="width: 100%;">
				        
                        <header>
                            <h1>@ViewBag.Title</h1>
                        </header>

                        <div style="margin-bottom: 38px">
                            
                            <!-- INSTITUTION -->
                            <div style="margin-bottom: 14px">
                                <span>
                                    <label for="institution" class="required-field" style="width: 200px">Institution/Organization</label>
                                    <input type="text" id="institution" style="width: 500px; margin-right: 8px" data-bind="value: institution"/>
                                </span>
                                <span data-bind="validationMessage: institution" class="validationMessage"></span>
                            </div>
                            

                            <!-- COUNTRY/LOCATION -->
                            <div style="margin-bottom: 14px; display: inline-block; vertical-align: middle">
                                <label for="location" class="required-field" style="width: 200px">Locations</label>
                                <div style="display: inline-block; vertical-align: middle">
                                    <select id="location" style="width: 500px; overflow-y:auto"></select>
                                </div>
                                <span data-bind="validationMessage: locations" class="validationMessage"></span>
                            </div>
                            
                            
                            <!-- POSITION -->
                            <div style="margin-bottom: 14px">
                                <span>
                                    <label for="position" class="required-field" style="width: 200px">Position</label>
                                    <input type="text" id="position" style="width: 500px; margin-right: 8px" data-bind="value: position"/>
                                </span>
                                <span data-bind="validationMessage: position" class="validationMessage"></span>
                            </div>
                            
                            <!-- DATES -->
                            <div>
                                <span style="display: inline">
                                    <label for="fromDate" class="required-field" style="width: 200px">From</label>
                                    <select id="fromDate" style="width: 100px" data-bind="value: from"></select>
 
                                    <label for="onGoing" class="non-required-field" style="width: 90px">Ongoing</label>
                                    <input type="checkbox" id="onGoing" data-bind="checked: onGoing" />
 
                                    <span style="display: none" data-bind="visible: !onGoing()">
                                        <label for="toDate" class="non-required-field" style="width: 30px">To</label>
                                        <select id="toDate" style="width: 100px" data-bind="value: to"></select>
                                    </span>
                                </span>
                            </div>
                            <span style="margin-left: 200px" data-bind="validationMessage: from" class="validationMessage"></span>
                        </div>
                            
                        <!-- BUTTONS -->
                        <div style="margin-bottom: 32px" data-bind="template: { name: 'buttons-template'}"></div>

                        <!-- LAST UPDATED -->
                        <div style="width: 50%; height: 1.5em; border-top: 1px; border-style: solid">
                            <span style="font-size:smaller; color:slategray">
                                <span>Last updated</span>
                                <label id="last-updated-date" data-bind="text: (whenLastUpdated() != null) ? moment(whenLastUpdated()).format('MM/DD/YYYY') : ''"></label>
                                <span> by </span>
                                <label id="last-updated-name" data-bind="text: whoLastUpdated()"></label>
                            </span>
                        </div>
                    </div>                      
                </div>
            </div>
        </div>
    </div>
</div>

                  
<!-- JQUERY DIALOGS -->
<div id="cancelConfirmDialog" class="dialog" title="Confirm Cancel">
    <div>By cancelling, you will lose all changes.</div>
    <div style="font-weight: bold">Are you sure you want to Cancel editing this affiliation?</div>
</div>


<!-- KNOCKOUT TEMPLATES -->
<script type="text/html" id="buttons-template">
    <span>
        <input type="button" value="Save" data-bind="click: function (item, event) { save(item, event, 'Save'); }, clickBubble: false"/>
        <input type="button" value="Guide Me" style="margin-left: 50px"/>
        <input type="button" value="Cancel" style="float: right; margin-right: 240px" data-bind="click: function (item, event) { cancel(item, event); }, clickBubble: false"/>
    </span>
</script>