 @model UCosmic.Web.Mvc.Models.LanguageExpertiseModel

@{
    ViewBag.Title = "My Language Expertise";
}

@section styles
{
    <style>
    .non-required-field
    {
        width: 100px;
        display:inline-block;
        text-align: right;
        vertical-align: inherit;
    }        
    .required-field
    {
        width: 100px;
        display:inline-block;
        text-align: right;
        vertical-align: inherit;
    }
    .required-field::after {
        content: "*";
        font-size: large;
        vertical-align: text-top;
        color: red;
    }
    .menu-item-header {
        font-weight: bold;
        line-height: 100%;
        margin-bottom: 4px;
    }
    .menu-item {
        font-size: smaller;
        line-height: 120%;
        margin-bottom: 8px;
    }
    </style>
}

@section scripts
{
    @Scripts.Render("~/bundles/languageExpertise")

    <script type="text/javascript">
        $(function() {
            var expertiseId = "@Model.ExpertiseId";
            var expertiseViewModel = new ViewModels.LanguageExpertises.LanguageExpertise(expertiseId);
            expertiseViewModel.load()
                .done(function() {
                    expertiseViewModel.setupWidgets("language", "speaking", "listening", "reading", "writing");
                    expertiseViewModel.setupValidation();
                    ko.applyBindings( expertiseViewModel, $( "#language-expertise-edit" )[0] );
                    expertiseViewModel.setupSubscriptions();
                })
                .fail(function(jqXhr, textStatus, errorThrown) {
                    alert(textStatus + "|" + errorThrown);
                });
    });

    </script>
}

@section bib
{
    <nav class="bib hide" data-current-bib="my">
        @Html.Partial(MVC.Home.Views._Bib)
    </nav>
}

<div class="content fixed to-top" data-current-module="home">
    <div data-side-swiper="root">
        <div data-side-swiper="deck">
            <div data-side-swiper="on">
                <div class="group">
                    <div id="language-expertise-edit" class="on-left from-top" style="width: 100%;">
				        
                        <header>
                            <h1>@ViewBag.Title</h1>
                        </header>

                        <div style="margin-bottom: 38px">

                            <!-- LANGUAGE -->
                            <div style="margin-bottom: 14px;">
                                <label for="language" class="required-field" data-bind="css: { 'required-field': languageId() != null, 'non-required-field': languageId() == null }">Language</label>
                                <input id="language" style="width: 400px" />
                            </div>
                            
                            <!-- MAIN LANGUAGE DIALECT -->
                            <div data-bind="visible: languageId() != null">
                                <label for="main-dialect" class="non-required-field" style="margin-left: 20px">Dialect</label>
                                <input type="text" id="main-dialect" style="width: 400px" data-bind="value: dialect"/>
                            </div>

                             <!-- OTHER LANGUAGE AND DIALECT -->
                            <div data-bind="visible: languageId() == null">
                                <label for="other" class="required-field" style="margin-left: 20px">Other</label>
                                <input type="text" id="other" style="width: 400px" data-bind="value: other"/>
                            </div>
                            <div data-bind="visible: languageId() == null">
                                <label for="other-dialect" class="non-required-field" style="margin-left: 20px">Dialect</label>
                                <input type="text" id="other-dialect" style="width: 400px" data-bind="value: dialect"/>
                            </div>
                            
                            <div style="margin-top: 20px; margin-bottom: 20px; font-weight: bold">
                                <span>Please assess your level of proficiency:</span>
                            </div>
                                                   
                            <!-- PROFICIENCIES -->
                            <div style="margin-bottom: 8px">
                                <label for="speaking" class="non-required-field">Speaking</label>
                                <select  id="speaking" style="width: 600px;" data-bind="value: speakingProficiency"></select>
                            </div>
                            <div style="margin-bottom: 8px">
                                <label for="listening" class="non-required-field">Listening</label>
                                <select  id="listening" style="width: 600px" data-bind="value: listeningProficiency"></select>
                            </div>
                            <div style="margin-bottom: 8px">
                                <label for="reading" class="non-required-field">Reading</label>
                                <select  id="reading" style="width: 600px" data-bind="value: readingProficiency"></select>
                            </div>
                            <div style="margin-bottom: 8px">
                                <label for="writing" class="non-required-field">Writing</label>
                                <select  id="writing" style="width: 600px" data-bind="value: writingProficiency"></select>
                            </div>

                        </div>
                            
                        <!-- BUTTONS -->
                        <div style="margin-bottom: 32px" data-bind="template: { name: 'buttons-template'}"></div>

                        <!-- LAST UPDATED -->
                        <div style="width: 50%; height: 1.5em; border-top: 1px; border-style: solid">
                            <span style="font-size:smaller; color:slategray">
                                <span>Last updated</span>
                                <label id="last-updated-date" data-bind="text: (whenLastUpdated() != null) ? moment(whenLastUpdated()).format('MM/DD/YYYY') : ''"></label>
                                <span> by </span>
                                <label id="last-updated-name" data-bind="text: whoLastUpdated()"></label>
                            </span>
                        </div>
                    </div>                      
                </div>
            </div>
        </div>
    </div>
</div>

                  
<!-- JQUERY DIALOGS -->
<div id="cancelConfirmDialog" class="dialog" title="Confirm Cancel">
    <div>By cancelling, you will lose all changes.</div>
    <div style="font-weight: bold">Are you sure you want to Cancel editing this expertise?</div>
</div>

<!-- KENDOUI TEMPLATES -->
<script id="proficiency-template" type="text/x-kendo-tmpl">
    <div class="menu-item-header">${ data.title }</div>
    <div class="menu-item">${ data.description }</div>
</script>  

<!-- KNOCKOUT TEMPLATES -->
<script type="text/html" id="buttons-template">
    <span>
        <input type="button" value="Save" data-bind="click: function (item, event) { save(item, event, 'Save'); }, clickBubble: false"/>
        <input type="button" value="Guide Me" style="margin-left: 50px"/>
        <input type="button" value="Cancel" style="float: right; margin-right: 240px" data-bind="click: function (item, event) { cancel(item, event); }, clickBubble: false"/>
    </span>
</script>