<nav class="side">
    <ul>
        <li class="current">
            <a href="#" class="group">
                <div class="arrow"></div>
                <span class="text">Partners</span>
            </a>
            @*<div class="content">
                                <ul>
                                <li>Sub 1</li>
                                <li>Sub 2</li>
                                <li><a href="#sgfd">Sub 3</a></li>
                                <li>Sub 4</li>
                                </ul>
                                </div>*@
        </li>
        <li>
            <a href="#" class="group">
                <div class="arrow"></div>
                <span class="text">Basic Info</span>
            </a>
        </li>
        <li class="">
            <a href="#" class="group">
                <div class="arrow"></div>
                <span class="text">Dates &amp; Status</span>
            </a>
            <div class="content">
                <ul>
                    <li>Sub 1</li>
                    <li>Sub 2</li>
                    <li><a href="#sgfd">Sub 3</a></li>
                    <li>Sub 4</li>
                </ul>
            </div>
        </li>
        <li>
            <a href="#" class="group">
                <div class="arrow"></div>
                <span class="text">Contacts</span>
            </a>
        </li>
        <li>
            <a href="#" class="group">
                <div class="arrow"></div>
                <span class="text">File Attachments but this one is long and wraps</span>
            </a>
        </li>
        <li class="">
            <a href="#" class="group">
                <div class="arrow"></div>
                <span class="text">Visibility</span>
            </a>
            <div class="content">
                <ul>
                    <li>Sub 1</li>
                    <li>Sub 2</li>
                    <li><a href="#sgfd">Sub 3</a></li>
                    <li>Sub 4</li>
                </ul>
            </div>
        </li>
    </ul>
</nav>
