<div data-bind="with: flasherProxy" class="side flasher">
    <div data-bind="slideDownVisible: isVisible, click: dismiss" class="content" title="Click to dismiss" style="display: none;">
        <img class="closer" src="~/images/icons/closer/closer-16-dark.png" alt="" />
        <span data-bind="text: text">Here is my flash feedback message</span>
    </div>
</div>
<nav class="side">
    <ul class="top">
        <li>
            <a href="#" class="group">
                <div class="arrow"></div>
                <span class="text">
                    <img src="~/images/icons/plus/plus-20-green-disc.png" alt="" />
                    <span>Add New</span>
                </span>
            </a>
        </li>
        <li class="static square-bottom">
            <span class="text">Search options</span>
            <div class="content">
                <div class="field">
                    <select class="side" data-bind="value: orderBy">
                        <option value="username-asc">Sort by user name A-Z</option>
                        <option value="username-desc">Sort by user name Z-A</option>
                        <option value="lastname-asc">Sort by last name A-Z</option>
                        <option value="lastname-desc">Sort by last name Z-A</option>
                    </select>
                    <input type="hidden" value="username-asc" data-bind="value: orderBy" />
                </div>
                <div class="field">
                    <select class="side" data-bind="value: pageSize">
                        <option value="5">Show 5 results per page</option>
                        <option value="10">Show 10 results per page</option>
                        <option value="20">Show 20 results per page</option>
                        <option value="50">Show 50 results per page</option>
                        <option value="100">Show 100 results per page</option>
                        @*<option value="@int.MaxValue">Show all results</option>*@
                    </select>
                    <input type="hidden" value="5" data-bind="value: pageSize" />
                </div>
                <div class="field">
                    <button class="link" data-bind="click: prevPage, enable: prevEnabled">&lt;&lt; Previous</button>
                    |
                    <button class="link" data-bind="click: nextPage, enable: nextEnabled">Next &gt;&gt;</button>
                    <input type="hidden" value="1" data-bind="value: pageNumber" />
                </div>
            </div>
        </li>
    </ul>
</nav>
