@{
    ViewBag.Title = "Users";
}

@section bib
{
    <nav class="bib hide" data-current-bib="users">
        @Html.Partial(MVC.Admin.Views._Bib)
    </nav>
}

@section scripts
{

    <script type="text/javascript" src="~/scripts/app/Routes.js"></script>

    <script type="text/javascript" src="~/scripts/viewmodels/Spinner.js"></script>

    <script type="text/javascript" src="~/scripts/viewmodels/PagedSearch.js"></script>

    <script type="text/javascript" src="~/scripts/viewmodels/users/Search.js"></script>

    <script type="text/javascript">
        $(function () {
            var viewModel = new ViewModels.Users.Search();
            ko.applyBindings(viewModel, $('[data-current-module=admin]')[0]);
            viewModel.sammy.run();
        });
    </script>

}

<div class="content fixed to-top" data-current-module="admin">
    <form class="group">
        <input type="hidden" data-bind="jqObservableElement: '$historyJson'" />
        <div class="on-left from-top">
            <header>
                <h1>
                    @ViewBag.Title
                </h1>
            </header>
            <div class="field">
                <input type="hidden" data-bind="value: keyword" />
                <input type="search" placeholder="Enter a user name, email address, or access grant" data-bind="value: keyword, valueUpdate: 'afterkeydown search'" />
            </div>
            <p data-bind="visible: hasNoItems" style="display: none;">
                There are no results that match your search terms.
            </p>
            <p data-bind="visible: spinner.isVisible">
                <img src="~/images/icons/spinner/spinner-20-blue.gif" alt="" />
                <strong>Loading search results...</strong>
            </p>
            <p data-bind="visible: showStatus" style="display: none;">
                <strong>Showing <span data-bind="text: firstNumber"></span>
                    <span data-bind="visible: hasManyItems">- <span data-bind="    text: lastNumber"></span></span>
                    of <span data-bind="text: itemTotal"></span></strong>
                <span data-bind="visible: hasManyPages">(page
                    @*<select class="inline" data-bind="options: pageNumberOptions, value: selectedPageNumber">
                    </select>*@
                    <span data-bind="text: transitionedPageNumber"></span>
                    of <span data-bind="text: pageCount"></span>)</span>
            </p>
            <hr />
            <ol data-bind="foreach: items, visible: hasItems" style="display: none;">
                <li class="user-item">
                    <div class="group">
                        <div class="on-left">
                            <img src="~/images/icons/user/unisex-a-128.png" alt="" data-bind="attr: { src: photoSrc }" width="100" />
                        </div>
                        <div class="on-left">
                            <div class="text-data">
                                <div class="group">
                                    <div class="on-left">
                                        <span data-bind="text: name" class="user-name"></span>
                                        <span data-bind="visible: hasUniqueDisplayName">-
                                            <span data-bind="text: personDisplayName" class="display-name"></span>
                                        </span>
                                    </div>
                                    <div class="on-right menu-box">
                                        <ul data-bind="jqObservableElement: '$menu'">
                                            <li>
                                                <span style="display: none;">Action</span>
                                                <ul>
                                                    @if (User.IsInAnyRole(RoleName.UserImpersonators))
                                                    {
                                                        <li data-bind="click: impersonate">Impersonate</li>
                                                    }
                                                    @if (User.IsInAnyRole(RoleName.RoleGrantors))
                                                    {
                                                        <li data-bind="click: showRoleEditor, visible: !isEditingRoles()">Manage Access Grants</li>
                                                    }
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="roles">
                                    <span class="branded-dark1 badge" data-bind="visible: hasNoGrants" style="display: none;">[No access grants]</span>
                                    <span data-bind="visible: hasGrants, foreach: roles">
                                        <span class="branded-dark1 badge"><span data-bind="text: name"></span>
                                            <img data-bind="visible: $parent.isEditingRoles(), click: revokeRole" title="Revoke this access grant"
                                                src="~/images/icons/minus/minus-16-red-on-white.png" alt="" style="vertical-align: top; cursor: pointer; margin-left: 2px;" />
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class="editor" data-bind="slideDownVisible: isEditingRoles" style="display: none;">
                                <div style="margin-top: 12px;">
                                    <select data-bind="value: selectedRoleOption, options: roleOptions, optionsText: 'name', optionsValue: 'id', optionsCaption: '[Select access to grant...]'">
                                        <option>[Loading...]</option>
                                    </select>
                                    <input type="button" value="Grant Access" data-bind="click: grantRole, disable: isRoleGrantDisabled" />
                                    <img src="~/images/icons/spinner/spinner-20-blue.gif" alt="" data-bind="visible: roleSpinner.isVisible" />
                                </div>
                                <div style="margin-top: 12px;">
                                    <input type="button" value="I'm Finished" class="link" data-bind="click: hideRoleEditor" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                </li>
            </ol>
        </div>
        <aside class="on-right from-top" data-fixed-scroll="root">
            <div data-fixed-scroll="anchor"></div>
            <div data-fixed-scroll="content">
                @Html.Partial(MVC.Users.Views._SearchSideBar)
            </div>
        </aside>
    </form>
    <form action="@Url.Action(MVC.Identity.SignOver())" method="POST" data-bind="element: 'impersonateForm'">
        <input type="hidden" name="userName" data-bind="value: impersonateUserName" />
    </form>
</div>
@section styles
{
    <style type="text/css">
        .user-item .text-data, .user-item .editor {
            margin-left: 8px;
            width: 580px;
        }

            .user-item .text-data .user-name {
                font-size: 18px;
                font-weight: bold;
            }

            .user-item .text-data .display-name {
                font-size: 18px;
                font-weight: normal;
            }

            .user-item .text-data .roles {
                margin-top: 2px;
            }

                .user-item .text-data .roles .badge {
                    margin: 2px 2px 2px 0;
                    text-transform: none;
                }

        .user-item .menu-box ul.k-menu {
            display: inline-block;
            margin: -8px 0 0 0;
            border: 0;
            background: none;
            background-image: none;
            width: 16px;
        }

            .user-item .menu-box ul.k-menu > li {
                border: 0;
                width: 16px;
            }

                .user-item .menu-box ul.k-menu > li.k-state-hover, .user-item .menu-box ul.k-menu > li.k-state-hover:hover {
                    border: 0;
                    background: none;
                    background-image: none;
                    -webkit-box-shadow: none;
                    box-shadow: none;
                }

        .user-item .menu-box .k-link {
            padding: 0;
        }

            .user-item .menu-box .k-link .k-icon.k-i-arrow-s {
                margin: 0;
                cursor: pointer;
            }
    </style>
}
