@{
    ViewBag.Title = "Users";
}

@section bib
{
    <nav class="bib hide" data-current-bib="users">
        @Html.Partial(MVC.Admin.Views._Bib)
    </nav>
}

@section scripts
{
    <script type="text/javascript" src="~/scripts/app/Routes.js"></script>
    <script type="text/javascript" src="~/scripts/viewmodels/users/Search.js"></script>
    <script type="text/javascript">
        var viewModel = new ViewModels.Users.Search();
        ko.applyBindings(viewModel, $('[data-current-module=admin]')[0]);
    </script>
}

<div class="fixed content" data-current-module="admin">
    <header>
        <h1>@ViewBag.Title</h1>
    </header>
    <ol data-bind="foreach: items">
        <li>
            <span data-bind="text: name"></span>
            <br />
            <span data-bind="text: personDisplayName"></span>
            <br />
            <ol data-bind="visible: hasRoles, foreach: roleGrants">
                <li>
                    <span data-bind="text: roleName"></span>
                    <br/>
                    @*<span data-bind="text: roleDescription"></span>*@
                </li>
            </ol>
            <span data-bind="visible: hasNoRoles">[No roles]</span>
            <br />
            <br />
            <br />
        </li>
    </ol>
</div>
