@{
    ViewBag.Title = "Create User";
}

@section bib
{
    <nav class="bib hide" data-current-bib="users">
        @Html.Partial(MVC.Admin.Views._Bib)
    </nav>
}

@section scripts
{

    @Scripts.Render("~/bundles/users/create")

    <script type="text/javascript">
        $(function () {
            var viewModel = new ViewModels.Users.User();
            ko.applyBindings(viewModel, $('[data-current-module=admin]')[0]);
        });
    </script>

}

<div class="content fixed to-top" data-current-module="admin">
    <form class="group" method="POST" data-bind="submit: save, validationOptions: { decorateElement: true, errorClass: 'error' }">
        <div class="on-left from-top">
            <header>
                <h1>
                    @ViewBag.Title
                </h1>
            </header>
            <div>
                <section class="fieldset">
                    <header>
                        <h2>
                            <span>Username</span>
                        </h2>
                    </header>
                    <div>
                        <div class="field">
                            <input type="email" data-bind="value: name" />
                        </div>
                    </div>
                </section>
            </div>
            <div style="margin-bottom: 10px" data-bind="visible: errorMessage">
                <span class="field-validation-error" data-bind="text: errorMessage"></span>
            </div>
            <div>
                <input type="submit" value="Create" />
                <span data-bind="visible: saveSpinner.isVisible">
                    <img src="~/images/icons/spinner/spinner-20-blue.gif" alt="" />
                    <span style="font-weight: bold"> Please wait while user is created...</span>
                </span>
            </div>
        </div>
        <aside class="on-right from-top" data-fixed-scroll="root">
            <div data-fixed-scroll="anchor"></div>
            <div data-fixed-scroll="content">
                @*sidebar here*@
            </div>
        </aside>
    </form>
</div>

