<div data-side-swiper="root" id="search">
    <div data-side-swiper="deck">
        <div data-side-swiper="on" class="left">
            @Html.Partial(MVC.Establishments.Views._FormNamesSection)
            @Html.Partial(MVC.Establishments.Views._FormUrlsSection)
            <section id="location" class="fieldset" data-bind="with: location">
                <header>
                    <h2>
                        Location
                    </h2>
                </header>
                <div>
                    <div class="field-table w690-l190-v500">
                        <div class="field-row">
                            <div class="field-label">
                                <label>Continent</label>
                            </div>
                            <div class="field-value">
                                <span data-bind="text: continentName"></span>
                            </div>
                        </div>
                        <div class="field-row">
                            <div class="field-label">
                                <label for="establishment_location_country_menu">Country</label>
                            </div>
                            <div class="field-input">
                                <select data-bind="options: countries, optionsCaption: countryOptionsCaption, optionsText: 'officialName', optionsValue: 'id', value: countryId,
                                    event: { change: changePlaceInLocation }"
                                    id="establishment_location_country_menu">
                                    <option>[Loading...]</option>
                                </select>
                            </div>
                        </div>
                        <div class="field-row" data-bind="visible: showAdmin1Input">
                            <div class="field-label">
                                <label for="establishment_location_admin1_menu">Admin #1</label>
                            </div>
                            <div class="field-input">
                                <select data-bind="options: admin1s, optionsCaption: admin1OptionsCaption, optionsText: 'officialName', optionsValue: 'id', value: admin1Id,
                                    event: { change: changePlaceInLocation }"
                                    id="establishment_location_admin1_menu">
                                    <option>[Loading...]</option>
                                </select>
                            </div>
                        </div>
                        <div class="field-row" data-bind="visible: showAdmin2Input">
                            <div class="field-label">
                                <label for="establishment_location_admin2_menu">Admin #2</label>
                            </div>
                            <div class="field-input">
                                <select data-bind="options: admin2s, optionsCaption: admin2OptionsCaption, optionsText: 'officialName', optionsValue: 'id', value: admin2Id,
                                    event: { change: changePlaceInLocation }"
                                    id="establishment_location_admin2_menu">
                                    <option>[Loading...]</option>
                                </select>
                            </div>
                        </div>
                        <div class="field-row" data-bind="visible: showAdmin3Input">
                            <div class="field-label">
                                <label for="establishment_location_admin3_menu">Admin #3</label>
                            </div>
                            <div class="field-input">
                                <select data-bind="options: admin3s, optionsCaption: admin3OptionsCaption, optionsText: 'officialName', optionsValue: 'id', value: admin3Id,
                                    event: { change: changePlaceInLocation }"
                                    id="establishment_location_admin3_menu">
                                    <option>[Loading...]</option>
                                </select>
                            </div>
                        </div>
                        <div data-bind="foreach: subAdmins, visible: subAdmins().length">
                            <div class="field-row">
                                <div class="field-label">
                                    <label data-bind="text: placeTypeEnglishName"></label>
                                </div>
                                <div class="field-value">
                                    <span data-bind="text: officialName"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="display: none;">
                        Lat:
                        <input type="text" data-bind="value: toolsMarkerLat" />
                        Lng:
                        <input type="text" data-bind="value: toolsMarkerLng" />
                    </div>
                    <div id="map_canvas" class="map-canvas-w100-h500" data-bind="jqObservableElement: '$mapCanvas'"></div>
                    @Html.Partial(MVC.Shared.Views._GoogleMapsToolsOverlay)
                </div>
                <div data-bind="jqElement: '$dataLoadingDialog'" title="Loading Geographic Information" style="display: none;">
                    <div>
                        <p class="content">
                            <img src="~/images/icons/spinner/spinner-20-blue.gif" alt="" /> Please wait a moment while geographic information is retrieved for this place marker.
                        </p>
                    </div>
                </div>
            </section>
            <div data-bind="jqElement: '$genericAlertDialog'" title="" style="display: none;">
                <div>
                    <p class="content">
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
