<nav class="side">
    <ul>
        <li class="current">
            <a href="#/" class="group">
                <div class="arrow"></div>
                <div class="text">
                    <span>Sidebar Item #1</span>
                </div>
            </a>
        </li>
        <li>
            <a href="#/" class="group">
                <div class="arrow"></div>
                <div class="text">
                    <span>Sidebar Item #2</span>
                </div>
            </a>
        </li>
        <li>
            <a href="#/" class="group">
                <div class="arrow"></div>
                <div class="text">
                    <span>Sidebar Item #3</span>
                </div>
            </a>
        </li>
    </ul>
</nav>
<div data-bind="slideDownVisible: App.flasher.text()" style="margin-top: 20px; padding-left: 16px; display: none;">
    <div style="padding: 8px; background-color: blanchedalmond;">
        <span data-bind="text: App.flasher.text()"></span>
    </div>
</div>
