<nav class="side">
    <ul>
        <li class="current" id="nav_names">
            <a href="#" class="group" >
                <span class="arrow"></span>
                <span class="text">Official Name</span>
            </a>
        </li>
        <li id="nav_urls">
            <a href="#" class="group" >
                <span class="arrow"></span>
                <span class="text">Official URL</span>
            </a>
        </li>
        <li id="nav_parent">
            <a href="#" class="group">
                <span class="arrow"></span>
                <span class="text">Parent Establishment</span>
            </a>
        </li>
        <li id="nav_location">
            <a href="#" class="group">
                <span class="arrow"></span>
                <span class="text">Location</span>
            </a>
        </li>
        <li id="nav_classification">
            <a href="#" class="group">
                <span class="arrow"></span>
                <span class="text">Classification</span>
            </a>
        </li>
    </ul>
</nav>
