<div data-side-swiper="root" id="search">
    <div data-side-swiper="deck">
        <div data-side-swiper="on" class="left">
            @Html.Partial(MVC.Establishments.Views._FormNamesSection)
            @Html.Partial(MVC.Establishments.Views._FormUrlsSection)
            <section id="location" class="fieldset">
                <header>
                    <h2>
                        Location
                    </h2>
                </header>
                <div>
                    <div class="field-table w690-l190-v500" data-bind="visible: !hasPlaces()" style="display: none;">
                        <div class="field-row">
                            <div class="field-label">
                                <label for="establishment_location_country_menu">Country</label>
                            </div>
                            <div class="field-input">
                                <select data-bind="options: countries, optionsCaption: '[Unspecified]', optionsText: 'name', optionsValue: 'code', value: countryCode"
                                    id="establishment_location_country_menu">
                                    <option>[Loading...]</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="field-table w690-l190-v500" data-bind="visible: hasPlaces, foreach: displayPlaces" style="display: none;">
                        <div class="field-row">
                            <div class="field-label">
                                <label data-bind="text: placeTypeEnglishName"></label>
                            </div>
                            <div class="field-input" data-bind="visible: isCountry">
                                <select data-bind="options: $parent.countries, optionsCaption: '[Unspecified]', optionsText: 'name', optionsValue: 'code', value: $parent.countryCode">
                                    <option>[Loading...]</option>
                                </select>
                            </div>
                            <div class="field-value" data-bind="visible: !isCountry">
                                <span data-bind="text: officialName"></span>
                            </div>
                        </div>
                    </div>
                    <div style="display: none;">
                        Lat:
                        <input type="text" data-bind="value: toolsMarkerLat" />
                        Lng:
                        <input type="text" data-bind="value: toolsMarkerLng" />
                    </div>
                    <div id="map_canvas" class="map-canvas-w100-h500" data-bind="jqObservableElement: '$mapCanvas'"></div>
                    @Html.Partial(MVC.Shared.Views._GoogleMapsToolsOverlay)
                </div>
            </section>
            <div data-bind="jqElement: '$genericAlertDialog'" title="" style="display: none;">
                <div>
                    <p class="content">
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
