<nav class="side">
    <ul class="top">
        <li class="static square-bottom">
            <div class="group no-link">
                <div class="arrow"></div>
                <span class="text">Filter options</span>
            </div>
            <div class="content">
                <div class="field">
                    <select class="side" data-bind="options: countries, optionsCaption: '[All countries]', optionsText: 'name', optionsValue: 'code', value: countryCode">
                        <option>[Loading...]</option>
                    </select>
                    <input type="hidden" data-bind="value: countryCode" />
                </div>
                <div class="field" style="display: none;">
                    <select class="side" data-bind="value: lens">
                        <option value="table">Table</option>
                        <option value="list">List</option>
                    </select>
                </div>
            </div>
        </li>
    </ul>
    <ul class="bottom" data-bind="foreach: lenses">
        <li data-bind="css: { current: $parent.lens() === value }">
            <a href="#" class="group" data-bind="click: $parent.changeLens">
                <div class="arrow"></div>
                <span class="text" data-bind="text: text"></span>
            </a>
        </li>
    </ul>
</nav>
