<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="2.2.0" targetFramework="net40" />
  <package id="FluentValidation" version="3.4.6.0" targetFramework="net40" />
  <package id="LinqKit" version="1.0" targetFramework="net40" />
  <package id="Lucene.Net" version="3.0.3" targetFramework="net40" />
  <package id="morelinq" version="2.0.0-alpha01" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="5.0.6" targetFramework="net40" />
  <package id="NGeo" version="1.9.0.0" targetFramework="net40" />
  <package id="Pluralizer" version="0.3.0.1" targetFramework="net40" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net40" />
  <package id="SimpleInjector" version="2.6.0-beta1" targetFramework="net40" />
  <package id="SimpleInjector.Integration.Web" version="2.6.0-beta1" targetFramework="net40" />
  <package id="SimpleInjector.Integration.Web.Mvc" version="2.6.0-beta1" targetFramework="net40" />
  <package id="valueinjecter" version="2.3.3" targetFramework="net40" />
</packages>