<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="2.0.0" targetFramework="net40" />
  <package id="EntityFramework" version="5.0.0" targetFramework="net40" />
  <package id="FluentValidation" version="3.4.6.0" targetFramework="net40" />
  <package id="LinqKit" version="1.0" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="4.5.10" targetFramework="net40" />
  <package id="NGeo" version="1.7.5.0" targetFramework="net40" />
  <package id="Pluralizer" version="0.3.0.1" targetFramework="net40" />
</packages>