/* testshib variable values */

$branded-badge-dark1-bg-color: $testshib-red;
$branded-badge-dark1-text-color: #fff;

$nav-my-bg-color: $testshib-red;
$nav-my-link-border-color: #fff;
$nav-my-link-color: #fff;
$nav-my-link-hover-bg-color: #fff;
$nav-my-link-hover-text-color: $testshib-red;
$nav-my-email-link-color: #fff;

$nav-modules-current-text-color: #333;
$nav-modules-text-color: #333;
$nav-modules-text-shadow-x: 1px;
$nav-modules-text-shadow-y: 1px;
$nav-modules-text-shadow-blur: 3px;
$nav-modules-text-shadow-color: rgba(99, 99, 99, .5);

$nav-modules-inset-shadow-x: 0;
$nav-modules-inset-shadow-y: -1px;
$nav-modules-inset-shadow-blur: 5px;
$nav-modules-inset-shadow-spread: 0;
$nav-modules-inset-shadow-color: rgba(33, 33, 33, 0.2);

$nav-modules-default-opacity: .9;
$nav-modules-hover-opacity: .95;
$nav-modules-current-opacity: 1;

$banner-height: 100px;
$banner-outer-bg: transparent;
$banner-bg-color: #fff;
$nav-modules-bg-color: $testshib-red;
$nav-module-bg-color: #fff;
$nav-modules-bg-lighter: #ddf;

$flasher-border: 0 none;
$flasher-bg-color: rgba(11, 11, 11, .9);
$flasher-bg-color-ie: #353535;
$flasher-text-color: #eee;
$flasher-close-icon: $closer-white-24;

$nav-bib-bg-color: $testshib-gray;
$nav-bib-link-text-color: #eee;
$nav-bib-link-hover-text-color: #eee;
$nav-bib-link-hover-bg-color: #000;
$nav-bib-current-bg-color: #fff;
$nav-bib-current-text-color: #333;

$footer-bg-color: $testshib-red;
$footer-text-color: #fff;
$footer-link-text-color: #fff;
$footer-link-border-color: #fff;

$heading-text-color: $testshib-red;
$external-link-color: #00c;
$main-link-color: #4e75bb;
$default-hilite-bg-color: #ffa;
$row-hilite-bg-color: $default-hilite-bg-color;

$typed-item-bg-color: $testshib-red;
$typed-item-text-color: #fff;

$table-header-bg-color: $testshib-red;
$table-header-text-color: #eee;
$table-row-even-bg-color: #ddd;

$sidebar-default-bg-color: #ddd;
$sidebar-default-text-color: $testshib-red;
$sidebar-hover-bg-color: $testshib-gray;
$sidebar-hover-text-color: #000;
$sidebar-current-bg-color: $testshib-red;
$sidebar-current-text-color: #fff;
$sidebar-content-text-color: $testshib-gray;

$button-bg-color: $testshib-red;
$button-text-color: #fff;
