/* suny.edu variable values */

$nav-my-bg-color: $suny-brand-turq;
$nav-my-link-border-color: #ccc;
$nav-my-link-color: #eee;
$nav-my-link-hover-bg-color: #eee;
$nav-my-link-hover-text-color: $suny-brand-blue;
$nav-my-email-link-color: #eee;

$nav-modules-current-text-color: #eef;
$nav-modules-text-color: #eeeeee;
$nav-modules-text-shadow-x: 0;
$nav-modules-text-shadow-y: 2px;
$nav-modules-text-shadow-blur: 3px;
$nav-modules-text-shadow-color: #000;

$nav-modules-inset-shadow-x: 0;
$nav-modules-inset-shadow-y: -1px;
$nav-modules-inset-shadow-blur: 2px;
$nav-modules-inset-shadow-spread: 0;
$nav-modules-inset-shadow-color: rgba(33, 33, 33, 0.5);

$nav-modules-default-opacity: .6;
$nav-modules-hover-opacity: .8;
$nav-modules-current-opacity: 1;

$banner-height: 100px;
$banner-outer-bg: transparent;
$banner-bg-color: #000099;
$nav-modules-bg-color: $suny-brand-turq;
$nav-module-bg-color: $banner-bg-color;
$nav-modules-bg-lighter: #01589c;

$flasher-border: 0 none;
$flasher-bg-color: rgba(13, 13, 13, .9);
$flasher-bg-color-ie: #111;
$flasher-text-color: #eee;
$flasher-close-icon: $closer-white-24;

$nav-bib-bg-color: $suny-brand-turq;
$nav-bib-link-text-color: #eee;
$nav-bib-link-hover-text-color: #eee;
$nav-bib-link-hover-bg-color: $suny-brand-blue;
$nav-bib-current-bg-color: $banner-bg-color;
$nav-bib-current-text-color: #eee;

$footer-bg-color: $suny-brand-blue;
$footer-text-color: #eee;
$footer-link-text-color: #eee;
$footer-link-border-color: #eee;

$heading-text-color: $suny-brand-blue;
$external-link-color: #00c;
$main-link-color: #00c;
$default-hilite-bg-color: #ffa;
$row-hilite-bg-color: $default-hilite-bg-color;

$typed-item-bg-color: $suny-brand-blue;
$typed-item-text-color: #fff;

$table-header-bg-color: $suny-brand-blue;
$table-header-text-color: #eee;
$table-row-even-bg-color: #ddd;

$sidebar-default-bg-color: #ddd;
$sidebar-default-text-color: $suny-brand-blue;
$sidebar-hover-bg-color: $suny-brand-turq;
$sidebar-hover-text-color: #fff;
$sidebar-current-bg-color: $suny-brand-blue;
$sidebar-current-text-color: #fff;
$sidebar-content-text-color: #fff;

$button-bg-color: $suny-brand-blue;
$button-text-color: #fff;
