/* lehigh.edu variable values */

$nav-my-bg-color: $lehigh-brand-brown;
$nav-my-link-border-color: #eee;
$nav-my-link-color: #eee;
$nav-my-link-hover-bg-color: #eee;
$nav-my-link-hover-text-color: $lehigh-brand-brown;
$nav-my-email-link-color: #eee;

$nav-modules-current-text-color: #333;
$nav-modules-text-color: #333;
$nav-modules-text-shadow-x: 1px;
$nav-modules-text-shadow-y: 1px;
$nav-modules-text-shadow-blur: 3px;
$nav-modules-text-shadow-color: rgba(99, 99, 99, .5);

$nav-modules-inset-shadow-x: 0;
$nav-modules-inset-shadow-y: -1px;
$nav-modules-inset-shadow-blur: 5px;
$nav-modules-inset-shadow-spread: 0;
$nav-modules-inset-shadow-color: rgba(33, 33, 33, 0.2);

$nav-modules-default-opacity: .9;
$nav-modules-hover-opacity: .95;
$nav-modules-current-opacity: 1;

$banner-height: 100px;
$banner-outer-bg: transparent;
$banner-bg-color: #fff;
$nav-modules-bg-color: $lehigh-brand-brown;
$nav-module-bg-color: #fff;
$nav-modules-bg-lighter: #ddf;

$flasher-border: 0px none;
$flasher-bg-color: rgba(11, 11, 11, .9);
$flasher-bg-color-ie: #353535;
$flasher-text-color: #eee;
$flasher-close-icon: $closer-white-24;

$nav-bib-bg-color: $lehigh-brand-brown;
$nav-bib-link-text-color: #eee;
$nav-bib-link-hover-text-color: #eee;
$nav-bib-link-hover-bg-color: #7E4816;
$nav-bib-current-bg-color: #fff;
$nav-bib-current-text-color: #333;

$footer-bg-color: $lehigh-brand-brown;
$footer-text-color: #fff;
$footer-link-text-color: #fff;
$footer-link-border-color: #fff;
