@{
    ViewBag.Title = "Agreements";
}
@section styles
{
    @Styles.Render("~/styles/tenants/suny.edu/main")
    <!--[if lt IE 9]>
    @Styles.Render("~/styles/tenants/suny.edu/ie8")
    <![endif]-->
}

<div class="fluid content" data-current-module="agreements">
    <h2>@ViewBag.Title</h2>

    <p>
        Implement touchy scrollbars
    </p>
    <p>
        Fluid versus fixed layout
    </p>
</div>
