@{
    ViewBag.Title = "Index2";
}
<div class="fluid content">
    <h2>Index2</h2>

    <p>
        Implement touchy scrollbars
    </p>
    <p>
        Fluid versus fixed layout
    </p>
</div>
