@{
    ViewBag.Title = "Index";
}
<h1>
    This is the view
</h1>
<p>
    This is content in the view.
</p>
<p>
    This is content in the view.
</p>
<p>
    This is content in the view.
</p>
<p>
    This is content in the view.
</p>
<p>
    This is content in the view.
</p>
<p>
    This is content in the view.
</p>
<p>
    This is content in the view.
</p>
<p>
    This is content in the view.
</p>
<p>
    This is content in the view.
</p>
<p>
    This is content in the view.
</p>
<p>
    This is content in the view.
</p>
<p>
    This is content in the view.
</p>
<p>
    This is content in the view.
</p>
<p>
    This is content in the view.
</p>
<p>
    This is content in the view.
</p>
<p>
    This is content in the view.
</p>
<p>
    This is content in the view.
</p>
<p>
    This is content in the view.
</p>
<p>
    This is content in the view.
</p>
<p>
    This is content in the view.
</p>
<p>
    This is content in the view.
</p>
<p>
    This is content in the view.
</p>
<p>
    This is content in the view.
</p>
<p>
    This is content in the view.
</p>
<p>
    This is content in the view.
</p>
<p>
    This is content in the view.
</p>
<p>
    This is content in the view.
</p>
<p>
    This is content in the view.
</p>
<p>
    This is content in the view.
</p>
<p>
    This is content in the view.
</p>
<p>
    This is content in the view.
</p>
<p>
    This is content in the view.
</p>
<p>
    This is content in the view.
</p>
<p>
    This is content in the view.
</p>
<p>
    This is content in the view.
</p>
<p>
    This is content in the view.
</p>
<p>
    This is content in the view.
</p>
<p>
    This is content in the view.
</p>
<p>
    This is content in the view.
</p>
<p>
    This is content in the view.
</p>
<p>
    This is content in the view.
</p>
<p>
    This is content in the view.
</p>
<p>
    This is content in the view.
</p>
<p>
    This is content in the view.
</p>
<p>
    This is content in the view.
</p>
<p>
    This is content in the view.
</p>
<p>
    This is content in the view.
</p>
<p>
    This is content in the view.
</p>
<p>
    This is content in the view.
</p>
<p>
    This is content in the view.
</p>
<p>
    This is content in the view.
</p>
<p>
    This is content in the view.
</p>
<p>
    This is content in the view.
</p>
<p>
    This is content in the view.
</p>
<p>
    This is content in the view.
</p>
<p>
    This is content in the view.
</p>
<p>
    This is content in the view.
</p>
<p>
    This is content in the view.
</p>
<p>
    This is content in the view.
</p>
<p>
    This is content in the view.
</p>
<p>
    This is content in the view.
</p>
<p>
    This is content in the view.
</p>
<p>
    This is content in the view.
</p>
<p>
    This is content in the view.
</p>
