@{
    ViewBag.Title = "Representatives";
}
<div class="content" data-current-module="reps">
    <h2>@ViewBag.Title</h2>

    <p>
        Implement touchy scrollbars
    </p>
    <p>
        Fluid versus fixed layout
    </p>
</div>
