@{
    ViewBag.Title = "Representatives";
}
@section styles
{
    <link href="@Url.Content(Links.styles.tenants.umn_edu.layout_css)" type="text/css" rel="stylesheet" />
    <!--[if lt IE 9]>
    <link href="@Url.Content(Links.styles.tenants.umn_edu.ie8_css)" type="text/css" rel="stylesheet" />
    <![endif]-->
}
<div class="fixed content" data-current-module="reps">
    <h2>@ViewBag.Title</h2>

    <p>
        Implement touchy scrollbars
    </p>
    <p>
        Fluid versus fixed layout
    </p>
</div>
