@using UCosmic.Web.Mvc.ApiControllers
@model UCosmic.Web.Mvc.Models.AffiliationViewModel[]

@* AFFILIATIONS *@
<h2 style="font-size: 24px;  padding-bottom: 1em;">Affiliations</h2>
@if (Model != null && Model.Any())
{
    <div>
        <ul style="font-size: 20px;">
            @foreach (var affiliations in Model)
            {
                if (affiliations.EstablishmentName != null)
                {
                    <li style="margin-bottom: 1em;">
                        @if (affiliations.FacultyRank != "Other")
                        {
                            <strong style="display: block">@affiliations.FacultyRank</strong>
                        }
                        <strong style="display: block">@affiliations.JobTitles</strong>
                        <ul>
                            <li>@affiliations.EstablishmentName</li>

                            @foreach (var ancestorNames in affiliations.AncestorNames)
                            {
                                <li><span>@ancestorNames</span></li>
                            }
                        </ul>
                        <div class="action">
                            Click to edit
                        </div>
                    </li>
                }
            }
        </ul>
    </div>
}
else
{
    @* ZERO RESULTS MESSAGE *@
    <span>
        This person has no known affiliations.
    </span>
}
