@model UCosmic.Web.Mvc.Models.PersonViewModel

<section>

    <div style="font-size: 20px;">
        @* Person *@
        <table style="margin-bottom: .5em">
            <tr>
                <td style="vertical-align: bottom;">
                    <img src="@Url.HttpRouteUrl(null, new { controller = "People", action = "GetPhoto", Id = Model.PersonId })" style="max-width: 100px;  margin-right: 1em" height="108" />
                </td>
                <td>
                    <div style="font-size: 24px; line-height: 28px;">@Model.DisplayName</div>
                    <div>@Model.JobTitles</div>
                    <a style="-ms-word-break: break-all; -moz-word-break: break-all; -o-word-break: break-all; word-break: break-all;" href="mailto:@Model.EmailAddress" target="_top">@Model.EmailAddress</a>
                </td>
            </tr>
        </table>

    </div>
</section>
