@using UCosmic.Web.Mvc.ApiControllers
@model UCosmic.Web.Mvc.Models.PersonViewModel

<section id="publicView">

    <div style="font-size: 16px;">


        @* SOMETHING *@
        <div style="margin: 1em 0; line-height: 24px;">
            @*@Model.Content*@
        </div>

    </div>
</section>
