@using UCosmic.Web.Mvc.ApiControllers
@model UCosmic.Web.Mvc.Models.PageOfDegreePublicViewModel

@* DEGREES *@
<section class="content fixed to-top">
    <div>

        @if (Model != null && Model.Items.Any())
        {
@* RESULTS *@
            <div>
                <ul style="font-size: 20px;">
                    @foreach (var degree in Model.Items)
                    {
                        <li style="margin-bottom: 1em;">
                            <strong style="display: block;">@degree.Title</strong>
                            <ul style="display: inline-block;">
                                @if (degree.Institution != null && degree.Institution.OfficialName != string.Empty)
                                {
                                    <li class="comma-list"><span>@degree.Institution.OfficialName</span></li>   
                                }
                                @if (degree.FieldOfStudy != null && !degree.FieldOfStudy.IsNullOrWhiteSpace())
                                {
                                    <li class="comma-list"><span>@degree.FieldOfStudy</span></li>
                                }
                                @if (degree.YearAwarded != null)
                                {
                                    <li class="comma-list"><span>@degree.YearAwarded</span></li>
                                }
                            </ul>
                        </li>
                    }
                </ul>
            </div>
        }
        else
        {
@* ZERO RESULTS MESSAGE *@
            <p>
                This person has no known international degrees.
            </p>
        }


    </div>
</section>
