@using UCosmic.Web.Mvc.ApiControllers
@model UCosmic.Web.Mvc.Models.AffiliationViewModel[]

@* DEGREES *@
<section class="content fixed to-top">
    <h2 style="font-size: 24px;  padding-bottom: 1em;">Affiliations</h2>
    @if (Model != null && Model.Any())
    {
        <div>
            <ul style="display: inline-block;">
                @*@foreach (var emails in Model)
                {
                    if (emails.Text != null)
                    {
                        <li class="comma-list">
                            <strong>@emails.Text</strong>
                        </li>
                    }
                }*@
            </ul>
        </div>
    }
    else
    {
        @* ZERO RESULTS MESSAGE *@
        <p>
            This person has no known affiliations.
        </p>
    }
</section>
