@model UCosmic.Web.Mvc.Models.PersonViewModel

@* EMAILS *@
<section class="content fixed to-top">
    @if (Model != null && Model.EmailAddress != null)
    {
        <h2 style="font-size: 24px; padding-bottom: 1em;">Contact Information</h2>
        <div>
            <ul>
                @if (Model.EmailAddress != null)
                {
                    <li style="margin-bottom: 12px;"><strong>@Model.EmailAddress</strong><span style="color: #666;"> (default)</span></li>
                }
                @foreach (var emailAddress in Model.EmailAddresses)
                {
                    if (emailAddress != null)
                    {
                        <li>
                            @if (User.Identity.Name.Equals(Model.Username, StringComparison.OrdinalIgnoreCase))
                            {
                                @*<form action="@Url.Action(MVC.Emails.Delete())" method="POST">*@
                                <form style="display: inline-block;">
                                    @emailAddress
                                    <button class="link">
                                        <img alt="" src="~/images/icons/minus/minus-24-red.png" title="Delete this formal education"
                                             style="cursor: pointer; margin: 5px 0 8px 8px;" />
                                    </button>
                                </form>
                            }
                            else
                            {
                                @emailAddress
                            }
                        </li>
                    }
                }
            </ul>
        </div>
    }
            @if (Model != null && User.Identity.Name.Equals(Model.Username, StringComparison.OrdinalIgnoreCase))
            {
            <form>
                <input type="email" style="width: 300px;" placeholder="Add new email" />
                <button href="#" class="button" style="margin:0;" >
                    <img alt="" src="~/images/icons/plus/plus-24-green-disc.png" title="Add new email."
                         style="cursor: pointer; margin: 0" />
                    <span style="font-size: 16px; display: inline-block; line-height: 20px; vertical-align: middle;">Add</span>
                </button>
            </form>
            }
</section>
