@using System.Runtime.CompilerServices
@model IEnumerable<UCosmic.Web.Mvc.Models.GeographicExpertiseApiModel>

@* DEGREES *@
<section class="content fixed to-top">
    <div>
        @if (Model != null && Model.Any())
        {
            @* RESULTS *@
            <div>
                <ul style="font-size: 20px; line-height: 28px;">
                    @foreach (var global in Model)
                    {
                        <li style="margin-bottom: 2em;">
                            <ul style="display: inline-block;">
                                @foreach (var location in global.Locations)
                                {
                                    <li class="comma-list"><strong>@location.PlaceOfficialName</strong></li>
                                    @*<li class="comma-list"><strong>test</strong></li>*@
                                }
                            </ul>
                            <div>@global.Description</div>
                        </li>
                    }
                </ul>
            </div>
        }
        else
        {
            @* ZERO RESULTS MESSAGE *@
            <p>
                This person has no known global expertise.
            </p>
        }
    </div>
</section>
