@model UCosmic.Web.Mvc.Models.PersonViewModel
@{
    ViewBag.Title = "Activities for: " + Model.DisplayName;
}
@section bib
{
    <nav class="bib hide" data-current-bib="faculty">
        @Html.Partial(MVC.Activities.Views._Bib)
    </nav>
}
@section scripts
{



    <script type="text/javascript">
    </script>

}
@section styles
{
    <style>
        
    </style>
}
<div class="content fixed to-top" data-current-module="faculty">
    <form class="group">
        <div class="on-left from-top">
            <header>
                <h1>
                    Ucosmic Activities
                </h1>
            </header>
            @Html.Partial(MVC.People.Views._Card)
            @Html.Partial(MVC.People.Views._Content)
        </div>
        <aside class="on-right from-top" data-fixed-scroll="root">
            <div data-fixed-scroll="anchor"></div>
            <div data-fixed-scroll="content">
                @Html.Partial(MVC.People.Views._SidebarNav)
            </div>
        </aside>
    </form>
</div>

