@model UCosmic.Domain.People.Person

@{
    var customProfileTitle = "My UCosmic Profile";
    var tenancy = Request.Tenancy();
    if (tenancy != null && !string.IsNullOrWhiteSpace(tenancy.CustomProfileTitle))
    {
        customProfileTitle = tenancy.CustomProfileTitle;
    }
    ViewBag.Title = customProfileTitle;
}

@section styles
{
    <style>
        table {
            font-style: inherit;
            font-family: inherit;
            font-size: inherit;
            border-collapse: separate;
            border-spacing: 5px;
        }

        td.table-column-label {
            vertical-align: top;
            text-align: right;
        }

        td.table-column-value {
            text-align: left;
        }

        tr.table-row-admin {
            background: #dedede;
        }
    </style>
}

@section scripts
{
    @Scripts.Render("~/bundles/employees/people")

    <script type="text/javascript" src="~/scripts/kendo/2012.3.1114/kendo.web.js"></script>

    <script type="text/javascript">

        $(function () {
            var viewModel = new ViewModels.Employee.PersonalInfo("employeePersonalInfo", new DataContext.EmployeeWebService(@Model.RevisionId));
            $("#accordion").accordion();
            $("#accordion").removeClass("ui-widget");
        });

    </script>

}


@section bib
{
    <nav class="bib hide" data-current-bib="people">
        @Html.Partial(MVC.Admin.Views._Bib)
    </nav>
}

<div id="employeePersonalInfo" class="content fixed to-top" data-current-module="people">
    <div data-side-swiper="root">
        <div data-side-swiper="deck">
            <div data-side-swiper="on">
                <div class="group">
                    <div class="on-left from-top">
                        <header>
                            <h1>@ViewBag.Title</h1>
                        </header>
                        <div data-side-swiper="root" id="search">
                            <div data-side-swiper="deck">
                                <div data-side-swiper="on" class="left">
                                    <div id="accordion">
                                        <h2>My Information</h2>
                                        <div class="fieldset">
                                            <form data-bind="submit: saveInfo">
                                                <table>
                                                    <thead>
                                                        <tr>
                                                            <th style="width: 300px"></th>
                                                            <th style="width: 400px"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td class="table-column-label">Display name:</td>
                                                            <td class="table-column-value">
                                                                <input id="displayName" type="text" style="width: 350px" data-bind="value: _displayName" />
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="table-column-label">
                                                                <input type="checkbox" data-bind="checked: _isDisplayNameDerived, click: derivedNameClickHandler" />
                                                            </td>
                                                            <td class="table-column-value">Automatically generate my display name based on the fields below.</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="table-column-label">Salutation:</td>
                                                            <td class="table-column-value">
                                                                <div>
                                                                    <input id="salutationTextbox" type="text" style="width: 350px" data-bind="value: _salutation, jqObservableElement: '$nameSalutation'" />
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="table-column-label">First name:</td>
                                                            <td class="table-column-value">
                                                                <input type="text" style="width: 350px" data-bind="value: _firstName" />
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="table-column-label">Middle name:</td>
                                                            <td class="table-column-value">
                                                                <input type="text" style="width: 350px" data-bind="value: _middleName" />
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="table-column-label">Last name:</td>
                                                            <td class="table-column-value">
                                                                <input type="text" style="width: 350px" data-bind="value: _lastName" />
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="table-column-label">Suffix:</td>
                                                            <td class="table-column-value">
                                                                <input id="suffixTextbox" type="text" style="width: 350px" data-bind="value: _suffix, jqObservableElement: '$nameSuffix'" />
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="table-column-label">Faculty rank:</td>
                                                            <td class="table-column-value">
                                                                <select id="facultyRankSelector" style="width: 350px"
                                                                    data-bind="options: _facultyRanks, optionsText: 'rank', value: _facultyRank, optionsCaption: '[Unknown]', jqObservableElement: '$facultyRanks'"></select>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="table-column-label">My Preferred Title is:</td>
                                                            <td class="table-column-value">
                                                                <textarea cols="100" rows="2" style="overflow: hidden" data-bind="value: _workingTitle"></textarea>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="table-column-label">Administrative Appointments:</td>
                                                            <td class="table-column-value">
                                                                <textarea cols="100" rows="2" style="overflow: hidden" data-bind="value: _administrativeAppointments"></textarea>
                                                            </td>
                                                        </tr>
                                                        @if (User.IsInRole("Establishment Administrator"))
                                                        {
                                                            <tr class="table-row-admin">
                                                                <td class="table-column-label">&nbsp;Active?</td>
                                                                <td class="table-column-value">
                                                                    <input type="checkbox" data-bind="checked: _isActive" />
                                                                </td>
                                                            </tr>
                                                            <tr class="table-row-admin">
                                                                <td class="table-column-label">Gender:&nbsp;</td>
                                                                <td class="table-column-value">
                                                                    <label>
                                                                        <input type="radio" name="genderGroup" value="M" data-bind="checked: _gender" />
                                                                        <span>Male</span>
                                                                    </label>
                                                                    &nbsp;&nbsp;&nbsp;
                                                                    <label>
                                                                        <input type="radio" name="genderGroup" value="F" data-bind="checked: _gender" />
                                                                        <span>Female</span>
                                                                    </label>
                                                                    &nbsp;&nbsp;&nbsp;
                                                                    <label>
                                                                        <input type="radio" name="genderGroup" value="P" data-bind="checked: _gender" />
                                                                        <span>Undisclosed</span>
                                                                    </label>
                                                                </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                                <div>
                                                    <input type="submit" value="Save" />
                                                </div>
                                            </form>
                                        </div>

                                        <h2>My Email Addresses</h2>
                                        <div class="fieldset">
                                            <form data-bind="submit: saveEmails">
                                                <div>
                                                    <input type="submit" value="Save" />
                                                </div>
                                            </form>
                                        </div>

                                        <h2>My Affiliations</h2>
                                        <div class="fieldset">
                                            <form data-bind="submit: saveAffiliations">
                                                <div>
                                                    <input type="submit" value="Save" />
                                                </div>
                                            </form>
                                        </div>

                                        <h2>My Picture</h2>
                                        <div class="fieldset">
                                            <form data-bind="submit: savePicture">
                                                <div>
                                                    <input type="submit" value="Save" />
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


