body {
    table.data {
        width: 100%;
        margin: 16px 0;

        th {
            border: solid 1px #fff;
            padding: 4px 8px;
            vertical-align: text-top;
            text-align: left;
            background-color: $table-header-bg-color;
            color: $table-header-text-color;
            font-weight: bold;
        }

        td {
            border: solid 1px #fff;
            padding: 4px;
            vertical-align: text-top;
        }

        tbody {
            tr {
                &:nth-child(even) {
                    td {
                        background-color: $table-row-even-bg-color;
                    }
                }

                &.hover-hilite:hover {
                    * {
                        cursor: pointer;
                    }

                    td {
                        background-color: $row-hilite-bg-color;
                    }
                }
            }
        }
    }

    table.activity {
        width: 100%;
        margin: 16px 0;

        td.field-name {
            padding-left: 4px;
            padding-right: 4px;
            padding-top: 16px;
            padding-bottom: 16px;
            text-align: right;
            vertical-align: middle;
        }

        td.required-field-name {
            padding-left: 4px;
            padding-right: 4px;
            padding-top: 16px;
            padding-bottom: 16px;
            text-align: right;
            vertical-align: middle;
        }

        td.required-field-name::after {
            content: "*";
            font-size: large;
            vertical-align: text-top;
            color: #F00;
        }

        td {
            padding-left: 4px;
            padding-right: 4px;
            padding-top: 16px;
            padding-bottom: 16px;
            text-align: left;
            vertical-align: middle;
        }
    }

    ul.data, ol.data {
        > li {
            &.hover-hilite:hover {
                background-color: $row-hilite-bg-color;

                * {
                    cursor: pointer;
                }
            }

            > div {
                @include
                border-box;
                margin-bottom: 1em;
                border: solid 1px #555;
                padding: 16px;
                @include
                border-radius(8px);

                > .on-right {
                    margin-left: 5px;
                }
            }
        }
    }

    ul.data-items, ol.data-items {
        > li {
            margin-bottom: 4px;
        }
    }

    .badge {
        display: inline-block;
        @include
        font-height(12px, 16px);
        margin: 0 0 0 4px;
        @include
        border-radius(4px);
        padding: 2px 6px;
        text-transform: uppercase;
        vertical-align: top;
        @include
        text-shadow;

        &.green {
            background-color: #090;
            color: #fff;
        }

        &.red {
            background-color: #c00;
            color: #fff;
        }

        &.blue {
            background-color: #33f;
            color: #fff !important;
        }

        &.link {
            @include
            text-shadow(0, 0, 0);
            background-color: #fff;
            border: solid 1px $main-link-color;
        }

        &.branded-dark1 {
            background-color: $branded-badge-dark1-bg-color;
            color: $branded-badge-dark1-text-color !important;
        }
    }

    .person-profile {
        margin-bottom: 16px;

        &.clickable:hover {
            *:hover {
                cursor: pointer;
            }

            > .card {
                @include
                border-radius(8px 8px 8px 0);
                border-color: $person-profile-card-bg-color;
                background-color: $person-profile-card-bg-color;
            }

            > .action {
                visibility: visible;
            }
        }

        > .card {
            @include
            border-box;
            @include
            border-radius(8px);
            border: solid 1px transparent;
            padding: 8px;
            background-color: transparent;

            .photo {
                @include
                border-box;
                width: 138px;
                padding-right: 10px;

                img {
                    max-width: 128px;
                    max-height: 128px;
                }
            }

            .name-and-title {
                width: 410px;

                .display-name {
                    @include
                    font-height(28px, 32px);
                }

                .titles {
                    @include
                    font-height(18px, 22px);
                }

                .admin-only {
                    margin-top: 4px;
                }
            }

            .faculty {
                margin-left: 4px;
                padding-top: 8px;
                width: 390px;

                .appointments {
                    padding: 4px 0 0 4px;
                    @include
                    font-height(14px, 16px);
                }
            }
        }

        > .action {
            display: inline-block;
            @include
            border-radius(0 0 8px 8px);
            padding: 0 16px 8px 16px;
            visibility: hidden;
            background-color: $person-profile-card-bg-color;
        }
    }

    .profile-tabs.k-tabstrip {
        background-image: none;
        border-width: 0;

        ul.k-tabstrip-items {
            padding: 0;

            li.k-item {
                margin-left: 4px;
            }
        }

        .k-content {
            margin: 0;
            padding: 8px;
            border-width: 0;
            border-top-width: 1px;
        }
    }

    .user-item {

        .text-data {
            margin-left: 8px;
            width: 580px;
            .user-name {
                font-size: 18px;
                font-weight: bold;
            }
            .display-name {
                font-size: 18px;
                font-weight: normal;
            }
            .roles {
                margin-top: 2px;
                .badge {
                    margin: 2px 2px 2px 0;
                    text-transform: none;
                    img.revoke-button {
                        vertical-align: top;
                        cursor: pointer;
                        margin-left: 2px;
                    }
                }
            }
        }

        .editor {
            margin-left: 8px;
            width: 580px;
            .row {
                margin-top: 12px;
            }
        }

        .menu-box {
            ul.k-menu {
                display: inline-block;
                margin: -8px 0 0 0;
                border: 0;
                background: none;
                background-image: none;
                width: 16px;
                > li {
                    border: 0;
                    width: 16px;
                    &.k-state-hover, &.k-state-hover:hover {
                        border: 0;
                        background: none;
                        background-image: none;
                        @include no-box-shadow;
                    }
                }
            }
            .k-link {
                padding: 0;
                .k-icon.k-i-arrow-s {
                    margin: 0;
                    cursor: pointer;
                }
            }
        }
    }

    .ellipsis {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        -ms-text-overflow: ellipsis;
    }

    .help-icon {
        width: 16px;
        height: 16px;
    }

    .help-icon-position-on-required-field {
        position: relative;
        top: -30px;
        right: 36px;
        width: 16px;
        height: 16px;
    }

    .help-icon-position {
        position: relative;
        top: -28px;
        right: 20px;
        width: 16px;
        height: 16px;
    }

    small {
        font-size: smaller;
    }

    .example {
        font-size: smaller;
        color: #777;
    }
}
