/* main forms stylesheet */

input[type="email"], input[type="number"],   input[type="password"], input[type="search"],
input[type="tel"],   input[type="text"],     input[type="url"],      input[type="color"],
input[type="date"],  input[type="datetime"], input[type="datetime-local"],
input[type="month"], input[type="time"],     input[type="week"], textarea {
    -webkit-appearance: none;
    @include border-box;
    margin: 0;
    width: 100%;
    max-width: 100%;
    @include font-height(16px, 20px);
    height: 38px;
    border: solid 1px #aaa;
    border-right-color: #ddd;
    border-bottom-color: #ddd;
    padding: 8px;
    @include outline-none;
    vertical-align: baseline;
    @include transition(all, 500ms);
    cursor: text;
    @include font-arial;
    &.placeholder {
        color: #999;
    }
    &.validationElement {
        background-color: #ffc0cb;
        border-color: #c00;
        border-right-color: #c66;
        border-bottom-color: #c66;
    }
    &.spinning {
        @include transition(background, 0);
        background-image: url('../../../images/icons/spinner/spinner-20-blue.gif');
        background-position: right top;
        background-repeat: no-repeat;
        background-origin: content-box;
    }
    &[disabled], &[disabled=true] {
        cursor: not-allowed;
    }
}

textarea {
    margin: 0;
    vertical-align: bottom;
    height: auto;
    min-height: 38px;
    &.no-resize {
        resize: none;
    }
}

.text-box {
    @include border-box;
    width: 100%;
    max-width: 100%;
    @include font-height(16px, 20px);
    @include font-arial;
    min-height: 20px;
    border: solid 1px #aaa;
    border-right-color: #ddd;
    border-bottom-color: #ddd;
    padding: 8px;
    &.when-hovered {
        border-color: transparent;
        cursor: pointer;
        * {
            cursor: pointer;
        }
        &:hover {
            border-color: #aaa;
            border-right-color: #ddd;
            border-bottom-color: #ddd;
        }
        &.force-unhoverable {
            border-color: transparent;
            cursor: default;
            * {
                cursor: default;
            }
        }
    }
}

/* Kendo ComboBox overrides */
.k-combobox {
    @include border-box;
    width: 100%;
    .k-dropdown-wrap, .k-dropdown-wrap.k-state-default, .k-dropdown-wrap.k-state-border-down, .k-dropdown-wrap.k-state-hover, .k-dropdown-wrap.k-state-focused {
        @include border-radius(0);
        border: solid 1px #aaa;
        border-right-color: #ddd;
        border-bottom-color: #ddd;
        padding: 0 22px 0 0;
        @include inset-box-shadow(0, 0, 0, 0);
        input.k-input {
            @include border-radius(0);
            border: 0;
            border-right: solid 1px #ddd;
            padding: 8px 0 8px 8px;
            height: 36px;
            text-indent: 0;
            @include font-height(16px, 20px);
            @include font-arial;
            @include inset-box-shadow(0, 0, 0, 0);
            color: #000;
        }
        .k-icon{
            margin-top: 8px;
        }
    }
}

select {
    @include border-box;
    height: 38px;
    border: solid 1px #aaa;
    border-right-color: #ddd;
    border-bottom-color: #ddd;
    padding: 8px 4px;
    @include font-height(16px, 20px);
    &.validationElement {
        background-color: #ffc0cb;
        border-color: #c00;
        border-right-color: #c66;
        border-bottom-color: #c66;
    }
}

select.inline {
    padding: 0;
    height: auto;
    @include font-height(14px, 1);
}

/* Kendo DropDownList overrides */
.k-dropdown {
    @include border-box;
    width: 100%;
    * {
        cursor: pointer;
    }
    .k-dropdown-wrap, .k-dropdown-wrap.k-state-default, .k-dropdown-wrap.k-state-border-down, .k-dropdown-wrap.k-state-hover, .k-dropdown-wrap.k-state-focused {
        @include border-radius(0);
        border: solid 1px #aaa;
        border-right-color: #ddd;
        border-bottom-color: #ddd;
        padding: 0 22px 0 0;
        .k-input {
            @include border-box;
            @include border-radius(0);
            border: 0;
            border-right: solid 1px #ddd;
            padding: 8px 0 8px 8px;
            height: 36px;
            text-indent: 0;
            @include font-height(16px, 20px);
            @include font-arial;
            background-color: #fff;
            color: #000;
        }
        .k-icon{
            margin-top: 8px;
        }
    }
}

.k-list-container {
    .k-list {
        > .k-state-focused {
            @include linear-bg-gradient(270deg, rgb(219, 219, 219), 0, rgb(242, 242, 242), 100%)
        }
    }
}

a.button {
    > .text {
        display: inline-block;
        line-height: 20px;
        vertical-align: middle;
    }
    > i.green.plus {
        display: inline-block;
        vertical-align: middle;
        width: 24px;
        height: 24px;
        margin: -2px 0 0 -2px;
        background-image: url(../../../images/icons/plus/plus-24-green-disc.png);
    }
    > i.red.closer {
        display: inline-block;
        vertical-align: middle;
        width: 24px;
        height: 24px;
        margin: -2px 0 0 -2px;
        background-image: url(../../../images/icons/closer/closer-24-red-disc.png);
    }
}

button, input[type=submit], input[type=reset], input[type=button], a.button, a.button:visited {
    margin: 0 12px 0 0;
    @include border-radius(4px);
    padding: 6px 12px;
    @include font-arial;
    color: $button-text-color !important;
    background-color: $button-bg-color;
    @include opacity(.9);
    text-decoration: none!important;
    &:hover {
        cursor: pointer;
        @include opacity(1);
    }
    &[disabled], &[disabled=true] {
        cursor: not-allowed !important;
        @include opacity(.5);
    }
}

button.link, input[type=submit].link, input[type=reset].link, input[type=button].link, body .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset button[data-css-link=true] {
    display: inline-block;
    margin:0;
    border: 0 none;
    padding: 0;
    background: none;
    cursor: pointer;
    text-decoration: underline !important;
    font-size: 16px;
    @include font-ms;
    color: $main-link-color !important;
    background-color: transparent;
    @include opacity(1);
    &:hover {
        text-decoration: none !important;
    }
    &[disabled], &[disabled=true] {
        color: #555;
        text-decoration: none !important;
        cursor: not-allowed;
    }
}

.k-upload-button {
    width: auto;
    max-width: 300px;
}

.validationMessage, .field-validation-error {
    display: inline-block;
    margin-top: 4px;
    color: #c00;
    font-weight: bold;
}

.validation-summary {
    h3 {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 8px;
    }

    ol, ul {
        margin-left: 20px;
        padding-left: 0;
        color: #c00;
        > li {
            list-style-type: disc;
            margin-bottom: 4px;
        }
    }
}

i.red.minus {
    width: 24px;
    height: 24px;
    background-image: url(../../../images/icons/closer/closer-24-red.png);
    background-position: top left;
    background-repeat: no-repeat;
    &.on-right {
        margin: 8px;
    }
}

form {
    line-height: 1.25;
    .field {
        margin: 16px 0;
        .example {
            font-size: 85%;
        }
    }
    footer {
        margin: 16px 0;
    }
    .side .static .content .field {
        margin: 0;
    }
    select.side {
        @include border-box;
        padding: 0;
        width: 230px;
        @include font-height(14px, 14px);
        height: auto;
    }
}

fieldset {
    &.no-sidebar {
        @include border-box;
        padding: 20px 40px;
        border: solid 1px #ccc;
        border-radius: 12px;
    }

    legend {
        margin-left: 4px;
        font-weight: bold;
        font-size: 20px;
    }
}

.field-table {
    margin: 16px 0;
    .field-row {
        @include group;
        @include border-box;
        width: 100%;
        margin-bottom: 16px;
        &.above-unlabeled-row {
            margin-bottom: 5px;
        }
        .field-label {
            float: left;
            @include border-box;
            padding: 9px 10px 0 0;
            label {
                font-weight: bold;
                &:after {
                    content: ':';
                }
            }
        }
        .field-input {
            @include border-box;
            float: left;
            select {
                @include border-box;
                margin-left: 0;
            }
            &.for-checkables {
                display: inline-block;
                padding: 9px 0;
            }
        }
        .field-value {
            @include border-box;
            float: left;
            padding: 9px 0;
        }
        .field-input, .field-value {
            .field-addendum {
                padding: 5px 0;
            }
        }
    }
    @mixin field-column-split($lWidth, $vWidth) {
        .field-label {
            width: $lWidth;
        }
        .field-input {
            width: $vWidth;
            select {
                /*max-width: $vWidth;*/
                width: $vWidth;
            }
        }
        .field-value {
            width: $vWidth;
        }
        .field-unlabeled-input, .field-unlabeled-value {
            width: $vWidth + $lWidth;
        }
    }
    &.w690-l290-v400 {
        @include field-column-split(290px, 400px);
    }
    &.w690-l250-v440 {
        @include field-column-split(250px, 440px);
    }
    &.w690-l230-v460 {
        @include field-column-split(230px, 460px);
    }
    &.w690-l200-v490 {
        @include field-column-split(200px, 490px);
    }
    &.w690-l190-v500 {
        @include field-column-split(190px, 500px);
    }
    &.w870-l300-v570 {
        @include field-column-split(300px, 570px);
    }
}

.flasher.side {
    * {
        cursor: pointer;
    }

    > .content {
        margin-bottom: 20px;
        margin-left: 4px;
        padding: 8px;
        background-color: #ffec8f;

        > img.closer {
            float: right;
            padding-left: 4px;
        }
    }
}

.typed-item {
    @include border-box;
    margin-bottom: 16px;
    width: 100%;
    padding: 1px;
    background-color: $typed-item-bg-color;
    > .type {
        position: relative;
        width: 80px;
        height: 0;
        line-height: 13px;
        font-size: 13px;
        left: -75px;
        text-align: center;
        @include transform-rotate(270deg);
        @include transform-origin(top right);
        color: $typed-item-text-color;
        text-transform: uppercase;
        @include font-arial;
    }
    > .item {
        background-color: #fff;
        min-height: 64px;
        margin: 0 0 0 24px;
        padding: 8px;
    }
}
