/* suny.edu */

$nav-modules-current-text-color: #eef;
$nav-modules-text-color: #eeeeee;
$nav-modules-text-shadow-x: 0;
$nav-modules-text-shadow-y: 2px;
$nav-modules-text-shadow-blur: 3px;
$nav-modules-text-shadow-color: #000;

$nav-modules-inset-shadow-x: 0;
$nav-modules-inset-shadow-y: -1px;
$nav-modules-inset-shadow-blur: 2px;
$nav-modules-inset-shadow-spread: 0;
$nav-modules-inset-shadow-color: rgba(33, 33, 33, 0.5);

$nav-modules-default-opacity: .6;
$nav-modules-hover-opacity: .8;
$nav-modules-current-opacity: 1;

$banner-bg-color: #000099;
$nav-modules-bg-color: #eef;
$nav-module-bg-color: $banner-bg-color;
$nav-modules-bg-lighter: #01589c;

$flasher-bg-color: rgba(255, 255, 255, .9);
$flasher-bg-color-ie: #e6e6f4;
$flasher-text-color: #333;
$flasher-close-icon: $closer-charcoal-24;
