.is-page-student-table {
    /*.chart_counts span.chart_count_item:after {
    content: ", ";
    }

    .chart_counts span.chart_count_item:last-child:after {
    content: "";
    }*/
  /*paper-spinner{
      height:20px; 
      width: 20px; 
      font-size: 20px;
  }*/
  /*.items > .item:nth-child(even) {
      background-color: #bb3333;
  }
  
  .items > .items2:nth-child(odd) > .item:nth-child(even),
  .items > .items2:nth-child(even) > .item:nth-child(odd) {
      background-color: #bb3333;
  }*/
  /*.items {
      background-color:#dddddd;
  }
  .item:nth-child(odd) {
      background-color:#F3F3F3;
  }
  .items2 {    
      margin-left:1em;
  }
  .item2:nth-child(odd) {
      background-color:#333;
      color:white;
  }*/
    /*.table {
        display: table;
        width: 900px;
    }

    p {
        margin: 0 !important;
    }

    .title {
        display: table-caption;
        text-align: center;
        font-weight: bold;
        font-size: larger;
    }

    .heading {
        display: table-row;
        font-weight: bold;
        text-align: left;
    }
    .row {
        display: table-row;
    }
    
    .row:nth-child(even) .cell {
        background-color: #dddddd;
    }
    .row:nth-child(odd) .cell {
        background-color: #F3F3F3;
    }
    .row:hover .cell {
        background-color: transparent;
    }

    

    .cell {
        display: table-cell;
        border: solid 1px white;
        padding: 4px;
    }

    .row:hover {
        background-color: yellow;
    }*/ }
  .is-page-student-table .page_content {
    width: 800px;
    padding: 0 20px 20px 0;
    margin-right: 20px; }
  .is-page-student-table .items, .is-page-student-table .item2, .is-page-student-table .item {
    padding: 6px 10px; }
  .is-page-student-table google-chart {
    width: 600px;
    height: 300px; }
  .is-page-student-table .chart_counts span.chart_count_item + span.chart_count_item:before {
    content: "- "; }
  .is-page-student-table .chart_count_item span:first-child {
    font-weight: bold; }
  .is-page-student-table .chart_counts {
    margin-left: 10px; }
  .is-page-student-table .action_close_container {
    margin-right: 5px; }
  .is-page-student-table .dropdown-content {
    max-height: 300px; }
  .is-page-student-table .items > .item:nth-of-type(even) {
    background-color: #dddddd; }
  .is-page-student-table .items > .item:nth-of-type(odd) {
    background-color: #F3F3F3; }
  .is-page-student-table .items2 > .item2:nth-of-type(even) {
    background-color: #aeaeae; }
  .is-page-student-table .items2 > .item2:nth-of-type(odd) {
    background-color: #cacaca; }
  .is-page-student-table table {
    width: 900px; }
  .is-page-student-table tr:nth-child(even) td {
    background-color: #dddddd; }
  .is-page-student-table tr:nth-child(odd) td {
    background-color: #F3F3F3; }
  .is-page-student-table tr:hover td {
    background-color: transparent; }
  .is-page-student-table tbody tr:hover {
    background-color: yellow; }
  .is-page-student-table td, .is-page-student-table th {
    border: solid 1px white;
    padding: 4px;
    /*padding-left: 5px;
    padding-right: 5px;*/ }
  .is-page-student-table th {
    font-weight: bold;
    text-align: left;
    padding: 8px 4px; }

/*# sourceMappingURL=table.css.map */
