.is-page-student-table {
    .level_1{
    }
    .page_content{
        width: 800px;
        padding: 0 20px 20px 0;
        margin-right: 20px;
    }
    .items div, .items2 div {
        padding: 6px 10px;
    }
    /*paper-spinner{
        height:20px; 
        width: 20px; 
        font-size: 20px;
    }*/
/*.items > .item:nth-child(even) {
    background-color: #bb3333;
}

.items > .items2:nth-child(odd) > .item:nth-child(even),
.items > .items2:nth-child(even) > .item:nth-child(odd) {
    background-color: #bb3333;
}*/
        .items > .item:nth-of-type(even){
            background-color: #dddddd;
        }
        .items > .item:nth-of-type(odd){
            background-color: #F3F3F3;
        }
        .items2 > .item2:nth-of-type(even){
            background-color: #aeaeae;
        }
        .items2 > .item2:nth-of-type(odd){
            background-color: #cacaca;
        }
/*.items {
    background-color:#dddddd;
}
.item:nth-child(odd) {
    background-color:#F3F3F3;
}
.items2 {    
    margin-left:1em;
}
.item2:nth-child(odd) {
    background-color:#333;
    color:white;
}*/

    table {
        width: 900px;
        }
    tr:nth-child(even) td {
        background-color: #dddddd;
    }
    tr:nth-child(odd) td {
        background-color: #F3F3F3;
    }
    tr:hover td {
        background-color: transparent;
    }    
    tbody tr:hover {
        background-color: yellow;
    }
    td, th {
        border: solid 1px white;
        padding: 4px;
        /*padding-left: 5px;
        padding-right: 5px;*/
    }
    
    th{
        font-weight: bold;
        text-align: left;
        padding: 8px 4px;
        }

    /*.table {
        display: table;
        width: 900px;
    }

    p {
        margin: 0 !important;
    }

    .title {
        display: table-caption;
        text-align: center;
        font-weight: bold;
        font-size: larger;
    }

    .heading {
        display: table-row;
        font-weight: bold;
        text-align: left;
    }
    .row {
        display: table-row;
    }
    
    .row:nth-child(even) .cell {
        background-color: #dddddd;
    }
    .row:nth-child(odd) .cell {
        background-color: #F3F3F3;
    }
    .row:hover .cell {
        background-color: transparent;
    }

    

    .cell {
        display: table-cell;
        border: solid 1px white;
        padding: 4px;
    }

    .row:hover {
        background-color: yellow;
    }*/
}
