/* umn.edu forms importer */
/* main sass bootstrap */
/* suny.edu brand values */
/* default variable values */
/* umn.edu brand values */
/* umn.edu variable values */
/* main forms stylesheet */
input[type="email"], input[type="number"], input[type="password"], input[type="search"],
input[type="tel"], input[type="text"], input[type="url"], input[type="color"],
input[type="date"], input[type="datetime"], input[type="datetime-local"],
input[type="month"], input[type="time"], input[type="week"], textarea {
  -webkit-appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  font-size: 16px;
  line-height: 20px;
  height: 38px;
  border: solid 1px #aaa;
  border-right-color: #ddd;
  border-bottom-color: #ddd;
  padding: 8px;
  -moz-outline: none;
  outline: none;
  vertical-align: baseline;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
  cursor: text;
  font-family: Arial, Helvetica, sans-serif; }
  input[type="email"].placeholder, input[type="number"].placeholder, input[type="password"].placeholder, input[type="search"].placeholder,
  input[type="tel"].placeholder, input[type="text"].placeholder, input[type="url"].placeholder, input[type="color"].placeholder,
  input[type="date"].placeholder, input[type="datetime"].placeholder, input[type="datetime-local"].placeholder,
  input[type="month"].placeholder, input[type="time"].placeholder, input[type="week"].placeholder, textarea.placeholder {
    color: #999; }
  input[type="email"].validationElement, input[type="number"].validationElement, input[type="password"].validationElement, input[type="search"].validationElement,
  input[type="tel"].validationElement, input[type="text"].validationElement, input[type="url"].validationElement, input[type="color"].validationElement,
  input[type="date"].validationElement, input[type="datetime"].validationElement, input[type="datetime-local"].validationElement,
  input[type="month"].validationElement, input[type="time"].validationElement, input[type="week"].validationElement, textarea.validationElement {
    background-color: #ffc0cb;
    border-color: #c00;
    border-right-color: #c66;
    border-bottom-color: #c66; }
  input[type="email"].spinning, input[type="number"].spinning, input[type="password"].spinning, input[type="search"].spinning,
  input[type="tel"].spinning, input[type="text"].spinning, input[type="url"].spinning, input[type="color"].spinning,
  input[type="date"].spinning, input[type="datetime"].spinning, input[type="datetime-local"].spinning,
  input[type="month"].spinning, input[type="time"].spinning, input[type="week"].spinning, textarea.spinning {
    -webkit-transition: background 0;
    -moz-transition: background 0;
    -o-transition: background 0;
    transition: background 0;
    background-image: url("../../icons/spinner-20-blue.gif");
    background-position: right top;
    background-repeat: no-repeat;
    background-origin: content-box; }

textarea {
  height: auto;
  min-height: 38px; }
  textarea.no-resize {
    resize: none; }

.text-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  font-size: 16px;
  line-height: 20px;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 20px;
  border: solid 1px #aaa;
  border-right-color: #ddd;
  border-bottom-color: #ddd;
  padding: 8px; }
  .text-box.when-hovered {
    border-color: transparent;
    cursor: pointer; }
    .text-box.when-hovered * {
      cursor: pointer; }
    .text-box.when-hovered:hover {
      border-color: #aaa;
      border-right-color: #ddd;
      border-bottom-color: #ddd; }
    .text-box.when-hovered.force-unhoverable {
      border-color: transparent;
      cursor: default; }
      .text-box.when-hovered.force-unhoverable * {
        cursor: default; }

select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 38px;
  border: solid 1px #aaa;
  border-right-color: #ddd;
  border-bottom-color: #ddd;
  padding: 8px;
  font-size: 16px;
  line-height: 20px; }

select.inline {
  padding: 0;
  height: auto;
  font-size: 14px;
  line-height: 1; }

a.button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 38px;
  display: inline-block;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  border: solid 1px #ccc;
  padding: 8px 10px 8px 8px;
  font-size: 16px;
  line-height: 20px;
  background-image: -webkit-linear-gradient(270deg, #dddddd 0, #bbbbbb 100%);
  background-image: -moz-linear-gradient(270deg, #dddddd 0, #bbbbbb 100%);
  background-image: linear-gradient(270deg, #dddddd 0, #bbbbbb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(StartColorStr='#dddddd', EndColorStr='#bbbbbb');
  color: #333 !important;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-decoration: none !important; }
  a.button:hover {
    background-image: -webkit-linear-gradient(270deg, #cccccc 0, #aaaaaa 100%);
    background-image: -moz-linear-gradient(270deg, #cccccc 0, #aaaaaa 100%);
    background-image: linear-gradient(270deg, #cccccc 0, #aaaaaa 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(StartColorStr='#cccccc', EndColorStr='#aaaaaa'); }
  a.button:active {
    background-image: -webkit-linear-gradient(270deg, #aaaaaa 0, #cccccc 100%);
    background-image: -moz-linear-gradient(270deg, #aaaaaa 0, #cccccc 100%);
    background-image: linear-gradient(270deg, #aaaaaa 0, #cccccc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(StartColorStr='#aaaaaa', EndColorStr='#cccccc'); }
  a.button > .text {
    display: inline-block;
    line-height: 20px;
    vertical-align: middle; }
  a.button > i.green.plus {
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    margin: -2px 0 0 -2px;
    background-image: url(../../icons/plus-24-green-disc.png); }
  a.button > i.red.closer {
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    margin: -2px 0 0 -2px;
    background-image: url(../../icons/closer-24-red-disc.png); }

button, input[type=submit], input[type=reset], input[type=button] {
  margin: 0 12px 0 0;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 6px 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffcc33;
  background-color: #7a0019;
  -moz-opacity: 0.9;
  opacity: 0.9;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90); }
  button:hover, input[type=submit]:hover, input[type=reset]:hover, input[type=button]:hover {
    cursor: pointer;
    -moz-opacity: 1;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); }
  button[disabled], input[type=submit][disabled], input[type=reset][disabled], input[type=button][disabled] {
    cursor: default !important;
    -moz-opacity: 0.5;
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); }

button.link, input[type=submit].link, input[type=reset].link, input[type=button].link, body .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset button[data-css-link=true] {
  display: inline-block;
  margin: 0;
  border: 0 none;
  padding: 0;
  background: none;
  cursor: pointer;
  text-decoration: underline !important;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #7a0019;
  background-color: transparent;
  -moz-opacity: 1;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); }
  button.link:hover, input[type=submit].link:hover, input[type=reset].link:hover, input[type=button].link:hover, body .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset button[data-css-link=true]:hover {
    text-decoration: none !important; }
  button.link[disabled], input[type=submit].link[disabled], input[type=reset].link[disabled], input[type=button].link[disabled], body .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset button[data-css-link=true][disabled] {
    color: #555;
    text-decoration: none !important;
    cursor: default; }

.validationMessage {
  color: #c00;
  font-weight: bold; }

i.red.minus {
  width: 24px;
  height: 24px;
  background-image: url(../../icons/closer-24-red.png);
  background-position: top left;
  background-repeat: no-repeat; }
  i.red.minus.on-right {
    margin: 8px; }

form {
  line-height: 1.25; }
  form .field {
    margin: 16px 0; }
    form .field .example {
      font-size: 85%; }
  form footer {
    margin: 16px 0; }
  form .side .static .content .field {
    margin: 0; }
  form select.side {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    width: 230px;
    font-size: 14px;
    line-height: 14px;
    height: auto; }

.typed-item {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 16px;
  width: 100%;
  padding: 1px;
  background-color: #7a0019; }
  .typed-item > .type {
    position: relative;
    width: 80px;
    height: 0;
    line-height: 13px;
    font-size: 13px;
    left: -75px;
    text-align: center;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
    -webkit-transform-origin: top right;
    -moz-transform-origin: top right;
    -ms-transform-origin: top right;
    -o-transform-origin: top right;
    transform-origin: top right;
    color: #ffcc33;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif; }
  .typed-item > .item {
    background-color: #fff;
    min-height: 64px;
    margin: 0 0 0 24px;
    padding: 8px; }

