@model UCosmic.Web.Mvc.Models.SignInForm
@{
    ViewBag.Title = "Sign into UCosmic";
}

<div class="fixed content" data-current-module="admin">
    <header>
        <h1>@ViewBag.Title</h1>
    </header>
    <div class="group">
        <div class="on-left" style="width: 470px;">
            @using (Html.BeginForm())
            {
                <div class="field">
                    @Html.TextBoxFor(m => m.UserName, new { placeholder = "[Email Address]" })
                </div>
                <div class="field">
                    @Html.PasswordFor(m => m.Password, new { placeholder = "[Password]" })
                </div>
                <div class="field">
                    @{ @Html.CheckBoxFor(m => m.RememberMe); } Remember me
                </div>
                <input type="submit" value="Submit" />
            }
        </div>
    </div>
    @*<a id="sign_in_async" href="#">Sign In Async</a>
    <a id="sign_out_async" href="#">Sign Out Async</a>*@
</div>
@*@section scripts
{
    <script type="text/javascript">
        $(function () {
            $('#sign_in_async').on('click', function () {
                $.post(App.Routes.WebApi.Identity.signIn(), {
                    userName: 'Daniel.Ludwig@uc.edu',
                    password: 'asdfasdf'
                })
                .success(function (response, arg2, arg3, arg4, arg5) {
                    alert('in success');
                });
            });
            $('#sign_out_async').on('click', function () {
                $.get(App.Routes.WebApi.Identity.signOut())
                .success(function (response, arg2, arg3, arg4, arg5) {
                    alert('out success');
                });
            });
        });
    </script>
}*@
