$usf-brand-green: rgba(0, 103, 71, 1);
$usf-brand-gold: rgba(207, 196, 147, 1);
$usf-brand-gold-2: #e0d1a5;

$usf-accent-lemon: rgba(219, 228, 66, 1);
$usf-accent-lime: rgba(156, 203, 59, 1);
$usf-accent-teal: rgba(0, 147, 116, 1);
$usf-accent-sky: rgba(41, 175, 206, 1);
$usf-accent-sea: rgba(128, 176, 166, 1);
$usf-accent-silver: rgba(126, 150, 160, 1);
$usf-accent-blue: rgba(0, 100, 132, 1);
$usf-accent-slate: rgba(70, 96, 105, 1);
$usf-accent-grape: rgba(111, 38, 135, 1);
$usf-accent-pink: rgba(214, 0, 128, 1);
$usf-accent-red: rgba(187, 24, 71, 1);
$usf-accent-brown: rgba(116, 59, 25, 1);

.usf-color {
    color: $usf-brand-green;
    color: $usf-brand-gold;
    color: $usf-accent-lemon;
    color: $usf-accent-lime;
    color: $usf-accent-teal;
    color: $usf-accent-sky;
    color: $usf-accent-sea;
    color: $usf-accent-silver;
    color: $usf-accent-blue;
    color: $usf-accent-slate;
    color: $usf-accent-grape;
    color: $usf-accent-pink;
    color: $usf-accent-red;
    color: $usf-accent-brown;
}