/* usf.edu forms importer */
/* main sass bootstrap */
/* suny.edu brand values */
/* default variable values */
/* usf.edu brand values */
/* usf.edu variable values */
/* main forms stylesheet */
input[type="email"], input[type="number"], input[type="password"], input[type="search"],
input[type="tel"], input[type="text"], input[type="url"], input[type="color"],
input[type="date"], input[type="datetime"], input[type="datetime-local"],
input[type="month"], input[type="time"], input[type="week"], textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  font-size: 16px;
  line-height: 20px;
  height: 38px;
  border: solid 1px #aaa;
  border-right-color: #ddd;
  border-bottom-color: #ddd;
  /* @include border-radius(3px); */
  padding: 8px;
  -moz-outline: none;
  outline: none;
  vertical-align: baseline;
  /* background-color: #eee; */
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
  cursor: text;
  font-family: Arial, Helvetica, sans-serif; }
  input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus,
  input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus,
  input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus,
  input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, textarea:focus {
    /* background: #ffe; */ }
  input[type="email"].placeholder, input[type="number"].placeholder, input[type="password"].placeholder, input[type="search"].placeholder,
  input[type="tel"].placeholder, input[type="text"].placeholder, input[type="url"].placeholder, input[type="color"].placeholder,
  input[type="date"].placeholder, input[type="datetime"].placeholder, input[type="datetime-local"].placeholder,
  input[type="month"].placeholder, input[type="time"].placeholder, input[type="week"].placeholder, textarea.placeholder {
    color: #999; }

select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 38px;
  border: solid 1px #aaa;
  border-right-color: #ddd;
  border-bottom-color: #ddd;
  padding: 8px;
  font-size: 16px;
  line-height: 20px; }

a.button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 38px;
  display: inline-block;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  border: solid 1px #ccc;
  padding: 8px 10px 8px 8px;
  font-size: 16px;
  line-height: 20px;
  background-image: -webkit-linear-gradient(270deg, #dddddd 0%, #bbbbbb 100%);
  background-image: -moz-linear-gradient(270deg, #dddddd 0%, #bbbbbb 100%);
  background-image: linear-gradient(270deg, #dddddd 0%, #bbbbbb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(StartColorStr='#dddddd', EndColorStr='#bbbbbb');
  color: #333 !important;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-decoration: none !important; }
  a.button:hover {
    background-image: -webkit-linear-gradient(270deg, #cccccc 0%, #aaaaaa 100%);
    background-image: -moz-linear-gradient(270deg, #cccccc 0%, #aaaaaa 100%);
    background-image: linear-gradient(270deg, #cccccc 0%, #aaaaaa 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(StartColorStr='#cccccc', EndColorStr='#aaaaaa'); }
  a.button:active {
    background-image: -webkit-linear-gradient(270deg, #aaaaaa 0%, #cccccc 100%);
    background-image: -moz-linear-gradient(270deg, #aaaaaa 0%, #cccccc 100%);
    background-image: linear-gradient(270deg, #aaaaaa 0%, #cccccc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(StartColorStr='#aaaaaa', EndColorStr='#cccccc'); }
  a.button > .text {
    display: inline-block;
    line-height: 20px;
    vertical-align: middle; }
  a.button > i.green.plus {
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    margin: -2px 0 0 -2px;
    background-image: url(../../icons/plus-24-green-disc.png); }
  a.button > i.red.closer {
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    margin: -2px 0 0 -2px;
    background-image: url(../../icons/closer-24-red-disc.png); }

i.red.minus {
  width: 24px;
  height: 24px;
  background-image: url(../../icons/closer-24-red.png);
  background-position: top left;
  background-repeat: no-repeat; }
  i.red.minus.float-right {
    margin: 8px; }

form {
  line-height: 1.25; }
  form .field {
    margin: 16px 0; }
  form footer {
    margin: 16px 0; }
  form.side .field {
    margin: 0; }
  form select.side {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    width: 230px;
    font-size: 14px;
    line-height: 14px;
    height: auto; }

.typed-item {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 16px;
  width: 100%;
  padding: 1px;
  background-color: #006747; }
  .typed-item > .type {
    position: relative;
    width: 80px;
    height: 0px;
    line-height: 13px;
    font-size: 13px;
    left: -75px;
    text-align: center;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
    -webkit-transform-origin: top right;
    -moz-transform-origin: top right;
    -ms-transform-origin: top right;
    -o-transform-origin: top right;
    transform-origin: top right;
    color: #e0d1a5;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif; }
  .typed-item > .item {
    background-color: #fff;
    min-height: 64px;
    margin: 0 0 0 24px;
    padding: 8px; }

