<ul class="group">
    <li id="bib-faculty-staff-summary" class="summary">
        <a href="#/summary">Summary</a>
    </li>
    <li id="bib-faculty-staff-search" class="search">
        <a href="#/search">Search</a>
    </li>
    <li id="bib-faculty-staff-expert" class="expert">
        <a href="#/expert">Find an Expert</a>
    </li>
    <li id="bib-faculty-staff" class="faculty">
        <a href="#">Activity Detail</a>
    </li>
</ul>
