/* uc layout importer */

@import '../../sass/bootstrap';
@import '../_default/values';
@import 'brand';
@import 'values';
@import '../../sass/sheets/layout';

body {
    #main {
        > .content {
            h1 {
                background-image: url(ingot-32-9.gif);
                background-position: bottom left;
                background-repeat: no-repeat;
                padding-bottom: 12px;
            }
        }
    }
}
