/* uc.edu variable values */

$nav-my-bg-color: $uc-brand-red;
$nav-my-link-border-color: #000;
$nav-my-link-color: #fff;
$nav-my-link-hover-bg-color: #000;
$nav-my-link-hover-text-color: #fff;
$nav-my-email-link-color: #000;

$nav-modules-current-text-color: #eee;
$nav-modules-text-color: #fff;
$nav-modules-text-shadow-x: 0;
$nav-modules-text-shadow-y: 2px;
$nav-modules-text-shadow-blur: 3px;
$nav-modules-text-shadow-color: #000;

$nav-modules-inset-shadow-x: 0;
$nav-modules-inset-shadow-y: -1px;
$nav-modules-inset-shadow-blur: 2px;
$nav-modules-inset-shadow-spread: 0;
$nav-modules-inset-shadow-color: rgba(33, 33, 33, 0.5);

$nav-modules-default-opacity: .8;
$nav-modules-hover-opacity: .9;
$nav-modules-current-opacity: 1;

$banner-height: 100px;
$banner-outer-bg: transparent;
$banner-bg-color: #000;
$nav-modules-bg-color: $uc-brand-red;
$nav-module-bg-color: $banner-bg-color;
$nav-modules-bg-lighter: #333;

$flasher-border: solid 2px $uc-brand-red;
$flasher-bg-color: rgba(255, 255, 255, .85);
$flasher-bg-color-ie: #eee;
$flasher-text-color: #333;
$flasher-close-icon: $closer-dark-24;

$nav-bib-bg-color: $uc-brand-red;
$nav-bib-link-text-color: #eee;
$nav-bib-link-hover-text-color: #eee;
$nav-bib-link-hover-bg-color: #b8011d;
$nav-bib-current-bg-color: #000;
$nav-bib-current-text-color: #eee;

$footer-bg-color: #000;
$footer-text-color: #fff;
$footer-link-text-color: #fff;
$footer-link-border-color: $uc-brand-red;

$heading-text-color: #000;

$sidebar-default-bg-color: #ddd;
$sidebar-default-text-color: $uc-brand-red;
$sidebar-hover-bg-color: $uc-brand-red;
$sidebar-hover-text-color: #fff;
$sidebar-current-bg-color: #000;
$sidebar-current-text-color: #fff;
$sidebar-content-text-color: $uc-brand-red;
